<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>定制过程通知</title>
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <link rel="stylesheet" href="${STATIC_URL}css/customProcess/customProcess.css">
    <script type="text/javascript" src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
</head>
<body>
    <div id="customProcess">
        <el-dialog title="定制过程通知" :visible.sync="addDialogVisible" width="80%" center>
            <div v-if="customProcessTableStatus == 'list'">
                <el-row>
                    <el-col :span="24">
                        <div>过程通知节点列表</div>
                        <hr>
                    </el-col>
                </el-row>
                <div style="text-align: right">
                    <el-button type="primary" size="medium" @click="customProcessAddNode()">新增过程节点</el-button>
                </div>
                <el-table :data="customProcessTableData" id="customProcessTable">
                    <el-table-column prop="node_name" label="节点名称">
                    </el-table-column>
                    <el-table-column prop="send_content" label="通知内容">
                    </el-table-column>
                    <el-table-column prop="seq" label="节点顺序">
                    </el-table-column>
                    <el-table-column prop="receivers" label="通知接收人">
                    </el-table-column>
                    <el-table-column prop="operation" label="操作">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="customProcessEditNode(scope.row.id)">编辑</el-button>
                            <el-button type="text" size="small" @click="customProcessDeleteNode(scope.row.id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-row class="customProcessFormButton">
                    <el-button type="primary" @click="addDialogVisible = false">关 闭</el-button>
                </el-row>
            </div>
            <div v-if="customProcessTableStatus == 'add'">
                <el-row>
                    <el-col :span="24">
                        <div>过程通知节点添加</div>
                        <hr>
                    </el-col>
                </el-row>
                <el-form :rules="rules" :model="customProcessNode" ref="customProcessNode" label-position="right" label-width="100px">
                    <el-row>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="节点名称:" prop="node_name">
                                <el-input v-model="customProcessNode.node_name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="通知内容:" prop="send_content">
                                <el-input v-model="customProcessNode.send_content"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="节点顺序:" prop="seq">
                                <el-input v-model="customProcessNode.seq"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="通知接收人:" prop="receivers">
                                <el-input v-model="customProcessNode.receivers"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="customProcessFormButton">
                        <el-button @click="customProcessListNode()">取 消</el-button>
                        <el-button type="primary" @click="customProcessSaveNodeInfo('customProcessNode')">添 加</el-button>
                    </el-row>
                    </el-form-item>
                </el-form>
            </div>
            <div v-if="customProcessTableStatus == 'edit'">
                <el-row>
                    <el-col :span="24">
                        <div>过程通知节点修改</div>
                        <hr>
                    </el-col>
                </el-row>
                <el-form :rules="rules" :model="customProcessNode" ref="customProcessNode" label-position="right" label-width="100px">
                    <el-row>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="节点名称:" prop="node_name">
                                <el-input v-model="customProcessNode.node_name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="通知内容:" prop="send_content">
                                <el-input v-model="customProcessNode.send_content"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="节点顺序:" prop="seq">
                                <el-input v-model="customProcessNode.seq"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="11" :offset="1">
                            <el-form-item label="通知接收人:" prop="receivers">
                                <el-input v-model="customProcessNode.receivers"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="customProcessFormButton">
                        <el-button @click="customProcessListNode()">取 消</el-button>
                        <el-button type="primary" @click="customProcessSaveNodeInfo('customProcessNode')">修 改</el-button>
                    </el-row>
                    </el-form-item>
                </el-form>
            </div>
        </el-dialog>
        <el-dialog title="发送短信通知" :visible.sync="customProcessSendMsgDialogVisible" width="60%" :before-close="customProcessHandleClose" center>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    通知人：<span>{{ customProcessReceivers }}</span>
                </div>
                通知内容：<span>{{ customProcessNoticeContent }}</span>
            </el-card>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="customProcessSendMsgDialogVisible = false">发送短信</el-button>
            </span>
        </el-dialog>
        <el-row>
            <el-col :span="24">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item>首页</el-breadcrumb-item>
                    <el-breadcrumb-item>执行定制过程通知设置</el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-card shadow="always" class="box-card">
                    <el-row>
                        <el-col :span="24">
                            <div id="customProcessTitle">执行定制过程通知设置</div>
                            <hr>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24">
                            <el-row>
                                <el-col :span="24" style="text-align: center">
                                    <el-button :type="customProcessStartButtonType" @click="customProcessBegin()" :disabled="customProcessStartButtonDisabled" v-if="customProcessStepSum > 0">{{ customProcessStartButtonText }}</el-button>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24" v-if="customProcessStepSum == 0">
                                    <div id="customProcessContent">
                                        <el-alert id="customProcessWarn" title="当前无任何过程通知" type="warning" show-icon center></el-alert>
                                    </div>
                                </el-col>
                                <el-col :span="6" :offset="11" style="padding-top: 50px;" v-show="customProcessStepSum > 0">
                                    <div style="height: 800px;">
                                        <el-steps id="customMainProcess" direction="vertical" :active="customProcessStep" finish-status="success" process-status="finish">
                                            <el-step :title="processData.node_name" v-for="processData in customProcessTableData"></el-step>
                                        </el-steps>
                                    </div>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <div id="customProcessAddButton">
                                        <el-button-group>
                                            <el-button type="success" size="small" @click="addDialogVisible = true" :disabled="customProcessStatus">添加 / 修改过程通知</el-button>
                                            <el-button type="danger" size="small" @click="customProcessDelete()" :disabled="!customProcessHasNode">删除当前过程通知</el-button>
                                        </el-button-group>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                </el-card>
            </el-col>
        </el-row>
    </div>
</body>
<script>
    //csrf验证
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var vue = new Vue({
        el: '#customProcess',
        data: {
            //执行流程按钮属性控制
            customProcessStartButtonType: 'primary',
            customProcessStartButtonText: '开始执行流程',
            customProcessStartButtonDisabled: false,
            addDialogVisible: false,
            customProcessSendMsgDialogVisible: false,
            //添加节点的table当前状态，list=列表显示,add=添加节点,edit=编辑节点
            customProcessTableStatus: 'list',
            //当前流程中节点所处的位置，初始化为-1即未开始流程，后续应从数据库表中读取该信息
            customProcessStep: -1,
            //当前流程中节点总数，后续应从数据库读取该信息,或直接计算processDataList的长度获得
            customProcessStepSum: -1,
            //流程是否已经开始执行，应该根据数据库中的信息来判断
            customProcessStatus: false,
            //当前是否有流程节点标记位
            customProcessHasNode: false,
            customProcessReceivers: '',
            customProcessNoticeContent: '',
            customProcessNode: {
                /*node_name: null,
                send_content: null,
                seq: null,
                receivers: null*/
            },
            customProcessTableData: [],
            //校验规则定义
            rules: {
                node_name: [
                    { required: true, message: '请输入节点名称', trigger: 'blur' },
                    { min: 1, max: 50, message: '节点名称长度在1~50之间', trigger: 'blur' }
                ],
                send_content: [
                    { required: true, message: '请输入通知内容', trigger: 'blur' },
                    { min: 1, max: 1000, message: '通知内容长度在1~1000之间', trigger: 'blur' }
                ],
                seq: [
                    { required: true, message: '请输入节点顺序', trigger: 'blur' },
                    { pattern: /^[1-9][0-9]{0,1}$/, message: '节点值在1~99之间', trigger: 'blur' }
                ],
                receivers: [
                    { required: true, message: '请输入通知接收人', trigger: 'blur' },
                    { min: 1, max: 1000, message: '通知接收人长度在1~1000之间', trigger: 'blur' }
                ]
            }
        },
        methods:{
            //Date()对象转yyyy-MM-dd HH:mm:ss函数
            formatDateTime: function (date) {
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h=h < 10 ? ('0' + h) : h;
                var minute = date.getMinutes();
                minute = minute < 10 ? ('0' + minute) : minute;
                var seconds = date.getSeconds();
                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                return y + '-' + m + '-' + d+' '+h+':'+minute+':'+seconds;
            },
            //弹出加载界面
            customProcessPopupLoading: function() {
                //返回加载标记，供外部关闭
                return this.$loading({
                    lock: true,
                    text: '正在拼命加载中...',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
            },
            //弹出数据加载错误的警告信息
            customProcessPopupErrorMessage: function(msg) {
                this.$notify.error({
                  title: '错误',
                  message: msg
                });
            },
            //生成当前执行节点的信息
            generateCurrentProcessInfo: function() {
                const loading = this.customProcessPopupLoading();
                //上传当前节点执行信息
                var url = '${SITE_URL}customProcess/update_node_status';
                var execTime = this.formatDateTime(new Date());
                //此处执行人固定，实际使用时应该从接口取用户名称
                var execPerson = 'lhAdmin';
                var statusData = {};
                statusData.node_id = this.customProcessTableData[this.customProcessStep].id;
                statusData.is_done = 'c';
                statusData.do_time = execTime;
                statusData.do_person = execPerson;
                axios({
                    method: 'post',
                    url: url,
                    data: statusData
                }).then((res) =>{
                    if('ok' == res.data.message){
                        loading.close();
                    }else{
                        var msg = '节点信息上传失败！';
                        this.customProcessPopupErrorMessage(msg);
                    }
                }).catch((res) => {
                    var msg = '节点信息上传失败！';
                    this.customProcessPopupErrorMessage(msg);
                });
                var customProcessExecPerson = '<div>执行人：'+ execPerson +'</div>';
                var customProcessExecTime = '<div>' + execTime + '</div>';
                var customProcessExecStatus = '<div id="customProcessExecStatus">执行状态：正在执行...<i class="el-icon-loading"></i></div>';
                var customProcesses = $('#customMainProcess').children();
                var selectedProcess = customProcesses.eq(this.customProcessStep);
                selectedProcess.find('.el-step__description')
                        .html(customProcessExecPerson + customProcessExecTime + customProcessExecStatus);
                var nextButton = '<button id="customProcessNextButton" type="button" class="el-button el-button--success el-button--small" onclick="vue.customProcessNextNode()"><span>下一步</span></button>';
                selectedProcess.find('.el-step__main').append(nextButton);
            },
            //执行下一个节点
            customProcessNextNode: function() {
                const loading = this.customProcessPopupLoading();
                //上传当前节点已执行状态
                var url = '${SITE_URL}customProcess/change_status_flag';
                var statusData = {};
                statusData.node_id = this.customProcessTableData[this.customProcessStep].id;
                statusData.is_done = 'y';
                axios({
                    method: 'post',
                    url: url,
                    data: statusData
                }).then((res) =>{
                    if('ok' == res.data.message){
                        loading.close();
                    }else{
                        var msg = '节点信息上传失败！';
                        this.customProcessPopupErrorMessage(msg);
                    }
                }).catch((res) => {
                    var msg = '节点信息上传失败！';
                    this.customProcessPopupErrorMessage(msg);
                });
                this.customProcessStep += 1;
                var customProcessExecStatus = '执行状态：执行完毕！<i class="el-icon-check"></i>';
                var temp = $('#customProcessExecStatus');
                temp.html(customProcessExecStatus);
                temp.removeAttr('id');
                $('#customProcessNextButton').remove();
                //如果当前已经执行到最后一个节点
                if(this.customProcessStep == this.customProcessStepSum){
                    this.customProcessStartButtonType = 'info';
                    this.customProcessStartButtonText = '当日流程已执行完毕';
                    this.customProcessEnd();
                    return;
                }
                this.customProcessSendMessage(this.customProcessStep - 1);
                this.generateCurrentProcessInfo();
            },
            //发送短信通知
            customProcessSendMessage(nodeOrder) {
                this.customProcessReceivers = this.customProcessTableData[nodeOrder].receivers;
                this.customProcessNoticeContent = this.customProcessTableData[nodeOrder].send_content;
                this.customProcessSendMsgDialogVisible = true;
            },
            //短信通知关闭前的确认
            customProcessHandleClose() {
                this.$confirm('确定不发送短信通知吗？').then(_ => {
                    this.customProcessSendMsgDialogVisible = false;
                }).catch(_ => {

                });
            },
            //切换添加节点的界面
            customProcessAddNode: function() {
                this.customProcessTableStatus = 'add';
            },
            //切换列出所有节点的界面
            customProcessListNode: function() {
                this.customProcessNode = {};
                this.customProcessTableStatus = 'list';
            },
            //切换修改节点信息的界面
            customProcessEditNode: function(id) {
                const loading = this.customProcessPopupLoading();
                var url = '${SITE_URL}customProcess/select_node';
                var editData = {};
                editData.id = id;
                axios({
                    method: 'post',
                    url: url,
                    data: editData,
                }).then((res) =>{
                    loading.close();
                    this.customProcessNode = res.data.message[0];
                    this.customProcessTableStatus = 'edit';
                }).catch((res) => {
                    loading.close();
                    var msg = '请求节点数据失败！';
                    this.customProcessPopupErrorMessage(msg);
                });
            },
            //从数据库中删除节点信息
            customProcessDeleteNode: function(id) {
                this.$confirm('此操作将删除该节点, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    const loading = this.customProcessPopupLoading();
                    var url = '${SITE_URL}customProcess/del_node';
                    var delData = {};
                    delData.id = id;
                    axios({
                        method: 'post',
                        url: url,
                        data: delData,
                    }).then((res) =>{
                        loading.close();
                        if('ok' == res.data.message){
                            this.customProcessSelectAllNodes();
                            this.customProcessListNode();
                            this.$message({
                                type: 'success',
                                message: '删除节点成功!'
                            });
                        }else{
                            var msg = '请求删除节点数据失败！';
                            this.customProcessPopupErrorMessage(msg);
                        }
                    }).catch((res) => {
                        loading.close();
                        var msg = '请求删除节点数据失败！';
                        this.customProcessPopupErrorMessage(msg);
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消节点删除'
                    });
                });
            },
            //添加节点信息到数据库中
            customProcessSaveNodeInfo: function(formName) {
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        this.$message({
                            type: 'error',
                            message: '请仔细检查表单项!'
                        });
                        return false;
                    }else {
                        const loading = this.customProcessPopupLoading();
                        var url = '${SITE_URL}customProcess/add_node';
                        axios({
                            method: 'post',
                            url: url,
                            data: this.customProcessNode,
                        }).then((res) =>{
                            loading.close();
                            if('ok' == res.data.message){
                                this.customProcessSelectAllNodes();
                                this.customProcessListNode();
                            }else{
                                var msg = '请求添加/修改节点数据失败！';
                                this.customProcessPopupErrorMessage(msg);
                            }
                        }).catch((res) => {
                            loading.close();
                            var msg = '请求添加/修改节点数据失败！';
                            this.customProcessPopupErrorMessage(msg);
                        });
                    }
                });
            },
            //流程开始
            customProcessBegin: function(elem) {
                this.$confirm('即将开始执行当前流程，执行过程中将无法修改节点, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.customProcessStartButtonDisabled = true;
                    this.customProcessStartButtonType = 'success';
                    this.customProcessStartButtonText = '正在执行流程';
                    this.customProcessStep = 0;
                    //流程开始执行，执行标记为置为true
                    this.customProcessStatus = true;
                    this.generateCurrentProcessInfo();
                    this.$message({
                        type: 'success',
                        message: '开始执行流程'
                    });
                }).catch(() => {
                        this.$message({
                        type: 'info',
                        message: '取消执行操作'
                    });
                });
            },
            //流程全部执行完毕
            customProcessEnd: function() {
                this.$alert('流程节点已全部执行完成！', '提示', {
                    confirmButtonText: '确定',
                    type: 'success',
                    center: true
            });
            },
            //删除当前流程
            customProcessDelete: function() {
                var alertMessage = null;
                if(!this.customProcessStatus){
                    alertMessage = '确认删除当前过程通知吗？';
                }else{
                    alertMessage = '当前正在执行流程，如果选择删除，该流程将会被强制取消，继续吗？';
                }
                this.$confirm(alertMessage, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    const loading = this.customProcessPopupLoading();
                    //数据库删除所有节点信息
                    var url = '${SITE_URL}customProcess/truncate_node';
                    axios({
                        method: 'post',
                        url: url
                    }).then((res) =>{
                        if('ok' == res.data.message){
                            loading.close();
                            //前端缓存数据和标记位清空
                            this.customProcessStep = -1;
                            this.customProcessStepSum = 0;
                            this.customProcessHasNode = false;
                            this.customProcessStatus = false;
                            this.customProcessTableData = [];
                            this.customProcessStartButtonType = 'primary';
                            this.customProcessStartButtonText = '开始执行流程';
                            this.customProcessStartButtonDisabled = false;
                            this.$message({
                                type: 'success',
                                message: '流程已被删除！'
                            });
                        }else{
                            var msg = '请求删除节点数据失败！';
                            this.customProcessPopupErrorMessage(msg);
                        }
                    }).catch((res) => {
                        var msg = '请求删除节点数据失败！';
                        this.customProcessPopupErrorMessage(msg);
                    });
                }).catch(() => {
                        this.$message({
                        type: 'info',
                        message: '取消流程删除操作'
                    });
                });
            },
            //从后台数据库获取所有节点信息
            customProcessSelectAllNodes: function() {
                const loading = this.customProcessPopupLoading();
                this.customProcessTableData = null;
                var url = '${SITE_URL}customProcess/select_all_nodes';
                var count = 0;
                axios({
                    method: 'post',
                    url: url,
                }).then((res) =>{
                    this.customProcessTableData = res.data.message;
                    this.customProcessStepSum = this.customProcessTableData.length;
                    if(0 != this.customProcessStepSum)
                        this.customProcessHasNode = true;
                    //-----------当前流程节点执行位置判断----------
                    $.each(this.customProcessTableData, function(index, elem){
                        if(elem.status.is_done == 'c'){
                            return false;
                        }
                        count++;
                    });
                    //流程节点没有开始执行或已经执行完毕的情况
                    if(count == this.customProcessStepSum){
                        //执行完毕
                        if(this.customProcessTableData[count - 1].status.is_done == 'y'){
                            this.customProcessStartButtonType = 'info';
                            this.customProcessStartButtonDisabled = true;
                            this.customProcessStartButtonText = '当日流程已执行完毕';
                            this.customProcessStep = this.customProcessTableData.length;
                            this.customProcessStatus = true;
                        } else{ //还未开始执行
                            this.customProcessStep = -1;
                            this.customProcessStatus = false;
                        }
                    }else{//流程节点正在执行的情况
                        this.customProcessStartButtonType = 'success';
                        this.customProcessStartButtonDisabled = true;
                        this.customProcessStartButtonText = '正在执行流程';
                        this.customProcessStep = count;
                        this.customProcessStatus = true;
                    }
                    loading.close();
                }).catch((res) => {
                    loading.close();
                    var msg = '节点数据信息加载错误！';
                    this.customProcessPopupErrorMessage(msg);
                });
            }
        },
        watch: {
            customProcessStepSum: function(val, oldVal) {
                if(-1 == oldVal){
                    this.$nextTick(() => {
                        var customMainProcesses = $('#customMainProcess').children();
                        $.each(this.customProcessTableData, function(index, elem){
                            //设置正在执行的步骤的状态信息
                            if(index == vue.customProcessStep){
                                var execTime =  vue.customProcessTableData[index].status.do_time;
                                var execPerson = vue.customProcessTableData[index].status.do_person;
                                var customProcessExecPerson = '<div>执行人：'+ execPerson +'</div>';
                                var customProcessExecTime = '<div>' + execTime + '</div>';
                                var customProcessExecStatus = '<div id="customProcessExecStatus">执行状态：正在执行...<i class="el-icon-loading"></i></div>';
                                var nextButton = '<button id="customProcessNextButton" type="button" class="el-button el-button--success el-button--small" onclick="vue.customProcessNextNode()"><span>下一步</span></button>';
                                var selectedProcess =  customMainProcesses.eq(index);
                                selectedProcess.find('.el-step__description')
                                    .html(customProcessExecPerson + customProcessExecTime + customProcessExecStatus);
                                selectedProcess.find('.el-step__main').append(nextButton);
                            //已执行的步骤状态信息
                            }else if(index < vue.customProcessStep){
                                var execTime =  vue.customProcessTableData[index].status.do_time;
                                var execPerson = vue.customProcessTableData[index].status.do_person;
                                var customProcessExecPerson = '<div>执行人：'+ execPerson +'</div>';
                                var customProcessExecTime = '<div>' + execTime + '</div>';
                                var customProcessExecStatus = '执行状态：执行完毕！<i class="el-icon-check"></i>';
                                var selectedProcess =  customMainProcesses.eq(index);
                                selectedProcess.find('.el-step__description')
                                    .html(customProcessExecPerson + customProcessExecTime + customProcessExecStatus);
                            }else{
                            //还未执行的步骤直接返回
                                return false;
                            }
                        });
                    });
                }
            }
        },
        mounted(){
            this.customProcessSelectAllNodes();
        }
    });

</script>
</html>