<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>看板系统首页</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 ${STATIC_URL}assets/-->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版 本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>-->
    <!--页面初始化css(Tencent)-->
    <link href="${STATIC_URL}css/common/init.css" rel="stylesheet">
    <!--本页面css-->
    <link href="${STATIC_URL}css/common/main.css" rel="stylesheet">
    <!--阿里巴巴矢量图标库--项目完成后请下载css并下载css引用的字体文件-->
    <link href="http://at.alicdn.com/t/font_997278_ptr5bdmor4j.css" rel="stylesheet">
    <!--以下为后台参数-->
    <!--
    "${SITE_URL}";	        // app的url前缀,在ajax调用的时候，应该加上该前缀
    "${STATIC_URL}";       // 静态资源前缀
    **/--->
</head>
<body style="overflow: visible">
<!--start html-->
<div id="index">
    <!--start container-->
    <el-container style="height: 100%">

        <!--start left-->
        <el-row class="tac" :style="height">
            <el-menu :style="height" class="el-menu-vertical-demo" @open="handleOpen"
                     @close="handleClose" :collapse="isCollapse">
                <el-menu-item index="1000" class="title_item">
                    <i class=""></i>
                    <li slot="title" style="font-size: 18px;">看板项目</li>
                </el-menu-item>

                <el-menu-item v-for="(i,index) in muenus" :index="index+''" style="line-height: 56px;font-size: 18px;"
                              v-on:click="testClick(i.url)">
                    <i class="iconfont icon-zhuye"></i>
                    <span slot="title">{{ i.mname }}</span>
                </el-menu-item>

                <div index="10000" style="line-height: 56px; margin-top: 1000px;margin-left: 20px;">
                    <i class="el-icon-question"></i>
                    <span slot="title"><a href="http://baidu.com">帮助</a></span>
                </div>
            </el-menu>
        </el-row>
        <!--end left-->

        <!--start right-->
        <el-container>
            <!--start right header-->
            <el-header class="header_item" height="62px">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <i class="iconfont icon-yincang" :style="display1" @click="changeCollapse"
                           style="color: #555759;font-size: 30px;margin-top: 5px;"></i>
                        <i class="iconfont icon-icon--" :style="display2" @click="changeCollapse"
                           style="color: #555759;font-size: 25px;"></i>
                        <span style="color: #555759; font-size: 16px; etter-spacing: 0.23px;">当前业务:</span>
                        <span style="color: #555759; etter-spacing: 0.23px;">{{ business.name }}</span>
                    </el-col>
                    <el-col :span="6" :offset="12" style="color: #000;">
                        <div style="float: right">
                            <span style="color: #555759; etter-spacing: 0.23px;">当前用户：</span>
                            <span style="color: #555759; etter-spacing: 0.23px;">{{ user.name }}</span>
                            <el-dropdown :hide-on-click="false"  @command="logout">
                                <span class="el-dropdown-link">
                                  &nbsp;&nbsp;|&nbsp;帮助中心<i class="el-icon-caret-bottom el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="a">注销</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </el-col>
                </el-row>
            </el-header>
            <!--end right header-->
            <!--start right body-->
            <el-main>
                <template>
                    <div id="app">
                            <iframe  v-show="isarr" class="ifa" scrolling=auto
                            :src="'${SITE_URL}'+clickhtml"
                            frameborder="0"></iframe>
                    </div>
                </template>
            </el-main>
            <!--end right body-->
        </el-container>
        <!--end right-->

    </el-container>
    <!--end container-->
</div>
<!--end html-->

<script type="text/javascript">
     axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    let vm = new Vue({
        el: '#index',
        data: {
            muenus: [],
            isCollapse: false,  //是否折叠
            height: {           //css
                height: '',
            },
            display1: {
                display: 'inline-block',
            },
            display2: {
                display: 'none',
            },
            business: {         //业务数据
                name: "看板项目",
            },
            user: {             //用户数据
                name: "",
            },

            clickhtml:'index',
            isarr:true,
            /**activeName: 'first',//默认iframe选项
             ifArr: {            //所有iframe页面，保留一个为true，其余均为false
                first: true,
                second: false,
                third: false
            }**/


        },
        created() {
            //this.get_height()
        },
        methods: {
            handleOpen(key, keyPath) {  //手风琴打开
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) { //手风琴关闭
                console.log(key, keyPath);
            },
            //退出登录
            logout(){
                axios.get('${SITE_URL}position/get_logout_address').then((res)=>{
                    //从配置文件获取退出登录地址
                    var login_address = res.data.message;
                    window.location.href=login_address;
                });
            },
            changeCollapse() {          //更改伸缩状态
                let res = this.isCollapse;
                if (res) {
                    this.display1.display = 'inline-block';
                    this.display2.display = 'none';
                } else {
                    this.display1.display = 'none';
                    this.display2.display = 'inline-block';
                }
                this.isCollapse = res ? false : true;
            },
            get_user_name(){
                axios.get('${SITE_URL}position/get_active_user').then((res)=>{
                    console.log(res)
                    vm.user.name=res.data.message
                });
            },
            testClick(res) {            //更新iframe显示页面
                vm.clickhtml = res
             },

            //获取角色对应的所有菜单名称
            get_Muenu() {
                axios.post('${SITE_URL}db_connection/get_user_muenu/')
                    .then((res) => {
                        console.log(res)
                        vm.muenus = res.data.results;
                    })
            }
        }
    });
    vm.get_Muenu();
    vm.get_user_name()
</script>
</body>
</html>
