<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <link type="text/css" href="${STATIC_URL}css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
</head>

<body>
<div class="content" id="main">
    <div class="header">
        <el-breadcrumb class="route" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>首页</el-breadcrumb-item>
            <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="body">
        <el-card shadow="always">
            <!--表单展示-->
            <div v-if="isAdd == '1'">
                <div id="pagetitle">
                    菜单管理
                </div>
                <hr id="hr">
                <el-row type="flex" justify="space-between" class="row">
                    <el-col :span="12">
                        <el-col :span="9">
                            <el-input v-model="search" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" icon="el-icon-search" v-on:click="select_table">搜索</el-button>
                        </el-col>
                    </el-col>
                    <el-col :span='6'>
                        <el-button type='primary' @click='show'>新增菜单</el-button>
                        <el-button type='primary' @click='get_roleAmuenus'>权限分配</el-button>
                    </el-col>
                </el-row>

                <el-table :data="tableData" :header-cell-style="rowClass" style="width: 100%">
                    <el-table-column prop="id" label="序号" width="80px">
                    </el-table-column>
                    <el-table-column prop="mname" label="菜单名称" style="width: 25%">
                    </el-table-column>
                    m
                    <el-table-column prop="url" label="菜单地址" style="width: 25%">
                    </el-table-column>
                    <el-table-column prop="operation" label="操作">
                        <template slot-scope="scope">
                            <el-button type="text" @click="showe(scope.row)" size="small">编辑</el-button>
                            <el-button type="text" @click="delete_muenu(scope.row.id,scope.$index,tableData)"
                                       size="small">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right"
                               @current-change="current_change1"></el-pagination>
            </div>

            <!--新增-->
            <div v-else-if="isAdd == '2'">
                <div id="pagetitle">
                    新增菜单
                </div>
                <hr id="hr">
                <el-form label-width="140px" :model="addmuenus" ref="addmuenus" :rules="rules" class="demo-ruleForm">
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <el-form-item label="菜单名称：" prop="mname">
                                <el-input v-model="addmuenus.mname"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="9">
                            <el-form-item label="url地址：" prop="url">
                                <el-input v-model="addmuenus.url"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :span="2">
                        <el-button type="primary" id="button" @click="savemuenu('addmuenus')">保存</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button @click="hide()" id="button">取消</el-button>
                    </el-col>
                </el-row>
            </div>


            <!--权限分配-->
            <div v-else-if="isAdd == '4'">
                <div id="pagetitle">
                    权限分配
                </div>
                <hr id="hr">
                <el-tree
                        :data="data2"
                        show-checkbox
                        node-key="id"
                        :default-checked-keys="checked"
                >
                </el-tree>
                <el-button type="primary" @click="getKeys">获取节点</el-button>
            </div>

            <!--编辑-->
            <div v-else="isAdd == '3'">
                <div id="pagetitle">
                    编辑菜单
                </div>
                <hr id="hr">
                <el-form label-width="140px" :model="editMuenu" ref="editMuenu" :rules="rules" class="demo-ruleForm">
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <el-form-item label="菜单名称：" prop="mname">
                                <el-input v-model="editMuenu.mname"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="9">
                            <el-form-item label="url地址：" prop="url">
                                <el-input v-model="editMuenu.url"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :span="2">
                        <el-button type="primary" @click="edit_muenu('editMuenu')">修改</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button @click="hide()">取消</el-button>
                    </el-col>
                </el-row>
            </div>
            <!--||||||||||||||||-->


        </el-card>
    </div>

</div>

<script type="text/javascript">
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var ve = new Vue({
        el: '#main',
        data: {
            search: '',//搜索框的值
            page_count: 0,
            page: 1, //当前页
            isAdd: 1,
            tableData: [],
            roles: [],
            dataType: [],
            editMuenu: [],
            data2: [],
            checked: [],
            addmuenus: {
                mname: '',
                url: '',
            },
            rules: {
                mname: [
                    {required: true, message: '请输入连接名称', trigger: 'blur'},
                    {min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur'},

                ],
                url: [
                    {required: true, message: '请输入ip地址', trigger: 'blur'},
                    {message: '请输入正确的IP地址', trigger: 'blur'},
                ],
            },


        },
        methods: {
            current_change1(value) {
                ve.page = value;
                axios({
                    method: 'post',
                    url: '${SITE_URL}DataBaseManage/selecthor2/',
                    data: {
                        search: this.search,
                        page: ve.page,
                        limit: 5,
                    }
                }).then((res) => {
                    ve.tableData = res.data.message;
                    ve.page_count = res.data.message[0].count;
                })
            },
            show() {
                this.isAdd = 2
            },

            //获取所有角色对应菜单
            get_roleAmuenus() {
                axios.post('${SITE_URL}DataBaseManage/get_roleAmuenus/').then((res) => {
                    console.log(res)
                    ve.data2 = res.data.message
                })
                axios.post('${SITE_URL}DataBaseManage/checked_menu/').then((re) => {
                    console.log(re)
                    ve.checked = re.data.message
                })
                this.isAdd = 4
            },

            getKeys() {
                var aKey = this.getCheckedKeys(this.rootData, this.$refs.rootTree.getCheckedKeys(), 'value');
                console.log(aKey);
            },
             getCheckedKeys (data, keys, key) {
                    var res = [];
                    recursion(data, false);
                    return res;

            hide() {
                this.isAdd = 1
                ve.select_muenus()
            },

            rowClass({row, rowIndex}) {
                return 'background:#F7F7F7'
            },


            //搜索
            select_table() {
                axios({
                    method: 'post',
                    url: '${SITE_URL}DataBaseManage/selecthor2/',
                    data: {
                        search: this.search,
                        page: 1,
                        limit: 5,
                    }
                }).then((res) => {
                    ve.tableData = res.data.message;
                    ve.page_count = res.data.message[0].count;
                })
            },

            //查询所有
            select_muenus() {
                axios({
                    method: 'post',
                    url: '${SITE_URL}DataBaseManage/get_all_muenu/',
                    data: {
                        search: this.search,
                        page: ve.page,
                        limit: 5,
                    }
                }).then(function (response) {
                    ve.tableData = response.data.message
                    ve.page_count = response.data.message[0].count;
                })
            },


            //保存
            savemuenu(formName) {
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        alert('验证不通过');
                        return false;
                    } else {
                        axios.post(
                            '${SITE_URL}DataBaseManage/addmuenus/', this.addmuenus
                        ).then(function (res) {
                            if (res.data.code == 0) {
                                ve.hide()
                            }
                        });
                    }
                });
            },


            //去修改
            showe(row) {
                this.isAdd = 3
                this.editMuenu = row
            },

            //修改
            edit_muenu(formName) {
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        alert('验证不通过');
                        return false;
                    } else {
                        axios.post(
                            '${SITE_URL}DataBaseManage/edit_muenu/', this.editMuenu
                        ).then(function (res) {
                            if (res.data.code == 0) {
                                ve.hide()
                            }
                        })
                    }
                })
            },


            //删除
            delete_muenu(id, index, data) {
                this.$confirm('此操作将永久删除该监控项, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.$message({
                            type: 'success',
                            message: '删除成功!',
                        },
                        axios.post(
                            '${SITE_URL}DataBaseManage/delete_muenu/' + id + '/'
                        ).then((res) => {
                            if (res.data.code == 0) {
                                this.$message('删除成功')
                                data.splice(index, 1)
                                ve.hide()
                            }
                        }),
                    );
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
        }
    });
    ve.select_muenus()
</script>
</body>
</html>

