<html>
<head>
    <meta charset="UTF-8">
    <title>报表统计</title>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/echarts.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>

    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jrange/css/jquery.range.css" rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="content">
        <div class="body">
        <el-card shadow="always">
            <div>
                <div id="pagetitle">
                    报表统计查询
                </div>
                <hr id="hr">
                <div id="hide_k" style="display:block">
                    <el-row type="flex" justify="space-between" align="center" class="row">
                        <el-col :span="12">
                            <el-col :span="9">
                                <el-input v-model="search" placeholder="请输入场景名称检查日志"></el-input>
                            </el-col>
                            <el-col :span="3">
                                <el-button type="primary" icon="el-icon-search" v-on:click="select_log"
                                           style="margin-left: 10px;">搜索
                                </el-button>
                            </el-col>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="space-between" align="center" class="row">
                        <el-col :span="12" style="margin-top: 5px">
                            <el-col :span="9">
                                <el-input v-model="keyword" placeholder="请输入关键字检查日志"></el-input>
                            </el-col>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="space-between" align="center" class="row">
                        <el-col :span="9" style="margin-top: 5px">
                            <template>
                                <div class="block">
                                    <el-date-picker
                                            v-model="date_Choice"
                                            value-format="yyyy-MM-dd HH:mm:ss"
                                            type="datetimerange"
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期">
                                    </el-date-picker>
                                </div>
                            </template>
                        </el-col>
                    </el-row>
                </div>


                <el-col :span="5" style="margin-top: 5px">
                    <el-select placeholder="请选择日志类型" v-model="log_type" @change="change_type">
                        <el-option label="日志查询" value="log"></el-option>
                        <el-option label="执行告警信息查询" value="alert"></el-option>
                        <el-option label="场景运行即将到期查询" value="about_to_expire"></el-option>
                        <el-option label="场景运行比对" value="compare"></el-option>
                    </el-select>
                </el-col>

                <div id="hide_m" style="display:none">
                    <el-row type="flex">
                        <el-col :span="2"><a>场景：</a></el-col>
                        <el-col :span="3" style="margin-top: 5px">

                            <el-select placeholder="请选择场景" v-model="Cscene" value-key="id" @change="chose_scenes">
                                <el-option v-for="item in scenes_data" :label="item.sname" :key="item.id"
                                           :value="item"></el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="2"><span>日期:</span></el-col>
                        <el-col :span="3" style="margin-top: 5px">
                            <el-date-picker
                                    v-model="scene_time"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    type="datetimerange"
                                    @change="sceneTChang"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="5" style="margin-top: 5px">
                            <el-button type="primary" @click="drawging_">
                                <span>画图</span>
                            </el-button>
                        </el-col>
                    </el-row>
                </div>

                <div id="table1" style="display: block">
                    <el-table :data="Operatelog" style="width: 150%">
                        <el-table-column prop="id" label="id" width="100" align="center">
                        </el-table-column>
                        <el-table-column prop="log_type" label="操作类型" width="220" align="center">
                        </el-table-column>
                        <el-table-column prop="log_name" label="日志名称" width="150" align="center">
                        </el-table-column>
                        <el-table-column prop="user_name" label="用户名称" width="150" align="center">
                        </el-table-column>
                        <el-table-column prop="create_time" label="创建时间" width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="succeed" label="是否成功" width="150" align="center">
                        </el-table-column>
                        <el-table-column prop="message" label="备注" width="800" align="center">
                        </el-table-column>
                    </el-table>
                    <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right"
                                   @current-change="current_change"></el-pagination>
                </div>

                <div id="table2" style="display:none">
                    <el-table :data="alertRuleTableData">
                        <el-table-column prop="scene_id" label="场景ID" width="100">
                        </el-table-column>
                        <el-table-column prop="scene_name" label=场景名字 width="100" align="center">
                        </el-table-column>
                        <el-table-column prop="id" label="监控项ID" width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="monitor_name" label="监控项名字" width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="alert_title" label="告警标题" width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="alert_content" label="告警内容" width="500" align="center">
                        </el-table-column>
                        <el-table-column prop="alert_time" label="告警时间" width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="persons" label="告警人" width="200" align="center">
                        </el-table-column>

                    </el-table>
                    <el-pagination :page-count="alertRulesCount" background layout="prev, pager, next"
                                   style="float:right"
                                   @current-change="alertRulePageChange"></el-pagination>
                </div>
                <div id="table3" style="display:none">
                    <el-table :data="aboutTableDate">
                        <el-table-column prop="scene_id" label="场景ID" width="100">
                        </el-table-column>
                        <el-table-column prop="scene_name" label=场景名字 width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="item_id" label="监控项ID" width="100" align="center">
                        </el-table-column>
                        <el-table-column prop="monitor_name" label="监控项名字" width="200" align="center">
                        </el-table-column>
                        <el-table-column prop="start_time" label="开始时间" width="150" align="center">
                        </el-table-column>
                        <el-table-column prop="end_time" label="结束时间" width="150" align="center">
                        </el-table-column>
                        <el-table-column prop="minture" label="间距分钟" width="100" align="center">
                        </el-table-column>


                    </el-table>
                    <el-pagination :page-count="aboutRulesCount" background layout="prev, pager, next"
                                   style="float:right"
                                   @current-change="about_change"></el-pagination>
                </div>

                <div id="scene_compare" style="display:none">
                    <!--画图开始-->
                    <div id="scene_et" style="width: 600px;height: 400px;margin: 60px">
                    </div>
                    <!--画图结束勿动-->
                    <!--场景比对table-->
                    <div id="get_days" style="display: none">
                     <el-table :data="dayData" style="width: 100%;margin-top: 20px">
                         <el-table-column prop="timedata" label="比对时间" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="itemNums" label="场景数" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="success_items" label=运行成功数 style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="failed_items" label="执行失败数" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="succeess_persent" label="成功率" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="alertNums" label="告警数量" style="width: 15%" align="center">
                         </el-table-column>
                     </el-table>
                    <!-- <el-pagination :page-count="dayDataCount" background layout="prev, pager, next" style="float:right"
                               @current-change="dayDatapage"></el-pagination>-->
                    </div>
                    <!--场景比对结束-->
                </div>

                <div id="table10" style="display:none">
                     <el-table :data="sceneOperationRuleTableData" style="width: 100%;margin-top: 20px">
                         <el-table-column prop="date" label="时间" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="scene_num" label="场景数" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="success_num" label=运行成功数 style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="success_rate" label="运行成功率" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="failed_num" label="执行失败数" style="width: 15%" align="center">
                         </el-table-column>
                         <el-table-column prop="alert_num" label="告警数量" style="width: 15%" align="center">
                         </el-table-column>
                     </el-table>
                     <el-pagination :page-count="sceneOperationCount" background layout="prev, pager, next" style="float:right"
                               @current-change="sceneOperationpage"></el-pagination>
                </div>
            </div>
        </el-card>
    </div>

</div>
<script type="text/javascript">
     axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
let vm = new Vue({
        el: '.content',
        data: {
            page_count: 100,                             //总页码数
            alertRulesCount:1,
            sceneOperationCount:1,
            page: 1,                                   //分页页码数
            Operatelog:[],
            search: '',                                 //搜索框
            log_type: '',                                //日志类型
            alertRuleTableData: null,
            sceneOperationRuleTableData:null,
            aboutTableDate: null,
            keyword: '',                                 //关键字内容
            date_Choice: '',                            //时间选择
            //以下是场景勿动
            scenes_tab: '',
            sCount: 1,
            myChart: '',
            scenes_data: '',
            Cscene: '',
            Cscene_id:'',
            scene_time: '',
            qnmb: [],
            dayData:[],
            dayDataCount:1,
        },
        methods: {
            show() {
               //显示
                axios({
                    method: 'post',
                    url: '${SITE_URL}history_chart/show_all/',
                    data: {
                        page: vm.page,
                        limit: 10
                    },
                }).then(function (res) {
                    vm.Operatelog = res.data.message;
                    vm.page_count = res.data.message[0].page_count;
                })
                axios({
                    method: 'post',
                    url: '${SITE_URL}history_chart/select_all_rules',
                    data: {
                        page: vm.page,
                        limit: 10
                    },
                }).then((res) => {
                    this.alertRuleTableData = res.data.results;
                    vm.alertRulesCount = res.data.results[0].pages
                    console.log(vm.page_count)
                })
               axios({
                        method: 'post',
                        url: '${SITE_URL}history_chart/select_scene_operation',
                        data: {
                            page: vm.page,
                            limit: 10
                        },
                }).then((res) =>{
                    vm.sceneOperationRuleTableData = res.data.message

                })
               axios({
                   method:'post',
                   url:'${SITE_URL}history_chart/about_select',
                   data:{
                        page: vm.page,
                        limit: 10
                   }
               }).then(function (res) {
                    vm.aboutTableDate = res.data.results;
                    vm.aboutRulesCount = res.data.results[0].pages
               })
            },

            current_change(value){
               vm.page = value;
                axios({
                    method: 'post',
                    url: '${SITE_URL}history_chart/select_log/',
                    data: {
                        search: this.search,
                        page: vm.page,
                        keyword:vm.keyword,
                        date_Choice:vm.date_Choice,
                        limit: 10
                    },
                }).then((res) => {
                    vm.Operatelog = res.data.message;
                    vm.page_count = res.data.message[0].page_count;
                })

            },
            about_change(value){
                vm.page = value;
                axios({
                    method: 'post',
                    url: '${SITE_URL}history_chart/about_search/',
                    data: {
                        search: vm.search,
                        page: vm.page,
                        keyword:vm.keyword,
                        date_Choice:vm.date_Choice,
                        limit: 10
                    },
                }).then((res) => {
                    vm.aboutTableDate = res.data.results;
                    vm.aboutRulesCount = res.data.results[0].pages
                })
            },

            select_log(){
               if(vm.log_type == 'log'){
                   vm.page = 1                                             //查询
                   if (vm.keyword == "" & vm.date_Choice == "" & this.search =="") {
                       vm.show()
                   }
                   axios({
                       method: 'post',
                       url: '${SITE_URL}history_chart/select_log/',
                       data: {
                           search: this.search,
                           page: this.page,
                            keyword:vm.keyword,
                           date_Choice:vm.date_Choice,
                           limit: 10
                       },
                   }).then((res) => {
                       vm.Operatelog = res.data.message;
                       vm.page_count = res.data.message[0].page_count;
                   })
               }else if(vm.log_type == 'alert'){
                 this.alertRulePageChange(1);
               }else if(vm.log_type == 'about_to_expire'){
                   vm.about_change(1);
               }


           },

            //用于告警分页方法
             alertRulePageChange: function(value){
                vm.page = value;
                axios({
                    method: 'post',
                    url: '${SITE_URL}history_chart/select_rules_pagination',
                    data: {
                        search: this.search,
                        page: vm.page,
                        keyword:vm.keyword,
                        date_Choice:vm.date_Choice,
                        limit: 10
                    },
                }).then((res) => {
                     this.alertRuleTableData = res.data.results;
                    vm.alertRulesCount = res.data.results[0].pages
                    console.log(vm.alertRulesCount)
                })
            },

            select_Keyword(){
               if(vm.log_type == 'log'){
                   vm.page = 1
                   if (this.search.trim() == '') {
                       vm.show()
                   }
                   axios({
                       method: 'post',
                       url: '${SITE_URL}history_chart/select_Keyword',
                       data: {
                           'search': vm.keyword,
                           'page': this.page,
                           'limit': 10
                       }
                   }).then(function (res) {
                        vm.Operatelog = res.data.message;
                       vm.page_count = res.data.message[0].page_count;
                   })
                }
            },


            //先选场景
            chose_scenes(value) {
                vm.Cscene = value.sname;
                vm.Cscene_id = value.id;
            },
            //再选日期
            sceneTChang(value){
                vm.scene_time = value;
            },
            //翻页方法
            dayDataCount(){

            },
            //再初始化图
            draw_line(value) {
                let list_x = [];
                let list_s = [];
                let list_f = [];
                let list_all = [];
                let list_alert = [];
                console.log(value);
                for (var i=0;i<value.length;i++) {
                    this.$set(list_x,i,value[i]['timedata']);
                    this.$set(list_s,i,value[i]['success_items']);
                    this.$set(list_f,i,value[i]['failed_items']);
                    this.$set(list_all,i,value[i]['itemNums']);
                    this.$set(list_alert,i,value[i]['alertNums']);
                }
                console.log(list_x,list_s,list_f,list_all,list_alert);
                vm.myChart = echarts.init(document.getElementById('scene_et'));
                option = {
                    title: {
                        text: '场景比对',
                        left: 1,
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        left: '25%',
                        data: ['节点数', '运行成功场景单元数', '运行失败数','告警数']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: list_x
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                    },
                    series: [
                        {
                            name: '节点数',
                            type: 'line',
                            data: list_all,
                            itemStyle: {
                                normal: {
                                    color: "#000033",
                                    lineStyle: {
                                        color: "#000033"

                                    }
                                }
                            },

                        },
                        {
                            name: '运行成功场景单元数',
                            type: 'line',
                            data: list_s,
                            itemStyle: {
                                normal: {
                                    color: "#00FF00",
                                    lineStyle: {
                                        color: "#00FF00"
                                    }
                                }
                            },
                        },
                        {
                            name: '运行失败数',
                            type: 'line',
                            data: list_f,
                            itemStyle: {
                                normal: {
                                    color: "#FF0000",
                                    lineStyle: {
                                        color: "#FF0000"
                                    }
                                }
                            },
                        },
                        {
                            name: '告警数',
                            type: 'line',
                            data: list_alert,
                            itemStyle: {
                                normal: {
                                    color: "#3300FF",
                                    lineStyle: {
                                        color: "#3300FF"
                                    }
                                }
                            },
                        },
                    ]
                };
                vm.myChart.setOption(option);
            },
            //最后画图，出表
            drawging_() {
                if (vm.Cscene == '') {
                    alert('请选择场景');
                } else if (vm.scene_time == '') {
                    alert('请选择日期');
                } else {
                    axios({
                        method: 'post',
                        url: '${SITE_URL}history_chart/selectScenes_ById/',
                        data: {
                            id: vm.Cscene_id,
                            dataTime: vm.scene_time,
                        },
                    }).then((res) => {
                        console.log()
                        if(typeof res.data.results == 'number'){
                            console.log(res.data.results)
                            if(res.data.results < 3){
                                alert('日期间隔需要大于3天');
                            }else{
                                alert('此期间不足3条数据');
                            }
                        }else{
                            vm.qnmb = res.data.results;
                            vm.dayData = res.data.results;
                            vm.draw_line(vm.qnmb);
                            $('#get_days,#scene_et').css('display','block');
                            }
                    })
                }
            },
            //清空下拉框
            get_null() {
                vm.scenes_data = '';
                vm.Cscene = '';
                vm.scene_time = '';
            },


            //运行情况分页
            sceneOperationpage: function (value) {
                vm.page = value;
                axios({
                    method: 'post',
                    url: '${SITE_URL}history_chart/select_scene_operation',
                    data: {
                        page: vm.page,
                        limit: 10
                    },
                }).then((res) => {
                    this.sceneOperationRuleTableData = res.data.message;
                    vm.sceneOperationCount = res.data.message[0].pages;
                })
            },


            change_type(value) {
                if (value == 'log') {
                    $("#table1,#hide_k").css('display', 'block');
                    $("#table3，#scene_compare,#table2,#hide_m,#table10").css('display', 'none');
                    vm.get_null();
                } else if (value == 'alert') {
                    $("#table2,#hide_k").css('display', 'block');
                    $("#table3，#scene_compare,#table1,#hide_m,#table10").css('display', 'none');
                    vm.get_null();
                } else if (value == 'about_to_expire') {
                    $("#table2,#table1,#scene_compare,#hide_m,#table10").css('display', 'none');
                    $("#table3,#hide_k").css('display', 'block');
                    vm.get_null();
                } else if (value == 'compare') {
                    $("#table1,#table2,#table3,#hide_k,#table10,#scene_et,#get_days").css('display', 'none');
                    $("#scene_compare,#hide_m").css('display', 'block');
                    axios.post('${SITE_URL}history_chart/select_scenes/').then((res) => {
                        vm.scenes_data = res.data.results
                    });
                }else if(value == 'sceneOperation'){
                   $("#table1,#table2,#table3,#scene_compare,#hide_k,#hide_m").css('display','none');
                   $('#table10').css('display','block');
                   vm.get_null();
                }
            },


            select_Keyword() {
                if (vm.log_type == 'log') {
                    vm.page = 1
                    if (this.search.trim() == '') {
                        vm.show()
                    }
                    axios({
                        method: 'post',
                        url: '${SITE_URL}history_chart/select_Keyword',
                        data: {
                            'search': vm.keyword,
                            'page': this.page,
                            'limit': 10
                        }
                    }).then(function (res) {
                        vm.Operatelog = res.data.message;
                        vm.page_count = res.data.message[0].page_count;
                    })
                }
            },



        }
    });
    vm.show();

</script>



</body>
</html>