<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <script src="${STATIC_URL}js/csrftoken.js"></script>

    <link type="text/css" href="${STATIC_URL}css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="${STATIC_URL}css/net/style.min.css">

    <script type="text/javascript"
            src="${STATIC_URL}js/net/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="${STATIC_URL}css/net/jsPlumbToolkit-defaults.css"/>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
    <link rel="stylesheet" href="${STATIC_URL}css/net/iconfont.css">
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/echarts.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/macarons.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/maintenanceIndex/maintenanceIndex.css">
    <script type="text/javascript" src="${STATIC_URL}js/monitor_item/show_message.js"></script>
    <style>
        input {
            width: 250px;
            height: 30px;
        }

        .el-table--border th {
            padding: 5px
        }

        .newline {
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }

        .circle1 {
            display: inline-block;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background-color: lawngreen;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .circle2 {
            display: inline-block;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background-color: darkgreen;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .circle3 {
            display: inline-block;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background-color: grey;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .circle4 {
            display: inline-block;
            margin-left: 5px;
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .asd {
            display: inline-block;
        }

        .score_input {
            font-size: 16px;
            position: absolute;
            background: rgba(255, 255, 255, 0.1);
            top: -36px;
            left: 0;
            width: 50px;
            height: 36px;
            display: none;
        }

        .right_click {
            position: absolute;
            width: 100px;
            display: none;
        }

        .right_click span {
            width: 100px;
            display: inline-block;
            font-size: 16px;
            line-height: 36px;
        }

        .circle-bar {
            margin: 20px auto;
            font-size: 100px;
            width: 1em;
            height: 1em;
            position: relative;
            background-color: #333;
        }

        .circle-bar-left, .circle-bar-right {
            width: 1em;
            height: 1em;
            background-color: #eee;
        }

        /*
            这里采用clip剪切了圆，实现左右两个半圆，右半圆在后面，因此在更上一层，
            clip的用法参考：http://www.w3school.com.cn/cssref/pr_pos_clip.asp
         */
        .circle-bar-right {
            clip: rect(0, auto, auto, .5em);
        }

        .circle-bar-left {
            clip: rect(0, .5em, auto, 0);
        }

        .mask {
            width: 0.8em;
            height: 0.8em;
            background-color: #fff;
            text-align: center;
            line-height: 0.2em;
            color: rgba(0, 0, 0, 0.5);
        }

        .mask :first-child {
            font-size: 0.3em;
            height: 0.8em;
            line-height: 0.8em;
            display: block;
        }

        /*所有的后代都水平垂直居中，这样就是同心圆了*/
        .circle-bar * {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        /*自身以及子元素都是圆*/
        .circle-bar, .circle-bar > * {
            border-radius: 50%;
        }

        .dimension_div .el-form-item__content:first-child {
            margin-left: 0 !important;
        }

        /*jlq-2019-05-08-add*/
        .el-dialog__body {
            padding: 10px 20px;
            color: #606266;
            font-size: 14px;
        }

        .el-tabs--bottom .el-tabs--left .el-tabs__item:last-child, .el-tabs--bottom .el-tabs--right .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--bottom.el-tabs--card .el-tabs__item:last-child, .el-tabs--top .el-tabs--left .el-tabs__item:last-child, .el-tabs--top .el-tabs--right .el-tabs__item:last-child, .el-tabs--top.el-tabs--border-card .el-tabs__item:last-child, .el-tabs--top.el-tabs--card .el-tabs__item:last-child {
            padding-right: 20px;
            border-bottom: 1px;
        }

        .el-tabs--card > .el-tabs__header .el-tabs__nav {
            border: 1px solid #e4e7ed;
            border-bottom: none;
            border-radius: 4px 4px 0 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }

        .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
            border-bottom-color: #fff;
            border-bottom: 1px;
        }

        .monitor-name {
            color: #f56c6c;
            font-size: 12px;
            line-height: 1;
            padding-top: 4px;
            top: 100%;
            left: 0;
        }
    </style>
</head>
<body>
<input id="siteUrl" type="hidden" value="${SITE_URL}">
<div id="app">
    <!-- div1 start-->
    <div class="div_one" style="padding: 20px 40px 0px 40px;">
        <div>
            <el-input placeholder="请输入监控名称或编辑人" clearable v-model="contents" style="width:30%" @keyup.enter.native="select1"></el-input>
            <el-button type="primary" icon="el-icon-search" v-on:click="select1">搜索</el-button>
            <el-popover placement="top-start" width="200" trigger="hover" content="新增一个监控项。" style="float:right;">
                <el-button slot="reference" v-on:click="add_unit(0)">新增</el-button>
            </el-popover>
        </div>
        <div style="height: 20px"></div>
        <div>
            <el-table :data='sites' :header-cell-style='rowclass' style="width: 100%;" border header-align="center">
                <el-table-column prop="id" label="序号" sortable></el-table-column>
                <el-table-column prop="monitor_name" show-overflow-tooltip="true" label="监控名称" sortable></el-table-column>
                <el-table-column prop="monitor_type" show-overflow-tooltip="true" label="监控类型" :formatter="format_monitor_type"
                                 sortable></el-table-column>
                <el-table-column prop="editor" label="编辑人" sortable></el-table-column>
                <el-table-column prop="edit_time" label="修改时间" sortable></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button size="mini" type="text" v-on:click="edit_unit(scope.row)">编辑</el-button>
                        <el-button size="mini" type="text" v-on:click="delete_unit(scope.row)">删除</el-button>
                        <el-tooltip :content="scope.row.status" placement="top">
                            <el-switch v-model="scope.row.status" active-color="#13ce66" inactive-color="#ff4949"
                                       @change="switch_change(scope.row)"
                                       active-value="1" inactive-value="0"></el-switch>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right"
                           @current-change="current_change1" :current-page="page"></el-pagination>
        </div>
    </div>
    <!-- div1 end-->

    <!-- 对话框 start-->
    <el-dialog fullscreen title="基本信息" :visible.sync="centerDialogVisible" width="80%" @closed="monitor_cache_clean"
               :close-on-click-modal="false">
        <HR align=center width=100% color=#979797 SIZE=0.5>
        <div style="height: 30px;"></div>
        <div style="margin-left: 20px;">
            <span>监控项名称</span>
            <el-input placeholder="请输入监控项名称" v-model="monitor_name" style="width: 40%;margin-left: 12px;" @blur="monitorName()"></el-input>
            <!--<span style="margin-left: 80px;">监控项执行日历</span>
            <el-select v-model="area" placeholder="请选择日历的地区" style="width: 30%;margin-left: 12px;">
                <el-option
                        v-for="item in areas"
                        :key="item.value"
                        :label="item.area"
                        :value="item.value">
                </el-option>
            </el-select>-->
            <div v-if="isShow" class="monitor-name">监控项名称不能重复</div>
        </div>
        <div style="height: 30px"></div>
        <span>
            <el-tabs type="border-card" v-model="monitor_type">
                <!--基本单元 start-->
                <el-tab-pane :disabled="disabled2" label="基本监控项" name="first" >
                    <el-row>
                        <el-col :span="12" style="margin-top: 30px"><div class="grid-content bg-purple">
                            <el-form :model="basic" ref="basic" :rules="rules1" label-width="100px">
                                <el-form-item label="字号" prop="font_size">
                                    <el-select v-model="basic.font_size" placeholder="请选择字号" @change="basic_size"
                                               style="width: 95%;">
                                        <el-option v-for="i in font_size_range" :label=i :value=i></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 95%">
                                    <el-col :span="11">
                                        <el-form-item prop="height">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.height"
                                                      placeholder="请输入高度" @change="basic_height"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="width">
                                              <el-input class="max" type="number" min="0" max="600"
                                                        v-model.number="numberValidateForm.age"
                                                        auto-complete="off" v-model="basic.width"
                                                        placeholder="请输入宽度" @change="basic_width"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容" prop="contents" style="width: 95%">
                                        <el-input v-model="basic.contents" placeholder="上证指数:3000  深证指数:3000"
                                                  @change="sycontent"
                                                  type="textarea" rows="5"></el-input>
                                </el-form-item>
                                <div style="margin-bottom: -18px; margin-top: -14px;">
                                    <el-form-item label="数据来源">
                                        <el-radio-group v-model="sql_file_interface" @change="change1"
                                                        style="padding: 14px">
                                            <el-radio :label="3">数据库</el-radio>
                                            <!--
                                            <el-radio :label="6">文件</el-radio>
                                            <el-radio :label="9">接口</el-radio> -->
                                         </el-radio-group>
                                    </el-form-item>
                                 </div>
                                <div :style="{ display: sql1 }">
                                    <el-form-item label="数据库连接">
                                        <el-select v-model="server_url" placeholder="请选择数据库" style="width: 95%;">
                                            <el-option v-for="i in sites1" :label="i.label"
                                                       :value="i.value"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="数据采集规则" style="width: 96%">
                                        <el-input v-model="basic.gather_rule" placeholder="select * from tb_hq"
                                              type="textarea" rows="4"></el-input>
                                     </el-form-item>
                                </div>
                                <div :style="{display:file1}">
                                    <el-form-item label="服务器">
                                        <el-input placeholder="请输入服务器" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="文件路径">
                                        <el-input placeholder="请输入文件路径" v-model="file_param"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                </div>
                                <div :style="{display:interface1}">
                                    <el-form-item label="url">
                                        <el-input placeholder="请输入url" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="接口参数">
                                        <el-input type="textarea" v-model="file_param" rows="4"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item label="采集时间段:" style="width: 95%">
                                    <el-col :span="10">
                                        <el-form-item>
                                            <el-time-picker style="width: 142px;" v-model="basic.start_time"
                                                            placeholder="开始时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2"
                                            style="margin-right: -4px;margin-left: 4px;">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 142px;" v-model="basic.end_time"
                                                            placeholder="结束时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.period" style="width: 96%"
                                                      placeholder="请输入采集周期(秒)" style="width: 94%;"></el-input>
                                </el-form-item>
                                <el-form-item label="分值" prop="score">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.score" style="width:95%;"
                                                      @change="change4"
                                                      placeholder="请输入分值" max="100"></el-input>
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;min-height:40%;height: auto;background-color: whitesmoke; position: relative"
                                 id="text1">
                                <!--<div id = "text2" style="position:absolute;left:230px;top:150px;"> -->
                                <div id="text2" style="margin:auto;">
                                </div>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary" @click="basic_test">采集测试</el-button>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->

                <!-- 图表单元 start-->
                <el-tab-pane :disabled="disabled3" label="图表监控项" name="second" style="display:none;">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="chart" :rules="rules2" ref="chart" label-width="100px">
                                 <el-form-item label="采集地址" prop="display_rule">
                                     <el-input v-model="chart.display_rule"
                                                  placeholder="http://192.168.1.190:3000/d/JUAwDHiWk/mysql_system_info?orgId=1&from=1556074004729&to=1558666004729&panelId=2&fullscreen"
                                                  type="textarea"  :autosize="{ minRows: 8, maxRows: 10}" style="width: 95%;"></el-input>
                                 </el-form-item>
                                <el-form-item :model="chart" ref="chart" label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="chart.start_time"
                                                            placeholder="开始时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="chart.end_time"
                                                            placeholder="结束时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="chart.period" style="width:95%;"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                </el-form-item>
                                <el-form-item  label="分值" prop="score">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="chart.score" style="width:95%;"
                                                      @change="change4"
                                                      placeholder="请输入分值" max="100"></el-input>
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12">
                            <div class="grid-content bg-purple-light">
                                <div style="padding: 0px 45% 0px 45%">
                                    <h2>预览</h2>
                                </div>
                                <div style="text-align:center;width: 100%;height: 23%;">
                                    <div id="maintenanceIndex">
                                        <el-row>
                                            <el-col :span="24">
                                                <el-card shadow="always" class="box-card">
                                                    <div slot="header" class="clearfix">
                                                        <span class="maintenanceHeader">{{ chart_content }}</span>
                                                    </div>
                                                    <div id="maintenancePie"></div>
                                                </el-card>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </div>
                                <div style="padding: 0px 20%">
                                    <div style="height: 20px"></div>
                                    <el-button type="primary" v-on:click="chart_get_test">采集测试</el-button>
                                </div>
                            </div>
                        </el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 图表单元 end-->
                <!-- 基本单元 start-->
                <el-tab-pane :disabled="disabled6" label="基本监控项（一体化平台）" name="five" element-loading-text="拼命加载中"
                             element-loading-spinner="el-icon-loading"
                             element-loading-background="rgba(0, 0, 0, 0.8)" v-loading="loading">
                    <el-row>
                        <el-col :span="12">
                            <div class="grid-content bg-purple">
                                <el-form :model="base" ref="base" :rules="basicMonitorRules" label-width="100px">
                                <el-form-item label="字号" prop="font_size">
                                    <el-select v-model="base.font_size" placeholder="请选择字号" @change="base_size"
                                               style="width: 95%">
                                        <el-option v-for="i in font_size_range" :label=i :value=i></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item prop="height">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="base.height"
                                                      placeholder="请输入高度" @change="base_height_change"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="width">
                                              <el-input class="max" type="number" min="0" max="600"
                                                        v-model.number="numberValidateForm.age"
                                                        auto-complete="off" v-model="base.width"
                                                        placeholder="请输入宽度" @change="base_width_change"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容" prop="contents" style="width: 100%">
                                        <el-col :span="20">
                                        <el-input v-model="base.contents" placeholder="上证指数:3000  深证指数:3000"
                                                  @change="content_modified_change"
                                                  type="textarea" rows="5"  style="width: 95%;"></el-input>
                                        </el-col>
                                    <el-col :span="4">
                                    <el-button type="primary" size="mini"
                                               @click="base_monitor_show_reset">默认</el-button>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="数据来源">
                                    <el-radio-group v-model="sql_file_interface" @change="change_data_sources"
                                                    style="padding: 14px">
                                        <el-radio :label="9">接口</el-radio>
                                     </el-radio-group>
                                </el-form-item>

                                    <div v-if="file_show">
                                        <div :style="{ display: sql1 }">
                                    <el-form-item label="数据库连接">
                                        <el-select v-model="server_url" placeholder="请选择数据库">
                                            <el-option v-for="i in sites1" :label="i.label"
                                                       :value="i.value"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                                <div :style="{display:file1}">
                                    <el-form-item label="服务器">
                                        <el-input placeholder="请输入服务器" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="文件路径">
                                        <el-input placeholder="请输入文件路径" v-model="file_param"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                </div>
                                <div :style="{display:interface1}">
                                    <el-form-item label="url">
                                        <el-input placeholder="请输入url" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="接口参数">
                                        <el-input type="textarea" v-model="file_param"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item label="数据采集规则" style="width: 95%">
                                    <el-input v-model="basic.gather_rule" placeholder="select * from tb_hq"
                                              type="textarea" row="4"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 95%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="basic.start_time"
                                                            placeholder="开始时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 95%" v-model="basic.end_time"
                                                            placeholder="结束时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.period" style="width: 95%"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                        </el-form-item>
                                    </div>
                                    <div v-if="database_show">
                                        <div :style="{ display: sql1 }">
                                    <el-form-item label="数据库连接">
                                        <el-select v-model="server_url" placeholder="请选择数据库">
                                            <el-option v-for="i in sites1" :label="i.label"
                                                       :value="i.value"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                                <div :style="{display:file1}">
                                    <el-form-item label="服务器">
                                        <el-input placeholder="请输入服务器" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="文件路径">
                                        <el-input placeholder="请输入文件路径" v-model="file_param"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                </div>
                                <div :style="{display:interface1}">
                                    <el-form-item label="url">
                                        <el-input placeholder="请输入url" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="接口参数">
                                        <el-input type="textarea" v-model="file_param"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item label="数据采集规则" style="width: 96%">
                                    <el-input v-model="basic.gather_rule" placeholder="select * from tb_hq"
                                              type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="10">
                                        <el-form-item>
                                            <el-time-picker style="width: 95%" v-model="basic.start_time"
                                                            placeholder="开始时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="basic.end_time"
                                                            placeholder="结束时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                        </el-form-item>
                                        <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.period" style="width: 95%"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                        </el-form-item>
                                    </div>
                             <div v-if="interface_show">
                                <el-form-item label="来源类型" prop="interface_type">
                                    <el-select v-model="base.interface_type" placeholder="请选择数据来源类型"
                                               @change="change_source_type" style="width: 95%;">
                                        <el-option label="指标" value="measures"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="来源名称" prop="measures">
                                    <el-select v-model="base.measures" filterable placeholder="请选择指标集"
                                               @change="change_measures" style="width: 95%;">
                                        <el-option
                                                v-for="item in iqube_name"
                                                :key="item.value"
                                                :label="item.value"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="度量值" prop="measures_name">
                                    <el-select v-model="base.measures_name" filterable placeholder="请选择指标名称"
                                               style="width: 95%;">
                                        <el-option
                                                v-for="item in metric_list"
                                                :key="item"
                                                :label="item"
                                                :value="item">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="展示规则" prop="show_rule_type">
                                    <el-select v-model="base.show_rule_type" placeholder="请选择展示规则"
                                               @change="add_comments" style="width: 95%;">
                                        <el-option label="百分比" value="0"></el-option>
                                        <el-option label="颜色" value="1"></el-option>
                                        <el-option label="其他" value="2"></el-option>
                                    </el-select>
                                </el-form-item><el-input v-model="base.gather_rule"
                                           placeholder="百分比：如：100|颜色：如：0-1|其他：如：100@ms"
                                                style="display:none;width:95%;"></el-input>
                                 <!--百分比 start-->
                                <div id="base_i_par"  >
                                     <el-form-item label="百分比转化数"  style="width: 95%">
                                         <el-input id="iptPerVal" v-model="base.iptPerVal" oninput ="value=value.replace(/[^0-9.]/g,'')"   @blur="base_fun_per()" ></el-input>
                                     </el-form-item>
                                </div>
                                 <!--百分比 end-->
                                 <!--颜色 start-->
                                <div id="base_i_color"     style="display:none">
                                  <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="6">
                                            <el-input v-model="base.min_1" @blur="base_blur_com_size(1)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="6">
                                            <el-input  v-model="base.max_1" @blur="base_blur_com_size(1)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="8" >
                                            是否启用
                                             <el-checkbox v-model="base.chk_1"  @change="base_fun_color"></el-checkbox>
                                            绿色
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                  <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="6">
                                            <el-input v-model="base.min_2" @blur="base_blur_com_size(2)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="6">
                                            <el-input v-model="base.max_2" @blur="base_blur_com_size(2)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="8" >
                                            是否启用
                                             <el-checkbox v-model="base.chk_2"  @change="base_fun_color"></el-checkbox>
                                            红色
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                    <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="6">
                                            <el-input v-model="base.min_3" @blur="base_blur_com_size(3)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="6">
                                            <el-input v-model="base.max_3" @blur="base_blur_com_size(3)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="8" >
                                            是否启用
                                             <el-checkbox v-model="base.chk_3"  @change="base_fun_color"></el-checkbox>
                                            黄色
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                    <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="6">
                                            <el-input v-model="base.min_4" @blur="base_blur_com_size(4)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="6">
                                            <el-input v-model="base.max_4"  @blur="base_blur_com_size(4)"oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="8" >
                                            是否启用
                                             <el-checkbox v-model="base.chk_4"  @change="base_fun_color"></el-checkbox>
                                            灰色
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                </div>
                                 <!--颜色 end-->
                                 <!--其他 start-->
                                 <div id="base_i_other"    style="display:none">
                                  <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="5">
                                            <el-input v-model="base.min_1" @blur="base_blur_com_size(1)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="5">
                                            <el-input v-model="base.max_1" @blur="base_blur_com_size(1)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="4" :push="1">显示：</el-col>
                                        <el-col :span="5":push="1" >
                                              <el-input v-model="base.txt_1" @blur="base_fun_other"  ></el-input>
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                  <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="5">
                                            <el-input v-model="base.min_2" @blur="base_blur_com_size(2)" oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="5">
                                            <el-input v-model="base.max_2" @blur="base_blur_com_size(2)"oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="4" :push="1">显示：</el-col>
                                        <el-col :span="5":push="1" >
                                            <el-input v-model="base.txt_2" @blur="base_fun_other"  ></el-input>
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                    <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="5">
                                            <el-input v-model="base.min_3" @blur="base_blur_com_size(3)"oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="5">
                                            <el-input v-model="base.max_3" @blur="base_blur_com_size(3)"oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                         <el-col :span="4" :push="1">显示：</el-col>
                                        <el-col :span="5":push="1" >
                                             <el-input v-model="base.txt_3" @blur="base_fun_other"   ></el-input>
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                    <el-form-item label="值域范围"  style="width: 90%">
                                    <el-row>
                                        <el-col :span="5">
                                            <el-input v-model="base.min_4" @blur="base_blur_com_size(4)"oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="1" align="center">-</el-col>
                                        <el-col :span="5">
                                            <el-input v-model="base.max_4" @blur="base_blur_com_size(4)"oninput ="value=value.replace(/[^0-9.]/g,'')"  ></el-input>
                                        </el-col>
                                        <el-col :span="4" :push="1">显示：</el-col>
                                        <el-col :span="5":push="1" >
                                             <el-input v-model="base.txt_4" @blur="base_fun_other" ></el-input>
                                        </el-col>
                                    </el-row>
                                </el-form-item>
                                 </div>
                                 <!--其他 end-->

                                <!--
                                 <div v-if="color_rules_comments">
                                     <p style="color: #FF0000; font-size: 12px; margin-bottom: 20px">* 提示：范围区间用“-”间隔，每个范围区间占一行，数值达到此范围分别展示为绿、红、黄、灰</p>
                                 </div>
                                 <div v-if="other_rules_comments">
                                     <p style="color: #FF0000; font-size: 12px; margin-bottom: 20px">* 提示：范围区间用“-”间隔，每个范围区间占一行，数值达到对应范围分别展示其“@”后的后缀</p>
                                 </div>-->
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item prop="start_time">
                                            <el-time-picker style="width: 96%" v-model="base.start_time"
                                                            placeholder="开始时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="end_time">
                                            <el-time-picker style="width: 96%" v-model="base.end_time"
                                                            placeholder="结束时间点" format="HH:mm" value-format="HH:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="period">
                                    <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                              auto-complete="off" v-model="base.period" style="width: 95%"
                                              placeholder="请输入采集周期(秒)"></el-input>
                                </el-form-item>
                                  <el-form-item label="分值" prop="score">
                                            <el-input type="number" min="0" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="base.score" style="width: 95%"
                                                      @change="change4"
                                                      placeholder="请输入分值" max="100"></el-input>
                                </el-form-item>
                                <el-col :span="24">
                                    <el-form-item v-for="(i,index) in base.dimension_data" class="dimension_div">
                                    <el-col :span="10">
                                        <el-form-item label="维度名称" :prop="'dimension_data.'+ index +'.dimension_name'"
                                                      :rules="basicMonitorRules.dimension_data.dimension_name" style="width: 98%">
                                            <el-select v-model="i.dimension_name">
                                                <el-option :label="i" :value="i"
                                                           v-for="(i,index) in dimension_list"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="10">
                                        <el-form-item label="维度值" :prop="'dimension_data.'+ index +'.dimension_value'"
                                                      :rules="basicMonitorRules.dimension_data.dimension_value" style="width: 98%">
                                            <el-input v-model="i.dimension_value">
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="2">
                                        <el-button type="danger" @click="delete_dimension(index)"
                                                   style="width: 68px;padding: 10px;margin: 2px 10px;"><i
                                                class="el-icon-remove-outline"
                                                style="font-size: 14px;"></i>&nbsp;删除</el-button>
                                    </el-col>
                                </el-form-item>
                                </el-col>
                                <el-col :span="6" :offset="18" style="height: 48px">
                                    <el-button type="primary" @click="add_dimension"><i
                                            class="el-icon-circle-plus-outline"
                                            style="font-size: 14px"></i>&nbsp;添加维度</el-button>
                                </el-col>
                             </div>

                            </el-form>
                            </div>
                        </el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div>
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;min-height:40%;height: auto;background-color: whitesmoke; position: relative"
                                 id="base_test_text" v-loading="preview_loading">

                                </div>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary" @click="base_cell_test">采集测试</el-button>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->
            </el-tabs>
        </span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="pefFrom">保 存</el-button>
        </span>
    </el-dialog>
    <!-- 对话框 end-->
</div>
</body>
</html>