<html>

<head>
    <meta charset="UTF-8">
    <title>岗位管理</title>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue-router.js"></script>-->
    <style>
        input {
            width: 250px;
            height: 30px;
        }

        .el-table--border th {
            padding: 5px
        }
    </style>
</head>

<body>
<div class="content">
    <el-dialog title="新增岗位人员" :visible.sync="dialogFormVisible" width="70%" :before-close="handleDialogClose">
        <el-form :model="form">
            <el-form-item label="">
                <template>
                    <template>
                        <el-transfer
                                filterable
                                :filter-method="filterMethod"
                                filter-placeholder="请输入搜索内容"
                                v-model="value2"
                                :titles="['选择人员', jobname]"
                                :data="data2"
                                @change="">
                        </el-transfer>
                    </template>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="add_person()" type="primary">保存</el-button>
            <el-button @click="ref()">取消</el-button>
        </div>
    </el-dialog>

    <el-dialog title="编辑岗位" :visible.sync="dialogFormVisible2">
        <el-form :model="form2" ref="form2" :rules="rules2">
            <el-form-item label="岗位名：" prop="tempjobname">
                <el-input placeholder="请输入岗位名" v-model="form2.tempjobname" style="width: 60%"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click=" edit_job('form2')" type="primary">保存</el-button>
            <el-button @click="dialogFormVisible2 = false">取消</el-button>
        </span>

    </el-dialog>

    <el-dialog title="新增岗位" :visible.sync="dialogFormVisible3">
        <el-form :model="form" ref="form" :rules="rules">
            <el-form-item label="岗位名称:" prop='pos_name'>
                <el-input v-model="form.pos_name"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="add_job('form')" type="primary">保存</el-button>
            <el-button @click="dialogFormVisible3 = false">取消</el-button>
        </div>
    </el-dialog>

    <div class="header">
        <el-breadcrumb class="route" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>看板系统配置</el-breadcrumb-item>
            <el-breadcrumb-item>岗位管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="body">
        <el-card shadow="always">
            <div>
                <div id="pagetitle">
                    岗位管理
                </div>
                <hr id="hr">
                <el-row type="flex" justify="space-between" align="center" class="row">
                    <el-col :span="12">
                        <el-col :span="9">
                            <el-input v-model="search" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" icon="el-icon-search" v-on:click="select_job">搜索</el-button>
                        </el-col>
                    </el-col>
                    <el-col :span="3">
                        <el-button type="button" @click="dialogFormVisible3 = true">新增岗位</el-button>
                    </el-col>
                </el-row>
                <el-table :data="jobInstance" style="width: 100%;margin-top: 20px">
                    <el-table-column prop="pos_name" label="岗位名称" style="width: 20%">
                    </el-table-column>
                    <el-table-column prop="user_name" label="岗位人员" style="width: 20%;">
                    </el-table-column>
                    <el-table-column prop="operation" label="操作" style="width: 20%">
                        <template slot-scope="scope">
                            <el-button type="text" @click="show_job(scope.row)" size="small">加人</el-button>
                            <el-button type="text" @click="edit_jobname(scope.row)" size="small">编辑</el-button>
                            <el-button type="text" @click="deletePosition(scope.row.id)" size="small">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right"
                               @current-change="current_change1"></el-pagination>
            </div>

        </el-card>

    </div>
    <el-input placeholder="输入关键字进行过滤" v-model="filterText"></el-input>
    <el-tree class="filter-tree" :data="data3" :props="defaultProps" default-expand-all show-checkbox
             :filter-node-method="filterNode" ref="tree2"></el-tree>
</div>
<script type="text/javascript">
    let vm = new Vue({
        el: '.content',
        data: {
            page_count: 100,                             //总页码数
            page: 1,                                   //分页页码数
            dialogFormVisible: false,
            dialogFormVisible2: false,
            dialogFormVisible3: false,
            form: {
                pos_name: '',
            }, rules: {
                pos_name: [{
                    required: true,
                    message: '不能为空，请输入岗位名称',
                    trigger: 'blur'
                }, {
                    pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                    message: '请不要输入特殊字符', trigger: 'blur'
                }, {
                    max: 50,
                    message: '长度必须在 50个字符',
                }]
            },
            users: [],
            form2: {
                tempjobname: '',
            },
            rules2: {
                tempjobname: [{
                    required: true,
                    message: '不能为空，请输入岗位名称',
                    trigger: 'blur'
                }, {
                    pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                    message: '请不要输入特殊字符', trigger: 'blur'
                }, {
                    max: 50,
                    message: '长度在 50个字符',
                }]
            },
            tempid: '',
            form1: '',
            jobname: '',
            username: '',
            search: '',
            value1: '',
            value12: '',
            jobInstance: [],
            data2: '',
            value2: '',
            filterText: '',
            data3: "",
            defaultProps: {
                children: 'children',
                label: 'label'
            },
        },
        methods: {
            handleDialogClose(){
                vm. ref()
            },
            get_tree() {
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/get_tree/',
                }).then(function (res) {
                    vm.data3 = res.data.message;
                    console.log(res.data.message)
                })
            },
            ref() {
                vm.dialogFormVisible = false,
                    vm.users = []
                vm.select_all_user();
            },
            current_change1(value) {
                vm.page = value;
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/select_job/',
                    data: {
                        search: this.search,
                        page: vm.page,
                        limit: 10
                    },
                }).then((res) => {
                    vm.jobInstance = res.data.message;
                    vm.page_count = res.data.message[0].page_count;
                })
            },
            synchronize() {  //与蓝鲸用户同步
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/synchronize/',
                })
            },
            show() {
                //显示首页
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/show/',
                    data: {
                        page: vm.page,
                        limit: 10
                    },
                }).then(function (res) {
                    vm.jobInstance = res.data.message;
                    vm.page_count = res.data.message[0].page_count;
                })
            },
            deletePosition(row) {                                                  //删除一条记录
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    axios({
                        method: 'post',
                        url: '${SITE_URL}position/delete/',
                        data: {
                            id: row,
                        }
                    }).then((res) => {
                        if(res.data.result){
                            this.$message({
                            type: 'success',
                            message: '删除成功!',})
                        }
                        else{
                            this.$message({
                            type: 'success',
                            message: '删除失败!请先移除该岗位的所有人员！',})
                        }

                        vm.show();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            select_job() {
                vm.page = 1                                             //查询
                if (this.search.trim() == '') {
                    vm.show()
                }
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/select_job/',
                    data: {
                        search: this.search,
                        page: this.page,
                        limit: 10
                    },
                }).then((res) => {
                    vm.jobInstance = res.data.message;
                    vm.page_count = res.data.message[0].page_count;
                })
            },
            add_job(formName) {                                              //增加岗位
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        return false;
                    } else {
                        axios({
                            method: 'post',
                            url: '${SITE_URL}position/add_job/',
                            data: this.form,
                        }).then((res) => {
                            vm.dialogFormVisible3 = false;
                            window.location.href = "${SITE_URL}position/jobM"
                        })
                    }
                });
            },
            edit_jobname(row) {                                     //显示弹框，传值到edit_job
                vm.dialogFormVisible2 = true
                vm.tempid = row.id;
                vm.form2.tempjobname = row.pos_name;
            },
            edit_job(formName) {                                            //修改岗位名
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        return false;
                    } else {
                        axios({
                            method: "post",
                            url: '${SITE_URL}position/edit_job/',
                            data: {
                                id: this.tempid,
                                pos_name: this.form2.tempjobname,
                            }
                        }).then((res) => {
                            vm.dialogFormVisible2 = false
                            if (res.data.message != null) {
                                window.location.href = "${SITE_URL}position/jobM"
                            }
                        })
                    }
                });
            },
            show_job(row) {                                      //显示弹框和穿梭框，传值到add_person
                vm.dialogFormVisible = true;
                vm.jobname = row.pos_name;
                vm.id = row.id;
                var x = row.user_name;
                x.forEach((x, index) => {
                    vm.users.push(x)
                })
                const data = [];
                var people = this.users;
                const pinyin = this.users;
                people.forEach((people, index) => {
                    data.push({
                        <!--label: people,-->
                        pinyin: pinyin[index],
                        key: people,
                    });
                });
                this.data2 = data;
                this.value2 = x;
            },
            add_person(row) {
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/add_person/',
                    data: {
                        value2: vm.value2,
                        id: this.id,
                        jobname: this.jobname,
                        data2: vm.data2,
                    },
                }).then((res) => {
                    vm.dialogFormVisible = false
                    window.location.href = "${SITE_URL}position/jobM"
                })
            },
            select_all_user() {                                                      //调接口查询所有用户
                axios({
                    method: 'post',
                    url: '${SITE_URL}position/get_user/',
                }).then((res) => {
                    for (var i = 0; i < res.data.message.length; i++) {
                        this.users.push(res.data.message[i])
                    }
                })
            },
            filterMethod(query, item) {
                return item.pinyin.indexOf(query) > -1;
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree2.filter(val);
            }
        }
    });
    vm.synchronize()
    vm.show()
    vm.select_all_user()
    vm.get_tree()
</script>
</body>

</html>