<html>

<head>
    <meta charset="UTF-8">
    <title>岗位管理</title>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue-router.js"></script>-->
<style>
    input{
        width: 250px;
        height: 30px;
    }
    .el-table--border th{
        padding:5px
    }
</style>
</head>

<body>
<div class="content">
    <el-dialog title="新增岗位人员" :visible.sync="dialogFormVisible" width="70%">
        <el-form :model="form">
            <el-form-item label="">
                <template>
                    <template>
                        <el-transfer
                        filterable
                        :filter-method="filterMethod"
                        filter-placeholder="请输入搜索内容"
                        v-model="value2"
                        :titles="['选择人员', jobname]"
                        :data="data2" >
                        </el-transfer>
                    </template>
                </template>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="add_person()" type="primary">保存</el-button>
            <el-button @click="dialogFormVisible = false">取消</el-button>
        </div>
    </el-dialog>

    <el-dialog title="编辑岗位" :visible.sync="dialogFormVisible2">
        <div>
            <span>岗位名：</span>
            <el-input placeholder="请输入岗位名" v-model="tempjobname" style="width: 60%"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click=" edit_job()" type="primary">保存</el-button>
            <el-button @click="dialogFormVisible2 = false">取消</el-button>
        </span>
    </el-dialog>

    <el-dialog title="新增岗位" :visible.sync="dialogFormVisible3">
        <el-form :model="form">
            <el-form-item label="岗位名称:">
                <el-input v-model="form.Job_name"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="add_job()" type="primary">保存</el-button>
            <el-button @click="dialogFormVisible3 = false">取消</el-button>
        </div>
    </el-dialog>

    <div class="header">
        <el-breadcrumb class="route" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>首页</el-breadcrumb-item>
            <el-breadcrumb-item>岗位管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="body">
        <el-card shadow="always">
            <div>
                <div id="pagetitle">
                    岗位管理
                </div>
                <hr id="hr">
                <el-row type="flex" justify="space-between" align="center" class="row">
                    <el-col :span="12">
                        <el-col :span="9">
                            <el-input v-model="selectvalue" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" icon="el-icon-search" v-on:click="select_job">搜索</el-button>
                        </el-col>
                    </el-col>
                    <el-col :span="3">
                        <el-button type="button" @click="dialogFormVisible3 = true">新增岗位</el-button>
                    </el-col>
                </el-row>
                <el-table :data="jobInstance" :header-cell-style="rowClass" style="width: 100%;margin-top: 20px">
                    <el-table-column prop="Job_name" label="岗位名称" style="width: 20%">
                    </el-table-column>
                    <el-table-column prop="User_name" label="岗位人员" style="width: 20%">
                    </el-table-column>
                    <el-table-column prop="operation" label="操作" style="width: 20%">
                        <template slot-scope="scope">
                            <el-button type="text" @click="show_job(scope.row)" size="small">加人</el-button>
                            <el-button type="text" @click="edit_jobname(scope.row)" size="small">编辑</el-button>
                            <el-button type="text" @click="deletePosition(scope.row.id)" size="small">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="block" style="text-align:right">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                   :page-sizes="[10, 20, 30, 40]" :page-size="100"
                                   layout="prev, pager, next,sizes, jumper" :total="90">
                    </el-pagination>
                </div>
            </div>
        </el-card>
    </div>
</div>
<script type="text/javascript">
 let vm =  new Vue({
        el: '.content',
        data: {
            dialogFormVisible: false,
            dialogFormVisible2: false,
            dialogFormVisible3: false,
            form: {
                 Job_name:'',
            },
            other:{
                User_name:'',           //员工名
                Start_Time:'',          //创建时间
                Status:'',              //状态
                log:''                  //日志
            },
            tempjobname:'',
            tempid:'',
            form1:'',
            jobname:'',
            selectvalue: '',
            value1: '',
            value12:'',
            jobInstance:[],
            checkList: ['王小虎', '张焊强', '李明理'],
            data2: '',
            value2: [],
        },
        methods: {
            rowClass({row, rowIndex}) {
                console.log(rowIndex)
                return 'background:#F7F7F7'
            },
            handleSizeChange(val) {
                console.log('每页:'+val+'条')
            },
            handleCurrentChange(val) {
                console.log('当前页:'+val)
            },
            show() {
                axios({
                    method: 'post',
                    url: '${SITE_URL}jobManagement/job_show/',
                }).then(function(res) {
                    vm.jobInstance = res.data.message;

                })
            },
            deletePosition(row){
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                center: true
            }).then(() => {
                this.$message({
                        type: 'success',
                        message: '删除成功!',
                    },
                    axios({
                        method: 'post',
                        url: '${SITE_URL}jobManagement/delete/',
                        data: {
                            id: row,
                        }
                    }).then((res) => {
                        vm.show();
                    }),);
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
            },
            select_job(){
                axios({
                    method: 'post',
                    url: '${SITE_URL}jobManagement/select_job/',
                    data:this.selectvalue,
                }).then((res) => {
                    vm.jobInstance = res.data.message;
                })
            },
            add_job(){
                vm.dialogFormVisible3 = false
               axios({
                    method: 'post',
                    url: '${SITE_URL}jobManagement/add_job/',
                    data:this.form,
                }).then((res) => {
                    window.location.href="${SITE_URL}jobManagement/jobM"
                })
            },
            add_person(row){
                vm.dialogFormVisible = false;
               axios({
                    method: 'post',
                    url: '${SITE_URL}jobManagement/add_person/',
                    data:{
                        data:jobName = this.jobName,
                        id:this.id
                    },
                }).then((res) => {
                    vm.show()
                })
            },
            show_job(row){
                vm.dialogFormVisible = true
                vm.generateData2()
                vm.jobname = row.Job_name
                vm.id = row.id
                vm.jobname = data2
            },

            edit_jobname(row){
                vm.dialogFormVisible2 = true
                vm.tempid = row.id;
                vm.tempjobname = row.Job_name;
            },
            edit_job(){
                vm.dialogFormVisible2 = false
                axios.post(
                    '${SITE_URL}jobManagement/edit_job/',
                    this.form1,
                ).then((res) => {
                    if(res.data.message != null){
                        window.location.href="${SITE_URL}jobManagement/jobM"
                    }
                })
            },
            generateData2() {
                const data = [];
                const people = ['张三', '李四', '王五', '赵六', '员工a', '员工b', '员工c'];
                const pinyin = ['张三', '李四', '王五', '赵六', '员工a', '员工b', '员工c'];
                people.forEach((people, index) => {
                  data.push({
                    label: people,
                    key: index,
                    pinyin: pinyin[index]
                  });
                });
            this.data2 = data
            },
            filterMethod(query, item) {
                return item.pinyin.indexOf(query) > -1;
            }
        }
    });
// vm.generateData2()
 vm.show()
</script>
</body>

</html>