<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue-resource.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <!--蓝鲸提供的公用样式库 -->
    <link href="${STATIC_URL}css/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/bootstrap.css" rel="stylesheet">
    <script src="${STATIC_URL}js/axios.js"></script>

<style>
    .div1{
        position:relative;
        left: 400px;
        top: 200px;
    }
    input{

        width: 250px;
        height: 30px;
    }
    .button-add{
        width: 90px;
        height: 30px;
        position: relative;
        left: 50%;
    }
</style>
</head>

<body>
<div style="height: 100%;width: 100%">
  <div class="div1">
    <div id="div2">
        <input type="text" placeholder="请输入搜素内容" v-model="content">
        <button type="button"  class="king-btn mr10  king-success"  v-on:click="select"  >搜索</button>
        <button type="button"  class="button-add">新增</button>
    </div>
      <table class="table mb0 pr15 ranger-box2" id="table1">
          <thead>
          <tr>
              <th style="width: 70px;">#</th>
              <th style="width: 15%;">名称</th>
              <th style="width: 15%;">位置</th>
              <th style="width: 15%;">日期</th>
              <th style="width: 15%;">类型</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
                    <tr v-for="site in sites">
                        <td style="width: 70px;">{{ site.id }}</td>
                        <td style="width: 15%;">{{ site.unit_name }}</td>
                        <td style="width: 15%;">{{ site.editor }}</td>
                        <td style="width: 15%;">{{ site.edit_time }}</td>
                        <td style="width: 15%;">{{ site.unit_type }}</td>
                        <td>
                            <button class="btn btn-xs btn-warning">编辑</button>
                            <button class="btn btn-xs btn-danger">删除</button>
                        </td>
                    </tr>
          </tbody>
      </table>
  </div>
    </div>
</body>

<script type="text/javascript">
    var vm=new Vue({
        el: '#table1',
        data: {
            sites:[
            ]
        },
        methods: {
            get:function () {
                this.$http.get('${SITE_URL}test/').then(function (res) {
                    console.log(res.body)
                    vm.sites = res.body.message
                    console.log(vm.sites)
                })
            },

        }
    })
    vm.get();
    var vm1=new Vue({
        el: '#div2',
        data:{
            content:'',
        },
        method:{
            select:function () {
                console.log(123)
            }
        }
        }
    )
</script>
</html>