<html>
<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
<style>
    .div1{
        width: 1100px;
        height: 1000px;
    }
    .div2{
        width: 1100px;
        height: 800px;
        background-color: whitesmoke;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    input{
        width: 250px;
        height: 30px;
    }
    .center1{
        width: 217px;
        text-align:center;
    }
</style>
</head>
<body>
<div id="app">
  <div class="div1" >
    <div>
        <input type="text" placeholder="请输入搜素内容" v-model="contents">
        <el-button type="primary" icon="el-icon-search" v-on:click="aaa">搜索</el-button>
          <el-popover placement="top-start"  width="200" trigger="hover" content="新增一个单元。">
            <el-button slot="reference">新增</el-button>
          </el-popover>
    </div>
    <div>
     <el-table :data="sites" border style="width: 100%">
    <el-table-column prop="id" label="序号" sortable width="180">
    </el-table-column>
    <el-table-column prop="unit_name" label="单元名称" sortable width="180">
    </el-table-column>
    <el-table-column prop="unit_type" label="单元类型" sortable width="180">
    </el-table-column>
      <el-table-column prop="editor" label="编辑人" sortable width="180">
    </el-table-column>
      <el-table-column prop="edit_time" label="修改时间" sortable width="180">
    </el-table-column>
     <el-table-column label="操作" >
      <template slot-scope="scope">
        <el-button id="button1" type="text" size="small" v-on:click="edit(scope.row.id)" >编辑</el-button>
        <el-button type="text" v-on:click="edit2(scope.row.id)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination background layout="prev, pager, next" :total="1000">
    </el-pagination>
    </div>
  </div>

<div class="div2" id="div3" >
     <div id="unit_name" style="width: 217px;margin:10px" >
     <div class="center1" >模板名称
     <el-input v-model="unit_name" placeholder="请输入模板名称"></el-input>
         </div>
 </div>
    <div class="center1" style="margin:10px">字号</div>
<el-autocomplete  popper-class="my-autocomplete" v-model="state3" :fetch-suggestions="querySearch" placeholder="请输入内容" @select="handleSelect">
  <i class="el-icon-edit el-input__icon" slot="suffix" @click="handleIconClick">
  </i>
  <template slot-scope="{ item }">
    <div class="name">{{ item.value }}</div>
  </template>
</el-autocomplete>
 <div id="height1" style="width: 217px;margin:10px">
     <div class="center1">高</div>
     <el-input v-model="height1" placeholder="请输入高度"></el-input>
 </div>

 <div id="width1" style="width: 217px;margin:10px" >
     <div class="center1">宽</div>
     <el-input v-model="width1" placeholder="请输入宽度" ></el-input>
 </div>
    <div class="center1" style="margin:10px">
        <el-button type="success" icon="el-icon-check" circle v-on:click="edit1"></el-button>
        <el-button type="danger" icon="el-icon-delete" circle v-on:click="dddd"></el-button>
    </div>
</div>
</div>
</body>



<script>
var vm = new Vue({
    el:'#app',
    data:{
        restaurants: [],
        state3: '',
        sites:[],
        contents:'',
        height1:'',
        width1:'',
        unit_name:'',
        font_size:'',
        unit_id:0,
        message1:'',
    },
    methods: {
      querySearch(queryString, cb) {
        var restaurants = this.restaurants;
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
        // 调用 callback 返回建议列表的数据
        cb(results);

      },
      createFilter(queryString) {
        return (restaurant) => {
          return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [
          { "value": '8'},
          { "value": '10'},
          { "value": '12'},
          { "value": '14'},
          { "value": '16'},
          { "value": '18'},
          { "value": '20'},
        ];
      },
      handleSelect(item) {
        this.font_size = item.value;
      },
      handleIconClick(ev) {
      },
      edit2(row) {
          this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
              center: true
          }).then(() => {
              this.$message({
                      type: 'success',
                      message: '删除成功!',
                  },
                  axios({
                      method:'post',
                      url:'${SITE_URL}test3/',
                      data:{
                        unit_id:row
                      }
              }).then((res)=>{
                  vm.a();
          }),);
          }).catch(() => {
              this.$message({
                  type: 'info',
                  message: '已取消删除'
              });
          });
      },
      a() {
        axios({
            method: 'post',
            url: '${SITE_URL}test/',
        }).then((res) => {
            vm.sites = res.data.message;

        })
    },
      aaa() {
        axios({
            method: 'post',
            url: '${SITE_URL}test1/',
            data: this.contents,
        }).then((res)=>{
            vm.sites = res.data.message;

        })
    },
      edit(row){
        var $div = $("#div3");
        $div.toggle(500);
        vm.unit_id = row;
      },
      edit1() {
          axios({
              method:'post',
              url:'${SITE_URL}test2/',
              data:{
                  height:this.height1,
                  width:this.width1,
                  unit_name:this.unit_name,
                  unit_id:vm.unit_id,
                  font_size:this.font_size,
              }}).then((res)=>{
                  vm.a();
          })
    },
      dddd(){
          vm.edit(0)
      },
      },
    mounted() {
      this.restaurants = this.loadAll();
    },
  });
vm.a();
vm.edit(0);
</script>

</html>