<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/Calendar.css"/>
</head>

<body>
<div id="app">
    <section class="wh_container">
        <el-row type="flex" jusitify="left">
            <el-col>
                <el-select v-model="area" placeholder="请选择日历的地区">
                <el-option
                  v-for="item in areas"
                  :key="item.value"
                  :label="item.area"
                  :value="item.value">
                </el-option>
          </el-select>
                 <el-button type="danger" icon="el-icon-delete" @click="del_area" circle></el-button>
            </el-col>
            <el-col>
                <el-button type="success" @click="dialogVisible=true" plain>添加日历地区</el-button>
            </el-col>
        </el-row>
        <div class="wh_content_all" v-loading="loading2" element-loading-text="拼命加载中"
             element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)">
            <div class="wh_top_changge">
                <li @click="PreMonth(myDate,false)">
                    <div class="wh_jiantou1"></div>
                </li>
                <li class="wh_content_li">{{ dateTop }}</li>
                <li @click="NextMonth(myDate,false)">
                    <div class="wh_jiantou2"></div>
                </li>
            </div>
            <div class="wh_top_changge">
                <div class="wh_content_item" v-for="tag in textTop">
                    <div class="wh_top_tag">
                        {{ tag }}
                    </div>
                </div>
            </div>
            <div class="wh_content">
                <div class="wh_content_item" v-for="(item,index) in list" @click="clickDay(item,index)">
                    <div class="wh_item_date"
                         v-bind:class="[{ wh_isMark: item.isMark},{wh_other_dayhide:item.otherMonth!=='nowMonth'},{wh_want_dayhide:item.dayHide},{wh_isToday:item.isToday},{wh_chose_day:item.chooseDay},setClass(item)]">
                        {{ item.id }}
                    </div>
                </div>
            </div>
        </el-row>
        <div>
            <el-button type="danger" icon="el-icon-delete" circle @click="deleteallday"></el-button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <el-upload :action="get_file_url()" :on-success="upsuccess" :on-error="err" accept=".xlsx">
                <el-button size="small" type="primary">点击上传节假日文件</el-button>
            </el-upload>
        </div>
        <div class="date_introduce">
            <p>温馨提示：</p>
            <hr style="margin-top:10px;margin-bottom:10px">
            <p><i class="el-icon-date"></i><span style="color: red">红色</span>为节假日</p>
            <p><i class="el-icon-date"></i><span style="color: yellow">黄色</span>为当前的日期</p>
            <p><i class="el-icon-date"></i><span style="color: lightgreen">亮绿色</span>为您选择的日期</p>
            <p><i class="el-icon-date"></i>正常颜色为交易日</p>
        </div>
    </section>
    <br/>
    <el-dialog
  title="添加地区"
  :visible.sync="dialogVisible"
  width="40%" height="30%">
        <el-row type="flex" jusitify="left">
            <el-col>
                <el-input
              placeholder="请输入地区"
              v-model="country"
              clearable>
                </el-input>
            </el-col>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-col>
                <el-select v-model="zone" filterable placeholder="请选择国家的时区">
                <el-option
                  v-for="item in zones"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
          </el-select>
            </el-col>
        </el-row>
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="add_area">添加</el-button>
  </span>
    </el-dialog>
</div>
<script src="${STATIC_URL}js/calendar.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>