<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>维护人员首页</title>
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <link rel="stylesheet" href="${STATIC_URL}css/maintenanceIndex/maintenanceIndex.css">
    <script type="text/javascript" src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/echarts.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/macarons.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/maintenanceIndex/maintenanceIndex.js"></script>

    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript"
            src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css"/>
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
</head>
<style>
    .key {
        line-height: 40px;
    }

    ul {
        list-style: none;
    }
</style>
<body>
<div id="maintenanceIndex">


    <div v-if="isfram == 1">
        <el-row>
            <el-col :span="24">
                <div id="maintenanceTitle">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold">维护人员首页</span>
                </div>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="6">
                <el-card shadow="always" class="box-card">
                    <div slot="header" class="clearfix">
                        <span class="maintenanceHeader">执行情况统计</span>
                    </div>
                    <div id="maintenancePie"></div>
                </el-card>
            </el-col>
            <el-col :span="17" :offset="1">
                <el-card shadow="always" class="box-card">
                    <div slot="header" class="clearfix">
                        <span class="maintenanceHeader">场景执行情况总览</span>
                    </div>
                    <el-row>
                        <div id="maintenanceBar"></div>
                    </el-row>
                    <el-row>
                        <el-table :data='maintenanceTableData' id="maintenanceTable">
                            <el-table-column prop="sum" label="场景总数"></el-table-column>
                            <el-table-column prop="done" label="已完成"></el-table-column>
                            <el-table-column prop="doneRate" label="完成率"></el-table-column>
                            <el-table-column prop="error" label="执行出错"></el-table-column>
                            <el-table-column prop="errorRate" label="出错率"></el-table-column>
                            <el-table-column prop="doing" label="正执行"></el-table-column>
                            <el-table-column prop="unexec" label="待执行"></el-table-column>
                        </el-table>
                    </el-row>
                </el-card>
            </el-col>
        </el-row>
        <el-row id="maintenanceStepBarRow">
            <el-col :span="13">
                <el-card shadow="always" class="box-card">
                    <div slot="header" class="clearfix">
                        <span class="maintenanceHeader">正在执行场景统计</span>
                    </div>
                    <el-row>
                        <el-col :span="20">
                            <div class="maintenanceStepBarDiv">
                                <el-steps class="maintenanceStepBar" space=100% :active="1"
                                          finish-status="success"
                                          process-status="finish">
                                    <el-step title="节点1"></el-step>
                                    <el-step title="节点2"></el-step>
                                    <el-step title="节点3"></el-step>
                                    <el-step title="节点4"></el-step>
                                    <el-step title="节点5"></el-step>
                                    <el-step title="节点6"></el-step>
                                </el-steps>
                            </div>
                            <el-button type="primary" @click="scene">点击事件</el-button>
                        </el-col>
                        <el-col :span="4">
                            <div class="maintenancePointDiv">
                                <span class="maintenancePoint">90</span>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="20">
                            <div class="maintenanceStepBarDiv">
                                <el-steps class="maintenanceStepBar" space=100% :active="1"
                                          finish-status="success"
                                          process-status="finish">
                                    <el-step title="节点1"></el-step>
                                    <el-step title="节点2"></el-step>
                                    <el-step title="节点3"></el-step>
                                    <el-step title="节点4"></el-step>
                                    <el-step title="节点5"></el-step>
                                    <el-step title="节点6"></el-step>
                                </el-steps>
                            </div>
                        </el-col>
                        <el-col :span="4">
                            <div class="maintenancePointDiv">
                                <span class="maintenancePoint">90</span>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="20">
                            <div class="maintenanceStepBarDiv">
                                <el-steps class="maintenanceStepBar" space=100% :active="1"
                                          finish-status="success"
                                          process-status="finish">
                                    <el-step title="节点1"></el-step>
                                    <el-step title="节点2"></el-step>
                                    <el-step title="节点3"></el-step>
                                    <el-step title="节点4"></el-step>
                                    <el-step title="节点5"></el-step>
                                    <el-step title="节点6"></el-step>
                                </el-steps>
                            </div>
                        </el-col>
                        <el-col :span="4">
                            <div class="maintenancePointDiv">
                                <span class="maintenancePoint">90</span>
                            </div>
                        </el-col>
                    </el-row>
                </el-card>
            </el-col>
            <el-col :span="10" :offset="1">
                <el-row>
                    <el-col :span="24">
                        <el-card shadow="always" class="box-card">
                            <div slot="header" class="clearfix">
                                <span class="maintenanceHeader">已执行场景展示</span>
                                <span class="maintenanceHeaderDesc">(以当前时间向前推3小时已执行场景情况列表包含执行状态)</span>
                            </div>
                            <el-row>
                                <el-col :span="24">
                                    <div class="maintenanceVerticalDoneDiv">
                                        <el-steps class="maintenanceVertical" direction="vertical" :active="1"
                                                  finish-status="success" process-status="finish">
                                            <el-step class="maintenanceVerticalDone"
                                                     title="2019-01-16 06:00:00"></el-step>
                                            <el-step class="maintenanceVerticalDone"
                                                     title="2019-01-16 07:00:00"></el-step>
                                            <el-step class="maintenanceVerticalDone"
                                                     title="2019-01-16 08:00:00"></el-step>
                                            <el-step class="maintenanceVerticalDone"
                                                     title="2019-01-16 09:00:00"></el-step>
                                        </el-steps>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24" id="maintenanceVerticalBarRow">
                        <el-card shadow="always" class="box-card">
                            <div slot="header" class="clearfix">
                                <span class="maintenanceHeader">待执行场景展示</span>
                                <span class="maintenanceHeaderDesc">(以当前时间向后推3小时待执行场景列表展示)</span>
                            </div>
                            <el-row>
                                <el-col :span="24">
                                    <div class="maintenanceVerticalUnexecDiv">
                                        <el-steps class="maintenanceVertical" direction="vertical" :active="1"
                                                  finish-status="success" process-status="finish">
                                            <el-step class="maintenanceVerticalUnexec"
                                                     title="2019-01-16 10:00:00"></el-step>
                                            <el-step class="maintenanceVerticalUnexec"
                                                     title="2019-01-16 11:00:00"></el-step>
                                            <el-step class="maintenanceVerticalUnexec"
                                                     title="2019-01-16 12:00:00"></el-step>
                                            <el-step class="maintenanceVerticalUnexec"
                                                     title="2019-01-16 13:00:00"></el-step>
                                        </el-steps>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>

    <div v-else-if="isfram == 2">
        <div id='pagetitle' style="margin-bottom: 10px">
            场景详情
        </div>
        <hr id="hr">
        <div style="margin-top: 20px">
            <el-card class="box-card">
                <el-row>
                    <ul>
                        <li>
                            <span class="key">场景名称:</span>
                            <span>{{ scenes.scene_name }}</span>
                        </li>
                        <li>
                            <span class="key">创建时间:</span>
                            <span>{{ scenes.scene_creator_time }}</span>
                        </li>
                        <li>
                            <span class="key">开始时间:</span>
                            <span>{{ scenes.scene_startTime }}</span>
                        </li>
                        <li>
                            <span class="key">结束时间:</span>
                            <span>{{ scenes.scene_endTime }}</span>
                        </li>
                        <li>
                            <span class="key">适用岗位:</span>
                            <span>{{ scenes.pname }}</span>
                        </li>
                    </ul>
                </el-row>
                <el-row>
                    <div id="flow1" class="clearfix workflow-box" style="width: 100%">

                        <div class="workflow-canvas" style="margin-left: 0px;padding-left: 0px">
                            <!-- 画布模板 start -->
                            <div class="jtk-content">
                                <div class="jtk-demo-canvas canvas-wide jtk-surface jtk-surface-nopan"
                                     id="canvas" style="height:370px;">
                                    <!-- 流程 -->
                                </div>
                            </div>
                            <!-- 画布模板 end -->

                        </div>

                        <!-- template 模板-->
                        <div class="jtk-delete jtk-none ">删除节点</div>
                        <div id="template" class="jtk-none">
                            <div class="jtk-window jtk-node workfolw-node start-node" id="{charts}"
                                 data-type="start">
                                <div class="node-wrapper">
                                    <div class="node-icon-start">
                                        <i class="bk-icon icon-star-shape"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="jtk-window jtk-node workfolw-node database-node" id="{charts}"
                                 data-type="database">
                                <div class="node-wrapper">
                                    <div class="node-content">
                                        <input type="text" class="node-title" value="">
                                        <p data="数据源" class="node-desc">一级分析</p>
                                    </div>
                                    <div class="node-icon">
                                        <i class="bk-icon icon-data"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="jtk-window jtk-node workfolw-node cog-node" id="{charts}"
                                 data-type="dataCog">
                                <div class="node-wrapper">
                                    <div class="node-content">
                                        <input type="text" class="node-title" value="">
                                        <p data="数据源" class="node-desc">实时加载</p>
                                    </div>
                                    <div class="node-icon">
                                        <i class="bk-icon icon-cog"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="jtk-window jtk-node workfolw-node filter-node" id="{charts}"
                                 data-type="dataFilter">
                                <div class="node-wrapper">
                                    <div class="node-content">
                                        <input type="text" class="node-title" value="">
                                        <p data="数据源" class="node-desc">离线计算</p>
                                    </div>
                                    <div class="node-icon">
                                        <i class="bk-icon icon-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-row>
                <el-row>
                    <el-button @click="hiden">取消</el-button>
                </el-row>
            </el-card>
        </div>
    </div>


</div>
</body>
<script type="text/javascript">
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var ve = new Vue({
        el: '#maintenanceIndex',
        data: {
            maintenanceTableData: [{
                sum: 56,
                done: 8,
                doneRate: '14.29%',
                error: 6,
                errorRate: '10.71%',
                doing: 10,
                unexec: 32,
            }],
            x: 6,
            isfram: 1,
            scenes: '',
        },
        methods: {
            hiden() {
                ve.isfram = 1
            },
            scene() {
                axios.post('${SITE_URL}monitorScene/getSceneByid/' + ve.x + '/',)
                    .then((res) => {
                            this.isfram = 2
                            ve.scenes = res.data
                        }
                    )
            },
        }
    });
</script>
<script>
    setInterval(function () {


        //flow1_js_start
        $('#flow1').dataflow({
            el: '.tool', //流程拖动源
            canvas: '#canvas', //画布
            arrowWidth: 8,
            arrowHeight: 10,
            template: '#template',
            id: 'ch', // 定义节点id，当页面只有一个dataflow实例是可忽略，当有多个实例时，需自定义该字段，id具有唯一性
            onRemoveNodeAfter: function (id, line) { //删除节点回调
                //console.log(id);
                //console.log(line);
            },
            onCreateNodeAfter: function (id) { //初始化节点回调
                //console.log(id)
            },
            onCreateLineAfter: function () { //创建线条后回调
                //console.log("1111")
            },
            ondrawData: function () { //初始化流程后回调
                //console.log($('.node-icon').length)
            },
            data: {
                "line": [
                    {
                        "source": {
                            "id": "ch1",
                            "arrow": "Bottom"
                        },
                        "target": {
                            "id": "ch3",
                            "arrow": "Left"
                        }
                    },
                    {
                        "source": {
                            "id": "ch2",
                            "arrow": "Right"
                        },
                        "target": {
                            "id": "ch3",
                            "arrow": "Right"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch2",
                            "arrow": "Bottom"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch2",
                            "arrow": "Right"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch4",
                            "arrow": "Right"
                        }
                    },
                ],
                "location": [
                    {
                        "id": "ch1",
                        "x": 130,
                        "y": 48,
                        "name": "1",
                        "type": "database"
                    },
                    {
                        "id": "ch2",
                        "x": 406,
                        "y": 33,
                        "name": "2",
                        "type": "dataCog"
                    },
                    {
                        "id": "ch3",
                        "x": 406,
                        "y": 243,
                        "name": "3",
                        "type": "dataCog"
                    },
                    {
                        "id": "ch4",
                        "x": 150,
                        "y": 60,
                        "name": "4",
                        "type": "database"
                    },
                ]
            }
        });
        $('#save2').click(function () {
            // 获取全部数据
            var data = $('#flow1').data('dataflow').getAllData();
            var name = data.location[0];
            $('#result2').val(JSON.stringify(data));
        });

        // 清空画布
        $('#resetCanvas').click(function () {
            $('#flow1').data('dataflow').resetCanvas();
        });
        //flow1_js_end
        // $('.node-wrapper').click(function () {
        //
        //     $(this).find(".node-title").attr('contenteditable','plaintext-only');
        // })
        //节点抽屉
        $('.tool-title').click(function () {
            $(this).next('.tool-list').animate({
                height: 'toggle'
            });
            $(this).parent().siblings().children('.tool-list').animate({
                height: "hide"
            });
        });

    }, 1)
</script>
</html>