<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>维护人员首页</title>
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <link rel="stylesheet" href="${STATIC_URL}css/maintenanceIndex/maintenanceIndex.css">
    <script type="text/javascript" src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/echarts.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/macarons.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/maintenanceIndex/maintenanceIndex.js"></script>

    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript"
            src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css"/>
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
</head>
<style>
    .key {
        line-height: 40px;
    }

    ul {
        list-style: none;
    }
    div{border-radius: 5px;}
    .el-row {
        border: none;
    }
    .row_margin{
        margin-bottom: 20px
    }
    .row_shadow{
        box-shadow: 1px 1px 5px rgba(102,102,102,0.3);
    }

    .el-col {
        border: none;
    }

    p{

    }

    .score_input {
        font-size: 16px;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        top: -36px;
        left: 0;
        width: 50px;
        height: 36px;
        display: none;
    }

    .right_click {
        position: absolute;
        width: 100px;
        display: none;
    }

    .right_click span {
        width: 100px;
        display: inline-block;
        font-size: 16px;
        line-height: 36px;
    }
    .title{
        background: rgb(255,255,255);
        line-height: 72px
    }
    .el-collapse-item__header{
        border-bottom: 2px solid #f6f6f6!important;
        line-height: 54px!important;
    }
    .title .el-select .el-input__inner {

        font-size: 16px;
        font-family: PingFangSC-Medium;
        color: #303133;
        font-weight: bold;
    }
    p{

        font-family: PingFang-SC-Medium;
        font-size: 16px;
        color: rgba(0,0,0,0.85);
        line-height: 44px;
        margin-left: 20px;
        position: absolute;
    }
    .span_style{
        display:block;
        text-align:center;
        line-height:55px;
        width: 100%;
        height: 55px;
        border-radius: 5px;
    }
    .error{background:red}
    .success{background:#409EFF}
    .progress{background:orange}
    .red_class{
        color:red
    }
    .blue_class{
        color:blue
    }
    .orange_class{
        color:orange;
    }
    .grey_class{
        color: #B0B8C2;
    }
</style>

<body style="background: rgb(246,246,246)">
<div id="maintenanceIndex">
    <!--首页-->
    <el-row>
        <el-col :span="24">
            <div id="maintenanceTitle" style="background: rgb(246,246,246)">
                <span style="font-size: 18px;font-family: PingFangSC-Regular;color: rgba(0,0,0,0.85);margin-left: 10px">首页</span>
            </div>
        </el-col>
    </el-row>
    <!--首页内容-->
    <el-row>
        <!--系统状态-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">系统状态</span>
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;float: right;margin-right: 10px" v-text="now_date_name+now_date_time"></span>
                </div>
            </el-col>
        </el-row>
        <!--健康度-->
        <el-row :gutter="30" class="row_margin">
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>健康度</p>
                    <div style="text-align: center;padding-top: 44px">
                        <el-progress type="circle" :percentage="percentage" status="text">{{ percentage }}%</el-progress>
                    </div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>场景状态</p>
                    <div style="text-align: center;width: 95%;height: 200px" id="maintenancePie1">

                    </div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>告警数</p>
                    <div style="text-align: center;padding-top: 44px">
                        <el-progress type="circle" :percentage="100" status="text" color="red">{{ alert_number }}</el-progress>
                    </div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>自定义添加</p>
                    <div style="text-align: center;padding-top: 80px">
                        <i class="fa fa-3x fa-plus" style="color: #D8D8D8"></i>
                    </div>
                </div>
            </el-col>
        </el-row>
        <!--各系统运行情况展示-->
        <el-row class="row_shadow">
            <el-col :span="24">
                <div id="system_run_show" class="title" style="margin-bottom: 5px">
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">各系统运行情况展示</span>
                </div>
            </el-col>
        </el-row>
        <!--情况展示-->
        <el-row :gutter="10" style="margin: 0 0 20px 0;background: rgb(255,255,255);">
            <el-col v-for="(i,index) in system_run_data" :key="index" :span="3" style="margin: 20px auto">
                <span class="span_style" :class=i.status>{{ i.name }}</span>
            </el-col>

        </el-row>
        <!--告警-->
        <el-row class="row_margin row_shadow" style="margin-bottom: 10px;background: rgb(255,255,255);">
            <el-col :span="24">
                <el-collapse accordion>
                    <el-collapse-item>
                        <template slot="title">
                            <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">告警</span>
                        </template>
                        <el-col :span="22" :offset="1">
                            <el-table :data="alert_table_data" style="width: 100%;margin-bottom: 50px;">
                                <el-table-column prop="alert_content" label="警告内容" width="350"></el-table-column>
                                <el-table-column prop="alert_time" label="时间" width="350"></el-table-column>
                                <el-table-column prop="alert_level" label="级别" width="350">
                                    <template scope="scope">
                                        <span :class="{red_class: (scope.row.alert_level === '危险')}">{{ scope.row.alert_level }}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="alert_status" label="状态" width="350"></el-table-column>

                            </el-table>
                        </el-col>

                    </el-collapse-item>
                </el-collapse>
            </el-col>
        </el-row>
        <!--场景-->
        <el-row class="row_shadow" style="margin-bottom: 10px;">
            <el-col :span="24" style="border: none">
                <div id="system_run_show" style="background: rgb(255,255,255);line-height: 72px;">
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">场景</span>
                </div>
            </el-col>
        </el-row>
        <!--场景内容-->
        <el-row class="row_shadow" style="margin-bottom: 10px;background: rgb(255,255,255);">
            <el-col :span="24"class="title" style="border-bottom: 2px solid #f6f6f6">
                <el-col :span="7" :offset="1">
                    <label for="" style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;">场景时间段：</label>
                    <el-select v-model="value1" placeholder="请选择">
                        <el-option
                          v-for="item in options1"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="7" :offset="1">
                    <label for="" style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;">状态：</label>
                    <el-select v-model="value2" placeholder="请选择">
                        <el-option
                          v-for="item in options2"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="8">
                    <el-button type="primary" style="float:right;margin:20px 20px 0 0;font-size: 16px;font-family: PingFangSC-Medium;color: rgb(255, 255, 255);;font-weight: bold;">已完成场景</el-button>
                </el-col>
            </el-col>
            <el-col :span="22" :offset="1">
                <el-table :data="scene_table_data" style="width: 100%;margin-bottom: 50px;">
                  <el-table-column prop="scene_id" label="场景id" width="100"></el-table-column>
                  <el-table-column prop="scene_name" label="场景名称" width="150"></el-table-column>
                  <el-table-column prop="scene_node" label="节点" width="150"></el-table-column>
                  <el-table-column prop="start_time" label="开始时间" width="450"></el-table-column>
                  <el-table-column prop="end_time" label="截至时间" width="450"></el-table-column>
                  <el-table-column prop="scene_status" label="状态" width="150">
                      <template scope="scope">
                          <span :class="{red_class: scope.row.scene_status === '异常', orange_class: (scope.row.scene_status === '提醒'),grey_class: (scope.row.scene_status === '未执行')}">{{ scope.row.scene_status }}</span>
                      </template>
                  </el-table-column>
                </el-table>
            </el-col>
        </el-row>
        <!--自定义报表-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <el-collapse accordion>
                    <el-collapse-item>
                        <template slot="title">
                            <span style="line-height:54px;font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">自定义报表</span>
                        </template>
                        <el-col :span="22" :offset="1">
                            <el-table :data="scene_table_data" style="width: 100%;margin-bottom: 50px;">
                                <el-table-column prop="scene_id" label="场景id" width="100"></el-table-column>
                                <el-table-column prop="scene_name" label="场景名称" width="150"></el-table-column>
                                <el-table-column prop="scene_node" label="节点" width="150"></el-table-column>
                                <el-table-column prop="start_time" label="开始时间" width="450"></el-table-column>
                                <el-table-column prop="end_time" label="截至时间" width="450"></el-table-column>
                                <el-table-column prop="scene_status" label="状态" width="150"></el-table-column>
                            </el-table>
                        </el-col>

                    </el-collapse-item>
                </el-collapse>
            </el-col>
        </el-row>
        <!--自定义添加-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">自定义添加</span>
                    <span style="font-size: 30px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;float: right;margin-right: 20px"><i class="el-icon-circle-plus-outline"></i></span>
                </div>
            </el-col>
        </el-row>
    </el-row>
    <!--场景详情-->
    <el-row>
        <!--系统状态-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">系统状态</span>
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;float: right;margin-right: 10px" v-text="now_date_name+now_date_time"></span>
                </div>
            </el-col>
        </el-row>
        <!--业务量峰值-->
        <el-row :gutter="30" class="row_margin">
            <el-col :span="6">
                <div id="business_peak1" class="row_shadow" style="width: 100%;height: 300px;background: rgb(255,255,255);">

                </div>
            </el-col>
            <el-col :span="6">
                <div id="business_peak2" class="row_shadow" style="width: 100%;height: 300px;background: rgb(255,255,255);">

                </div>
            </el-col>
            <el-col :span="6">
                <div id="business_peak3" class="row_shadow" style="width: 100%;height: 300px;background: rgb(255,255,255);">

                </div>
            </el-col>
            <el-col :span="6">
                <div id="business_peak4" class="row_shadow" style="width: 100%;height: 300px;background: rgb(255,255,255);">

                </div>
            </el-col>
        </el-row>
        <!--场景流程-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 16px;font-family: PingFangSC-Medium;color: #303133;font-weight: bold;margin-left: 20px">场景流程</span>
                    <div class="scene_flow_content" style="background: black;width: 100%;height: 1200px"></div>
                </div>
            </el-col>
        </el-row>
    </el-row>

</div>
</body>
<script type="text/javascript">
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    window.onresize = function() {
        $('#maintenancePie1').width('100%');
        ve.ring_chart.resize();
        $('#business_peak1').width('100%');
        ve.line_chart1.resize();
        ('#business_peak2').width('100%');
        ve.line_chart2.resize();
        ('#business_peak3').width('100%');
        ve.line_chart3.resize();
        ('#business_peak4').width('100%');
        ve.line_chart4.resize();

    };
    var ve = new Vue({
        el: '#maintenanceIndex',
        data: {
            percentage:0,
            options1: [
                {
              value: '选项1',
              label: '黄金糕'
            }, {
              value: '选项2',
              label: '双皮奶'
            }, {
              value: '选项3',
              label: '蚵仔煎'
            }, {
              value: '选项4',
              label: '龙须面'
            }, {
              value: '选项5',
              label: '北京烤鸭'
            }],
            value1:'',
            options2: [
                {
              value: '选项1',
              label: '黄金糕'
            }, {
              value: '选项2',
              label: '双皮奶'
            }, {
              value: '选项3',
              label: '蚵仔煎'
            }, {
              value: '选项4',
              label: '龙须面'
            }, {
              value: '选项5',
              label: '北京烤鸭'
            }],
            value2: '',
            scene_table_data: [
                {
                scene_id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'异常'
              },{
                scene_id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'提醒'
              },{
                scene_id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'正在执行'
              },
                {
                scene_id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'未执行'
              },
              ],
            ring_chart:'',
            line_chart1:'',
            line_chart2:'',
            line_chart3:'',
            line_chart4:'',
            alert_number:0,
            system_run_data:[
                {
                    name:'集中交易系统',
                    status:'success'
                },
                {
                    name:'公募基金系统',
                    status:'success'
                },
                {
                    name:'集中运营系统',
                    status:'success'
                },
                {
                    name:'集中交易系统',
                    status:'progress'
                },
                {
                    name:'公募基金系统',
                    status:'progress'
                },
                {
                    name:'集中运营系统',
                    status:'progress'
                },
                {
                    name:'集中交易系统',
                    status:'error'
                },
                {
                    name:'公募基金系统',
                    status:'error'
                },
                {
                    name:'集中运营系统',
                    status:'error'
                },

            ],
            alert_table_data:[],          //告警表格数据
            now_date_time:'',
            now_date_name:'',
            scene_chart_data:[],
        },
        methods: {

            show_ring_chart(){
                if (this.ring_chart != null && this.ring_chart != "" && this.ring_chart != undefined) {
                    this.ring_chart.dispose();
                }
                this.ring_chart = echarts.init(document.getElementById('maintenancePie1'), 'macarons');
                var option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    color:['red','orange','#409EFF'],
                    legend: {
                        orient : 'vertical',
                        x : 'right',
                        y : 'bottom',
                        data:['危险','预警','正常']
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : ['50%', '60%'],
                            itemStyle : {
                                normal : {
                                    label : {
                                        show : false
                                    },
                                    labelLine : {
                                        show : false
                                    }
                                },
                                emphasis : {
                                    label : {
                                        show : true,
                                        position : 'center',
                                        textStyle : {
                                            fontSize : '16',
                                            fontWeight : 'bold'
                                        }
                                    }
                                }
                            },
                            data:ve.scene_chart_data
                        }
                    ]
                };
                this.ring_chart.setOption(option);
            },
            show_line_chart(){
                if (this.line_chart1 != null && this.line_chart1 != "" && this.line_chart1 != undefined) {
                    this.line_chart1.dispose();
                }
                if (this.line_chart2 != null && this.line_chart2 != "" && this.line_chart2 != undefined) {
                    this.line_chart2.dispose();
                }
                if (this.line_chart3 != null && this.line_chart3 != "" && this.line_chart3 != undefined) {
                    this.line_chart3.dispose();
                }
                if (this.line_chart4 != null && this.line_chart4 != "" && this.line_chart4 != undefined) {
                    this.line_chart4.dispose();
                }
                this.line_chart1 = echarts.init(document.getElementById('business_peak1'), 'default');
                this.line_chart2 = echarts.init(document.getElementById('business_peak2'), 'default');
                this.line_chart3 = echarts.init(document.getElementById('business_peak3'), 'default');
                this.line_chart4 = echarts.init(document.getElementById('business_peak4'), 'default');
                var option1 = {
                    title : {
                        text: '业务量峰值',
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['当前值','前五日平均值'],
                        orient : 'vertical',
                        x : 'right',
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                        }
                    ],
                    series : [
                        {
                            name:'当前值',
                            type:'line',
                            data:[211, 311, 215, 813, 412, 613, 210, 811, 171, 165, 513, 192, 153, 210, 150],
                        },
                        {
                            name:'前五日平均值',
                            type:'line',
                            data:[412, 613, 210, 813, 215, 813, 412, 613, 210, 811, 13, 210, 811, 171, 165,],

                        }
                    ]
                };
                var option2 = {
                    title : {
                        text: 'CPU',
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['当前值','前五日平均值'],
                        orient : 'vertical',
                        x : 'right',
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                        }
                    ],
                    series : [
                        {
                            name:'当前值',
                            type:'line',
                            data:[211, 311, 215, 813, 412, 613, 210, 811, 171, 165, 513, 192, 153, 210, 150],
                        },
                        {
                            name:'前五日平均值',
                            type:'line',
                            data:[412, 613, 210, 813, 215, 813, 412, 613, 210, 811, 13, 210, 811, 171, 165,],

                        }
                    ]
                };
                var option3 = {
                    title : {
                        text: '业务延时',
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['当前值','前五日平均值'],
                        orient : 'vertical',
                        x : 'right',
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                        }
                    ],
                    series : [
                        {
                            name:'当前值',
                            type:'line',
                            data:[211, 311, 215, 813, 412, 613, 210, 811, 171, 165, 513, 192, 153, 210, 150],
                        },
                        {
                            name:'前五日平均值',
                            type:'line',
                            data:[412, 613, 210, 813, 215, 813, 412, 613, 210, 811, 13, 210, 811, 171, 165,],

                        }
                    ]
                };
                var option4 = {
                    title : {
                        text: '99%水位业务指标的时延',
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['当前值','前五日平均值'],
                        orient : 'vertical',
                        x : 'right',
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                        }
                    ],
                    series : [
                        {
                            name:'当前值',
                            type:'line',
                            data:[211, 311, 215, 813, 412, 613, 210, 811, 171, 165, 513, 192, 153, 210, 150],
                        },
                        {
                            name:'前五日平均值',
                            type:'line',
                            data:[412, 613, 210, 813, 215, 813, 412, 613, 210, 811, 13, 210, 811, 171, 165,],

                        }
                    ]
                };

                this.line_chart1.setOption(option1);
                this.line_chart2.setOption(option2);
                this.line_chart3.setOption(option3);
                this.line_chart4.setOption(option4);
            },
            get_date(){
                axios.post('${SITE_URL}home_page/get_time/').then((res)=>{
                    ve.now_date_time = res.data['time_date']
                    ve.now_date_name = res.data['today_name']+":"
                    console.log(res.data)
                }).catch(function (e) {
                    ve.$message.error('获取时间失败！');
                })
            },
            get_alert_data(){
                axios.post('${SITE_URL}home_page/scenes_alert/').then((res)=>{
                    ve.percentage=res.data['last_score'];
                    ve.alert_number=res.data['alert_count'];
                    ve.alert_table_data=res.data['alert_data'];
                    ve.scene_chart_data=[
                        {value:res.data['danger_scene'], name:'危险'},
                        {value:res.data['will_scene'], name:'预警'},
                        {value:res.data['safe_scene'], name:'正常'},
                    ];
                    ve.show_ring_chart();
                }).catch(function (e) {
                    ve.$message.error('获取数据失败！');
                })
            },
            scene_content_change(value) {
                axios({
                    method: 'post',
                    url:'',
                    data:{
                        data:value
                    }
                }).then(function (res) {
                    console.log(res)
                    let selector = '.scene_flow_content';
                    let base_list = res.data.base_list;  //获取当前场景的基本监控项数据
                    let flow_list = res.data.flow_list;  //获取当前场景的流程监控项数据
                    $(selector).html('');    //初始化场景
                    for (let i = 0; i < base_list.length; i++) {
                        //添加一个div容器，形如<div type="basic1"></div>
                        $(selector).append('<div type=\"basic' + base_list[i].id + '\" style=\"position: absolute;top:' + base_list[i].y + 'px;left:' + base_list[i].x + 'px;transform: scale(' + base_list[i].scale + ')\"></div>');
                        //调用基本监控项的渲染方法,第一个参数对应容器div的type
                        base_monitor_active(base_list[i].id, base_list[i].font_size, base_list[i].height, base_list[i].width,base_list[i].contents);
                    }
                    for (let i = 0; i < flow_list.length; i++) {

                        let jion_id = [{
                            "id": flow_list[i].jion_id
                        }];
                        //添加一个div容器,形如<div><div id="flow1_1"></div></div>
                        $(selector).append('<div class=\"flow_monitor\" type=\"'+flow_list[i].id+'\" style=\"position: absolute;top:' + flow_list[i].y + 'px;left:' + flow_list[i].x + 'px;transform: scale(' + flow_list[i].scale + ')\"><div type=\"flow_monitor' + value + '_' + flow_list[i].order + '\"></div></div>');
                        //调用流程监控项的渲染方法，第一条参数必须为[{}]格式，用来调v3接口，第二条参数对应容器内部div的id
                        flow_monitor(jion_id, value + '_' + flow_list[i].order);
                    }
                }).catch(function (e) {
                    ve.$message.error('获取数据失败！');
                });
            },
        }
    });
    ve.get_date();
    setInterval(function () {
        ve.get_date();
    },10000)
    ve.get_alert_data();
    ve.show_line_chart();
</script>

</html>