<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>维护人员首页</title>
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <link rel="stylesheet" href="${STATIC_URL}css/maintenanceIndex/maintenanceIndex.css">
    <script type="text/javascript" src="${STATIC_URL}js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/echarts.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/echarts/macarons.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/maintenanceIndex/maintenanceIndex.js"></script>

    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript"
            src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css"/>
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
</head>
<style>
    .key {
        line-height: 40px;
    }

    ul {
        list-style: none;
    }

    .el-row {
        border: none;
    }
    .row_margin{
        margin-bottom: 20px
    }
    .row_shadow{
        box-shadow: 1px 1px 5px rgba(102,102,102,0.3);
    }

    .el-col {
        border: none;
    }

    p, i {
        text-align: center;
    }

    .score_input {
        font-size: 16px;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        top: -36px;
        left: 0;
        width: 50px;
        height: 36px;
        display: none;
    }

    .right_click {
        position: absolute;
        width: 100px;
        display: none;
    }

    .right_click span {
        width: 100px;
        display: inline-block;
        font-size: 16px;
        line-height: 36px;
    }
    .title{
        background: rgb(255,255,255);
        line-height: 72px
    }
</style>

<body style="background: rgb(246,246,246)">
<div id="maintenanceIndex">



        <!--首页-->
        <el-row>
            <el-col :span="24">
                <div id="maintenanceTitle" style="background: rgb(246,246,246)">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;">首页</span>
                </div>
            </el-col>
        </el-row>
        <!--系统状态-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;margin-left: 10px">系统状态</span>
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;float: right;margin-right: 10px">交易日：2019年03月15日 23:45</span>
                </div>
            </el-col>
        </el-row>
        <!--健康度-->
        <el-row :gutter="30" class="row_margin">
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>健康度</p>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>场景状态</p>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>告警数</p>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="row_shadow" style="width: 100%;height: 200px;background: rgb(255,255,255);">
                    <p>自定义添加</p>
                    <i></i>
                </div>
            </el-col>
        </el-row>
        <!--各系统运行情况展示-->
        <el-row class="row_shadow">
            <el-col :span="24">
                <div id="system_run_show" class="title" style="margin-bottom: 5px">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;margin-left: 10px">各系统运行情况展示</span>
                </div>
            </el-col>
        </el-row>
        <!--情况展示-->
        <el-row :gutter="10" style="margin: 0 0 20px 0;background: rgb(255,255,255);">
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
            <el-col :span="3" style="margin: 20px auto">
                <span style="display:block;text-align:center;line-height:55px;width: 100%;height: 55px;background: #015991">集中交易系统</span>
            </el-col>
        </el-row>
        <!--告警-->
        <el-row class="row_margin row_shadow" style="margin-bottom: 10px;background: rgb(255,255,255);">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;margin-left: 10px">告警</span>
                    <span style="font-size: 30px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;float: right;margin-right: 20px"><i class="el-icon-arrow-up"></i></span>
                </div>
            </el-col>
            <el-col :span="22" :offset="1">
                <el-table :data="scene_table_data" style="width: 100%;margin-bottom: 50px;">
                  <el-table-column prop="scene_id" label="场景id" width="100"></el-table-column>
                  <el-table-column prop="scene_name" label="场景名称" width="150"></el-table-column>
                  <el-table-column prop="scene_node" label="节点" width="150"></el-table-column>
                  <el-table-column prop="start_time" label="开始时间" width="450"></el-table-column>
                  <el-table-column prop="end_time" label="截至时间" width="450"></el-table-column>
                  <el-table-column prop="scene_status" label="状态" width="150"></el-table-column>
                </el-table>
            </el-col>
        </el-row>
        <!--场景-->
        <el-row class="row_shadow" style="margin-bottom: 10px;">
            <el-col :span="24" style="border: none">
                <div id="system_run_show" style="background: rgb(255,255,255);line-height: 72px;">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;margin-left: 10px">场景</span>
                </div>
            </el-col>
        </el-row>
        <!--场景内容-->
        <el-row class="row_shadow" style="margin-bottom: 10px;background: rgb(255,255,255);">
            <el-col :span="24"class="title" style="border-bottom: 2px solid #f6f6f6">
                <el-col :span="7" :offset="1" style="border: none;">
                    <label for="" style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;">场景时间段：</label>
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="7" :offset="1" style="border: none;">
                    <label for="" style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;">状态：</label>
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="8" style="border: none;">
                    <el-button type="primary" style="float:right;margin:20px 20px 0 0;font-size: 18px;font-family: PingFangSC-Regular;color: rgb(255, 255, 255);;font-weight: bold;">已完成场景</el-button>
                </el-col>
            </el-col>
            <el-col :span="22" :offset="1">
                <el-table :data="scene_table_data" style="width: 100%;margin-bottom: 50px;">
                  <el-table-column prop="scene_id" label="场景id" width="100"></el-table-column>
                  <el-table-column prop="scene_name" label="场景名称" width="150"></el-table-column>
                  <el-table-column prop="scene_node" label="节点" width="150"></el-table-column>
                  <el-table-column prop="start_time" label="开始时间" width="450"></el-table-column>
                  <el-table-column prop="end_time" label="截至时间" width="450"></el-table-column>
                  <el-table-column prop="scene_status" label="状态" width="150"></el-table-column>
                </el-table>
            </el-col>
        </el-row>
        <!--自定义报表-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;margin-left: 10px">自定义报表</span>
                    <span style="font-size: 30px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;float: right;margin-right: 20px"><i class="el-icon-arrow-up"></i></span>
                </div>
            </el-col>
        </el-row>
        <!--自定义添加-->
        <el-row class="row_margin row_shadow">
            <el-col :span="24">
                <div id="system_state" class="title">
                    <span style="font-size: 18px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;margin-left: 10px">自定义添加</span>
                    <span style="font-size: 30px;font-family: PingFangSC-Regular;color: #303133;font-weight: bold;float: right;margin-right: 20px"><i class="el-icon-circle-plus-outline"></i></span>
                </div>
            </el-col>
        </el-row>




</div>
</body>
<script type="text/javascript">
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var ve = new Vue({
        el: '#maintenanceIndex',
        data: {
            maintenanceTableData: [{
                sum: 56,
                done: 8,
                doneRate: '14.29%',
                error: 6,
                errorRate: '10.71%',
                doing: 10,
                unexec: 32,
            }],
            x: 2,
            isfram: 1,
            scenes: '',
            items_data: '',
            drigging_id: 1,
            show_c: '',
            selector_id:'',
            selector_type:'',
            selector_canvas:'',
            selector_template:'',
            options: [{
              value: '选项1',
              label: '黄金糕'
            }, {
              value: '选项2',
              label: '双皮奶'
            }, {
              value: '选项3',
              label: '蚵仔煎'
            }, {
              value: '选项4',
              label: '龙须面'
            }, {
              value: '选项5',
              label: '北京烤鸭'
            }],
            value: '',
            scene_table_data: [{
                scene_id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'正在执行'
              },{
                id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'正在执行'
              },{
                id:1,
                scene_name: '王小虎',
                scene_node: '1',
                start_time: '2016-05-02',
                end_time: '2016-05-02',
                scene_status:'正在执行'
              },
              ],
        },
        methods: {
            hiden() {
                window.location.reload()
            },
            scene() {
                ve.isfram = 2
                axios.post('${SITE_URL}monitorScene/getSceneByid/' + ve.x + '/',)
                    .then((res) => {
                            ve.items_data = res.data.results
                            if (ve.items_data != '') {
                                ve.echar_pattern()
                            }
                        }
                    );
            },
            echar_pattern() {
                for (var i = 0; i < ve.items_data.length; i++) {
                    if (ve.items_data[i]['monitor_type'] == '作业单元类型') {
                        //"<div type=\""+ 'job'+ve.items_data[i]['id'] + "\" style=\"position:absolute;left:" + ve.items_data[i]['x']+'px;' + "top:" + ve.items_data[i]['y']+'px;' +"width:"+ve.items_data[i]['width']+'px;'+"height:"+ve.items_data[i]['height']+'px;'+ "\"></div>"
                        $('#mychart').append("<div type=\"" + 'job' + ve.items_data[i]['id'] + "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\"></div>");
                        job_monitor(ve.items_data[i])

                    } else if (ve.items_data[i]['monitor_type'] == '图表单元类型') {
                        ve.drigging_id = ve.drigging_id + 1;
                        ve.show_c = 'show' + ve.drigging_id;
                        $('#mychart').append("<div id=\"" + ve.show_c + "\" style= \"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\"><div style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' +"top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\"></div></div>");
                        show_chart(ve.items_data[i]['id'], ve.items_data[i]['gather_params'], ve.items_data[i]['height'], ve.items_data[i]['width'], ve.show_c, ve.items_data[i]['contents'])
                    } else if (ve.items_data[i]['monitor_type'] == '流程单元类型') {

                        ve.drigging_id = ve.drigging_id + 1;
                        ve.selector_id = 'flow' + ve.drigging_id;
                        ve.selector_type = 'flow_monitor' + ve.drigging_id
                        ve.selector_canvas = 'canvas' + ve.drigging_id
                        ve.selector_template = 'template' + ve.drigging_id
                        $('#mychart').append("<div type =\"" + ve.selector_type + "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\"></div>");
                        //$('#mychart').append("<div id=\"" + ve.selector_id + "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\">" +
                           // "<div id=\"" + ve.selector_canvas+ "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\"></div>" +
                           // "<div id=\"" + ve.selector_template+ "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "width:" + ve.items_data[i]['width'] + 'px;' + "height:" + ve.items_data[i]['height'] + 'px;' + "\"></div></div>");
                        flow_monitor([{"id": ve.items_data[i]['jion_id']}], ve.drigging_id)

                    } else {
                        //"<div type=\"" + 'basic'+ve.items_data[i]['id'] + "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;'+"top:" + ve.items_data[i]['y'] + 'px;' + "\"></div>"
                        $('#mychart').append("<div type=\"" + 'basic' + ve.items_data[i]['id'] + "\" style=\"position:absolute;left:" + ve.items_data[i]['x'] + 'px;' + "top:" + ve.items_data[i]['y'] + 'px;' + "\"></div>");
                        base_monitor(ve.items_data[i]['id'], ve.items_data[i]['font_size'], ve.items_data[i]['height'], ve.items_data[i]['width'], ve.items_data[i]['contents'])
                    }
                }
            },
        }
    });

</script>

</html>