<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>title</title>

    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <link type="text/css" href="${STATIC_URL}css/monitorScene/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jrange/css/jquery.range.css" rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="${STATIC_URL}js/jquery.range-min.js"></script>


    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript"
            src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css"/>
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow2.0.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <style>
        .Drigging {
            position:absolute;
        }
        .monitor_type{
            line-height: 48px;
            background: #28359324;
            text-align: center;
        }
        .monitor_list{
            display: none;
        }
        .monitor_list div{
            text-align: center;
        }
        .monitor_content{
            position:relative;
        }
        .el-row{
            border: 1px solid #ffffff;
        }
        .el-col{
            border: 1px solid #ffffff;
        }
        p,i{
            text-align: center;
        }
        .score_input{
            font-size: 16px;
            position: absolute;
            background: rgba(255,255,255,0.1);
            top: -36px;
            left: 0;
            width: 50px;
            height: 36px;
            display: none;
        }
        .right_click{
            position: absolute;
            width: 100px;
            display: none;
        }
        .right_click span{
            width: 100px;
            display: inline-block;
            font-size: 16px;
            line-height: 36px;
        }
    </style>
</head>

<body>
<div id="app" style="width: 100%;height: auto;min-height: 600px">
    <el-row>
        <el-col :span="24">
            <h1 style="rgba(40, 147, 108, 0.45);line-height: 60px;text-align: center">场景编排<span style="background:beige;float: right">返回</span></h1>
        </el-col>
        <el-col :span="6">
            <div style="height:auto;min-height: 600px;background: rgb(244, 244, 245);position: relative">
                <h2 class="monitor_title" style="line-height:48px;background:#283593;text-align: center;color: #ffffff">监控项</h2>
                <el-col :span="24">
                        <h3 @click="monitor_type_switch(1)" class="monitor_type" >基本监控项</h3>
                </el-col>
                <div class="monitor_list">
                    <el-col :span="12" v-for="(i,index) in base_monitor" :key="index">
                        <div @click="add_base_monitor(i)">
                            <p>{{ i.monitor_name }}</p>
                            <i class="bk-icon icon-monitors"></i>
                        </div>

                    </el-col>
                    <el-col :span="24">
                        <el-pagination :page-count="base_page_count" background layout="prev, pager, next" style="float:right"
                               @current-change="current_change1"></el-pagination>
                    </el-col>
                </div>
                <el-col :span="24">
                        <h3 @click="monitor_type_switch(2)" class="monitor_type">图表监控项</h3>
                </el-col>
                <div class="monitor_list">
                    <el-col :span="12" v-for="(i,index) in chart_monitor" :key="index">
                        <div @click="add_chart_monitor(i)">
                            <p>{{ i.monitor_name }}</p>
                            <i class="bk-icon icon-panel-permission"></i>
                        </div>
                    </el-col>
                    <el-col :span="24">
                        <el-pagination :page-count="chart_page_count" background layout="prev, pager, next" style="float:right"
                           @current-change="current_change2"></el-pagination>
                    </el-col>

                </div>
                <el-col :span="24">
                        <h3 @click="monitor_type_switch(3)" class="monitor_type">作业监控项</h3>
                </el-col>
                <div class="monitor_list">
                    <el-col :span="12" v-for="(i,index) in job_monitor" :key="index">
                        <div @click="add_job_monitor(i)">
                            <p>{{ i.monitor_name }}</p>
                            <i class="bk-icon icon-monitors"></i>
                        </div>
                    </el-col>
                    <el-col :span="24">
                        <el-pagination :page-count="job_page_count" background layout="prev, pager, next" style="float:right"
                           @current-change="current_change3"></el-pagination>
                    </el-col>

                </div>
                <el-col :span="24">
                        <h3 @click="monitor_type_switch(4)" class="monitor_type">流程监控项</h3>
                </el-col>
                <div class="monitor_list">
                    <el-col :span="12" v-for="(i,index) in flow_monitor" :key="index">
                        <div @click="add_flow_monitor(i)">
                            <p>{{ i.monitor_name }}</p>
                            <i class="bk-icon icon-monitors"></i>
                        </div>
                    </el-col>
                    <el-col :span="24">
                        <el-pagination :page-count="flow_page_count" background layout="prev, pager, next" style="float:right"
                           @current-change="current_change4"></el-pagination>
                    </el-col>

                </div>
                <div style="position: absolute;bottom: 0;right: 0;font-size:30px;width: 100%">
                    <i class="el-icon-circle-plus-outline"></i>
                    <i class="el-icon-remove-outline"></i>
                </div>
            </div>

        </el-col>
        <el-col :span="18">
            <div class="monitor_content" style="min-height: 600px;background: rgb(244, 244, 245)">
            </div>
        </el-col>
    </el-row>
</div>


<script type="text/javascript">
        axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var vm = new Vue({
        el: '#app',
        data:{
            base_page_count:0,
            chart_page_count:0,
            job_page_count:0,
            flow_page_count:0,
            page:1,
            monitor_type:0,
            limit:4,
            base_monitor:[],
            chart_monitor:[],
            job_monitor:[],
            flow_monitor:[],
            drigging_id:1,
        },
        methods:{
            show(){
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/scene_show/',
                    data: {
                        limit:vm.limit,
                        type:vm.monitor_type,
                        page:vm.page
                    },
                }).then((res)=> {
                    if (vm.monitor_type == 0){
                        vm.base_monitor=res.data.results.base_list;
                        vm.chart_monitor=res.data.results.chart_list;
                        vm.job_monitor=res.data.results.job_list;
                        vm.flow_monitor=res.data.results.flow_list;
                        vm.base_page_count=res.data.results.base_list[0].page_count;
                        vm.chart_page_count=res.data.results.chart_list[0].page_count;
                        vm.job_page_count=res.data.results.job_list[0].page_count;
                        vm.flow_page_count=res.data.results.flow_list[0].page_count;
                    }
                    else if (vm.monitor_type == 1) {
                        vm.base_monitor=res.data.results.base_list;
                        vm.base_page_count=res.data.results.base_list[0].page_count;
                    }
                    else if (vm.monitor_type == 2) {
                        vm.chart_monitor=res.data.results.chart_list;
                        vm.chart_page_count=res.data.results.chart_list[0].page_count;
                    }
                    else if (vm.monitor_type == 3) {
                        vm.job_monitor=res.data.results.job_list;
                        vm.job_page_count=res.data.results.job_list[0].page_count;
                    }
                    else if (vm.monitor_type == 4) {
                        vm.flow_monitor=res.data.results.flow_list;
                        vm.flow_page_count=res.data.results.flow_list[0].page_count;
                    }
                });
            },
            add_base_monitor(i){
                console.log(i);
                $('.monitor_content').append('<div class=\"Drigging\" type=\"basic'+i.id+'\" id=\"'+vm.drigging_id+'\"></div>');
                base_monitor(i.id,i.font_size,i.height,i.width);
                vm.drigging_id++
            },
            add_chart_monitor(i){
                console.log(i);
                $('.monitor_content').append('<div class=\"Drigging\" id=\"'+vm.drigging_id+'\"><div id=\"chart'+i.id+'\" style=\"background:beige;height:'+i.height+'px;width:'+i.width+'px\"></div><input class="score_input" type="text"><div class="right_click"><span class="score">打分</span><span class="delete">删除监控项</span></div></div>')
                chart_monitor(i.id,i.gather_params,i.height,i.width,vm.drigging_id);
                vm.drigging_id++
            },
            add_job_monitor(i){
                console.log(i);
                var job_params={
                    'job_id':i.id,
                    'width' :i.width,
                    'height':i.height,
                    'status':i.job_status
                }
                $('.monitor_content').append('<div class=\"Drigging\" type=\"job'+i.id+'\" id=\"'+vm.drigging_id+'\"></div>')
                job_monitor(job_params)
                vm.drigging_id++
            },
            add_flow_monitor(i){
                console.log(i);
                let jion_id=[{
                    "id":i.jion_id
                }]
                $('.monitor_content').append('<div class=\"Drigging\" id=\"'+vm.drigging_id+'\"><div type=\"flow_monitor'+vm.drigging_id+'\"></div></div>')
                flow_monitor(jion_id,vm.drigging_id)
                vm.drigging_id++
            },
            current_change1(value) {
                vm.page = value;
                vm.monitor_type=1;
                vm.show();
            },
            current_change2(value) {
                vm.page = value;
                vm.monitor_type=2;
                vm.show();
            },
            current_change3(value) {
                vm.page = value;
                vm.monitor_type=3;
                vm.show();
            },
            current_change4(value) {
                vm.page = value;
                vm.monitor_type=4;
                vm.show();
            },
            monitor_type_switch(value){
                vm.monitor_type = value;
                vm.show()
            },
        }
    });
    vm.show();
    $('.monitor_type').click(function () {
        $(this).parent().next('div').animate({
           height:'toggle'
        });
        $(this).parent().next('div').siblings('.monitor_list').animate({
            height:"hide"
        });
    });
    document.oncontextmenu = function(){
    　　return false;
    };
    $(function () {
        $('.Drigging').each(function () {

        });
    });
    $(function () {
    var obox=$('.monitor_content');
    var selector = '';
    var flag=false;
    var x,y;
    var offsetLeft,offsetTop;
    var proportion=1;
    var Multiple = 0;
    $(document).on("mouseover", ".Drigging", function () {
        $(this).css('cursor', 'pointer');//当鼠标移动到拖拽目标上的时候，将鼠标的样式设置为移动(move)
    });
    $(document).on("mousedown", ".Drigging", function (e) {
        var e=window.event||e;
        selector = '#' + this.id;
        flag = true;//当鼠标在移动元素按下的时候将flag设定为true
        x = e.clientX;//获取鼠标在当前窗口的相对偏移位置的Left值并赋值给x
        y = e.clientY;//获取鼠在当前窗口的相对偏移位置的Top值并赋值给y
        offsetLeft = $(selector).position().left;
        offsetTop = $(selector).position().top;
        $(this).css('cursor', 'pointer');
        console.log(x,y,e.clientX,e.clientY,obox.width(),obox.height(),$(selector).width(),$(selector).height(),offsetLeft,offsetTop);
    });
    $(document).on("mouseup", ".Drigging", function () {
        flag = false;//当鼠标在移动元素起来的时候将flag设定为false
    });
    $(document).on("mousedown", ".Drigging", function (e) {//监控项右击显示打分输入框
        if(e.button == 2){
            e.preventDefault();
            var x = e.offsetX + 10;
            var y = e.offsetY + 10;
            $(this).find('.right_click').css({
                left: x,
                top: y,
                display: 'block'
            });
            $(this).find('.right_click').off();
            $(this).find('.score').on('click', function(e) {
                e.stopPropagation();
                $(selector+' .score_input').css('display', 'block');
                $('.right_click').css('display', 'none');
            })
            $(this).find('.delete').on('click', function(e) {
                e.stopPropagation();
                $(this).parent().parent().remove();

            })

        }
    });
    $(document).on("blur", ".score_input", function(){//打分输入框失去焦点隐藏
       $('.score_input').css('display','none');
    });
    $(document).mousemove(function (e) {
        if (!flag)//如果flag为false则返回
            return;//当flag为true的时候执行下面的代码
        e.preventDefault();
        var e=window.event||e;
        var _x = e.clientX - x + offsetLeft+Math.abs(Multiple)*$(selector).width()*(proportion-1)/2;
        //event.clientX得到鼠标相对于客户端正文区域的偏移
        //然后减去offsetX即得到当前推拽元素相对于当前窗口的X值
        //（减去鼠标刚开始拖动的时候在当前窗口的偏移X）
        var _y = e.clientY - y + offsetTop+Math.abs(Multiple)*$(selector).height()*(proportion-1)/2;
        //event.clientY得到鼠标相对于客户端正文区域的偏移
        //然后减去offsetX即得到当前推拽元素相对于当前窗口的Y值
        //（减去鼠标刚开始拖动的时候在当前窗口的偏移Y）
        console.log(_x,_y);
        if(_x<0){
            _x=0+$(selector).width()*(proportion-1)/2;
        }
        if(_y<0){
            _y=0+$(selector).height()*(proportion-1)/2;
        }
        if(_x>obox.width()-$(selector).width()){

            //_x=obox.width()-$(selector).width();
            _x=obox.width()-($(selector).width()*(proportion-1)/2+$(selector).width());
        }
        if(_y>obox.height()-$(selector).height()){
            //_y=obox.height()-$(selector).height();
            _y=obox.height()-($(selector).height()*(proportion-1)/2+$(selector).height());
        }
        $(selector).css("left", _x);
        $(selector).css("top", _y);
        $(selector).css('cursor', 'pointer');


    });
    $('.el-icon-circle-plus-outline').click(function () {
        if(Multiple<2) {
            proportion = proportion + 0.1;
            $('.monitor_content').find('.Drigging').css('transform', 'scale(' + proportion + ')');
            Multiple++;
            console.log(proportion, Multiple);
        }else {
            return
        }
    });
    $('.el-icon-remove-outline').click(function () {
        if(Multiple>-2){
           proportion=proportion-0.1;
        $('.monitor_content').find('.Drigging').css('transform','scale('+proportion+')');
        $('.monitor_content').find('canvas').css('transform','scale('+proportion+')');
        Multiple--;
        console.log(proportion,Multiple);
        }else {
            return
        }

    });
});

</script>

</body>

</html>


