<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>夜间值班流程图</title>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src='${STATIC_URL}js/jquery.min.js'></script>
    <script src='${STATIC_URL}js/jquery-ui.js'></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>-->
    <!--页面初始化css(Tencent)-->
    <link href="${STATIC_URL}css/init.css" rel="stylesheet">
    <!-- 引入额外的包-->
    <link href="${STATIC_URL}css/nightFirst.css" rel="stylesheet">
</head>



<body style="background: rgb(246,246,246);overflow-y: block;">
<div style="position:relative" class="dutyback" id="nightSecond">
    <span
      style="color:#00e4f4;font-size:18px;display:block;position:absolute;top:30px;right:20px;height:25px;line-height:25px"
    >{{date}}&nbsp;&nbsp;{{time}}</span>
    <ul :class="[myclass[0]]">
      <li>{{mytime[0]}}</li>
      <li>收到"***多金融代<br/>销系统清算完<br/>成***"短信</li>
      <li>{{result[0]}}</li>
    </ul>
     <ul :class="[myclass[1]]">
      <li>{{mytime[1]}}</li>
      <li>交易业务-收盘<br/>作业-数据规定</li>
      <li>{{result[1]}}</li>
    </ul>
   <ul :class="[myclass[2]]">
      <li>{{mytime[2]}}</li>
      <li>交易业务-收盘<br/>作业-日间数据<br/>清空</li>
      <li>{{result[2]}}</li>
    </ul>
    <ul :class="[myclass[3]]">
      <li>{{mytime[3]}}</li>
      <li>多金清算-收盘<br/>处理-数据归档</li>
      <li>{{result[3]}}</li>
    </ul>
    <ul :class="[myclass[4]]">
      <li>{{mytime[4]}}</li>
      <li>多金清算-收盘<br/>处理-收盘作业</li>
      <li>{{result[4]}}</li>
    </ul>
    <ul :class="[myclass[5]]">
      <li>{{mytime[5]}}</li>
      <li>需查看<br/>“**OTC***”<br/>系统清算核对完毕</li>
      <li>{{result[5]}}</li>
    </ul>
    <ul :class="[myclass[6]]">
      <li>{{mytime[6]}}</li>
      <li>产品交易准备<br/></li>
      <li>{{result[6]}}</li>
    </ul>
    <ul :class="[myclass[7]]">
      <li>{{mytime[7]}}</li>
      <li>系统初始化<br/></li>
      <li>{{result[7]}}</li>
    </ul>
    <ul :class="[myclass[8]]">
      <li>{{mytime[8]}}</li>
      <li>需查看“***转融<br/>通系统清算已完<br/>成***”帖子</li>
      <li>{{result[8]}}</li>
    </ul>
    <ul :class="[myclass[9]]">
      <li>{{mytime[9]}}</li>
      <li>转融通系统数据<br/>库初始化前备份</li>
      <li>{{result[9]}}</li>
    </ul>
    <ul :class="[myclass[10]]">
      <li>{{mytime[10]}}</li>
      <li>转融通系统初始化</li>
      <li>{{result[10]}}</li>
    </ul>
    <ul :class="[myclass[11]]">
      <li>{{mytime[11]}}</li>
      <li>需查看“***做市<br/>系统清算已完成<br/>***帖子”</li>
      <li>{{result[11]}}</li>
    </ul>
    <ul :class="[myclass[12]]">
      <li>{{mytime[12]}}</li>
      <li>结算数据导入</li>
      <li>{{result[12]}}</li>
    </ul>
    <ul :class="[myclass[13]]">
      <li>{{mytime[13]}}</li>
      <li>新意接口导出</li>
      <li>{{result[13]}}</li>
    </ul>
    <ul :class="[myclass[14]]">
      <li>{{mytime[14]}}</li>
      <li>结算数据处理</li>
      <li>{{result[14]}}</li>
    </ul>
    <ul :class="[myclass[15]]">
      <li>{{mytime[15]}}</li>
      <li>交易数据归档</li>
      <li>{{result[15]}}</li>
    </ul>
    <ul :class="[myclass[16]]">
      <li>{{mytime[16]}}</li>
      <li>交易系统初始化</li>
      <li>{{result[16]}}</li>
    </ul>
    <ul :class="[myclass[17]]">
      <li>{{mytime[17]}}</li>
      <li>清算数据归档</li>
      <li>{{result[17]}}</li>
    </ul>
    <ul :class="[myclass[18]]">
      <li>{{mytime[18]}}</li>
      <li>清算系统初始化</li>
      <li>{{result[18]}}</li>
    </ul>
    <ul :class="[myclass[19]]">
      <li>{{mytime[19]}}</li>
      <li>查看"***金证<br/>BP系统清算已完<br/>成***"帖子</li>
      <li>{{result[19]}}</li>
    </ul>
    <ul :class="[myclass[20]]">
      <li>{{mytime[20]}}</li>
      <li>金证BP系统初始化</li>
      <li>{{result[20]}}</li>
    </ul>
    <ul :class="[myclass[21]]">
      <li>{{mytime[21]}}</li>
      <li>需查看“***<br/>BP系统清算已完<br/>成***”帖子</li>
      <li>{{result[21]}}</li>
    </ul>
    <ul :class="[myclass[22]]">
      <li>{{mytime[22]}}</li>
      <li>恒生PB系统清算<br/>系统初始化</li>
      <li>{{result[22]}}</li>
    </ul>
    <ul :class="[myclass[23]]">
      <li>{{mytime[23]}}</li>
      <li>需查看"***经纪<br/>业务服务平台清算<br/>已完成***"帖子</li>
      <li>{{result[23]}}</li>
    </ul>
    <ul :class="[myclass[24]]">
      <li>{{mytime[24]}}</li>
      <li>数据库压缩和拷贝</li>
      <li>{{result[24]}}</li>
    </ul>
    <ul :class="[myclass[25]]">
      <li>{{mytime[25]}}</li>
      <li>销售交易数据拆分</li>
      <li>{{result[25]}}</li>
    </ul>
    <ul :class="[myclass[26]]">
      <li>{{mytime[26]}}</li>
      <li>清空深交所报盘<br/>接口库</li>
      <li>{{result[26]}}</li>
    </ul>
     <ul :class="[myclass[27]]">
      <li>{{mytime[27]}}</li>
      <li>需查看股票期权<br/>清算及投保数据<br/>处理完毕帖子</li>
      <li>{{result[27]}}</li>
    </ul>
     <ul :class="[myclass[28]]">
      <li>{{mytime[28]}}</li>
      <li>风控系统数据库备份<br/>(风控系统-风控运<br/>维-风控数据库备份)</li>
      <li>{{result[28]}}</li>
    </ul>
     <ul :class="[myclass[29]]">
      <li>{{mytime[29]}}</li>
      <li>订单系统业务数据<br/>导入(清算管理-清算<br/>作业-业务数据导入)</li>
      <li>{{result[29]}}</li>
    </ul>
     <ul :class="[myclass[30]]">
      <li>{{mytime[30]}}</li>
      <li>订单系统数据库备份<br/>(清算管理-清算作业<br/>-订单数据库备份)</li>
      <li>{{result[30]}}</li>
    </ul>
     <ul :class="[myclass[31]]">
      <li>{{mytime[31]}}</li>
      <li>订单系统初始化(清<br/>算管理-日切作业-<br/>系统初始化(订单))</li>
      <li>{{result[31]}}</li>
    </ul>
     <ul :class="[myclass[32]]">
      <li>{{mytime[32]}}</li>
      <li>管理系统初始化(清<br/>算管理-日切作业-<br/>系统初始化(管理))</li>
      <li>{{result[32]}}</li>
    </ul>
     <ul :class="[myclass[33]]">
      <li>{{mytime[33]}}</li>
      <li>风控系统初始化(清<br/>算管理-日切作业-<br/>系统初始化(风控))</li>
      <li>{{result[33]}}</li>
    </ul>
  </div>
</body>

<script type="text/javascript">


    var ve = new Vue({
        el: '#nightSecond',
        data(){
            return {
              date:"",
              time:"",
              timer1:'',
              timer2:'',
              randomnum:[],
              randomnum2:[],
              randomnum3:[],
              myclass:[],
              result:[],
              mytime:[]
            }
          },
          created (){
            this.initData()
            this.formatTime();
            this.timer1 = setInterval(() => {
              this.formatTime();
            }, 1000);
            this.timer2 = setInterval(() => {
              this.getarr1()
            }, 1000);
            this.timer3 = setInterval(() => {
              this.startRun();
            }, 1000);
          },
          methods:{
            RandomNumBoth(Min,Max){
            var Range = Max - Min;
            var Rand = Math.random();
            var num = Min + Math.round(Rand * Range); //四舍五入
            return num;
            },
            getarr1(){
              this.randomnum=[]
              this.randomnum2=[]
              this.randomnum3=[]
              for (let index = 0; index < 22; index++) {
                this.randomnum.push(this.RandomNumBoth(100,999))
                this.randomnum2.push(this.RandomNumBoth(10000000,99999999))
                this.randomnum3.push(this.RandomNumBoth(75,100))
              }
            },
            formatTime() {
              let dd = "";
              let currentDate = new Date();
              let Dd = [
                "星期日",
                "星期一",
                "星期二",
                "星期三",
                "星期四",
                "星期五",
                "星期六"
              ];
              let Y = currentDate.getFullYear();
              let M = currentDate.getMonth() + 1;
              let D = currentDate.getDate();
              let d = currentDate.getDay();
              let h = currentDate.getHours();
              let m = currentDate.getMinutes();
              let s = currentDate.getSeconds();
              if (M < 10) {
                M = "0" + String(M);
              }
              if (D < 10) {
                D = "0" + String(D);
              }
              if (h < 10) {
                h = "0" + String(h);
              }
              if (m < 10) {
                m = "0" + String(m);
              }
              if (s < 10) {
                s = "0" + String(s);
              }
              if (d == 0) {
                dd = Dd[0];
              } else if (d == 1) {
                dd = Dd[1];
              } else if (d == 2) {
                dd = Dd[2];
              } else if (d == 3) {
                dd = Dd[3];
              } else if (d == 4) {
                dd = Dd[4];
              } else if (d == 5) {
                dd = Dd[5];
              } else if (d == 6) {
                dd = Dd[6];
              }
              this.date = Y+'-'+M+'-'+D;
              this.week = dd;
              this.time = h+':'+m+':'+s;
            },
            initData(){
                this.startTime = ["20:46:00-20:55:00","20:56:00-21:15:00","21:16:00-21:30:00","21:31:00-21:45:00","21:46:00-22:00:00",
                                  "20:45:00-20:50:00","20:51:00-21:10:00","21:11:00-21:20:00",
                                  "20:01:00-20:10:00","20:11:00-20:21:00","20:21:00-20:31:00",
                                  "20:31:00-20:45:00","20:46:00-20:50:00","20:51:00-20:55:00","20:56:00-21:00:00","21:01:00-21:31:00","21:31:00-21:45:00","21:45:00-21:55:00","21:55:00-22:05:00",
                                  "20:45:00-20:55:00","20:55:00-21:05:00",
                                  "20:45:00-20:55:00","20:55:00-21:05:00",
                                  "20:01:00-20:10:00","20:11:00-20:21:00","20:21:00-20:31:00","20:32:00-20:40:00",
                                  "20:01:00-20:10:00","20:10:00-20:21:00","20:22:00-20:31:00","20:33:00-20:40:00","20:41:00-20:50:00","20:51:00-21:00:00","21:01:00-21:31:00"
                                  ];
                this.warning_num = this.RandomNumBoth(0,33);
            },
            startRun(){
              this.startrun = "16:58:00";
              for(let j = 0;j < 34; j++){
                  this.myclass[j] = "i_"+j;
                  this.result[j] =  "未执行";
                  this.mytime[j] = this.time;
              }
              if(this.time > this.startrun){
                  for(let i = 0; i < 34; i++){
                      if(this.time >= this.startTime[i].split("-")[0]){
                        this.switchClass(i);
                      }
                  }
              }
            },
            switchClass(i){
              if(i == this.warning_num){
                this.myclass[i] = "w_"+i;
                this.result[i] = "告警";
                this.mytime[i] = this.startTime[i].split("-")[0];
              }else{
                this.myclass[i] = "f_"+i;
                this.result[i] = "已完成";
                this.mytime[i] = this.startTime[i].split("-")[0];
              }
            }
          },
          destroyed() {
            clearInterval(this.timer1)
            clearInterval(this.timer2)
            clearInterval(this.timer3)
          }
});
</script>

</html>