<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>特殊场景</title>
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!-- 初始化css-->
    <link href="${STATIC_URL}css/common/init.css" rel="stylesheet">
</head>
<body style="height: 100%">
<div id="main" style="height: 100%;">
    <el-card class="box-card" style="height: 45%;">
        <div slot="header" class="clearfix">
            <h1>系统初始化状态</h1>
        </div>
        <div style="text-align: center;">
            <img :src="card_one.img_url" style="margin-top: 5%">
            <br>
            <h2>{{ card_one.log }}</h2>
        </div>
        <div style="font-size: 16px">
            <h3>总系统启动日志</h3>
            <span>{{ card_one.datetime }}:{{ card_one.log }}</span>
        </div>
    </el-card>

    <el-card class="box-card" style="height: 45%;margin-top: 2%;">
        <div slot="header" class="clearfix">
            <h1>报盘启动状态</h1>
        </div>
        <div style="text-align: center;height: 100%">
            <img :src="card_two.img_url" style="margin-top: 5%">
            <h2>{{ card_two.log }}</h2>
        </div>
        <div style="font-size: 16px">
            <h3>报盘系统启动日志</h3>
            <span>{{ card_two.datetime }}:{{ card_two.log }}</span>
        </div>
    </el-card>
</div>
<script>
    //csrf验证
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });

    let vm = new Vue({
        el: '#main',
        data: {
            loading: true,
            loading2: true,
            now_time: '',
            card_one: {
                datetime: '2018-10-24 20:10',
                log: '总系统于正在启动',
                img_url: '',
            },
            card_two: {
                datetime: '2018-10-24 21:22',
                log: '报盘系统于正在启动',
                img_url: '${STATIC_URL}img/common/loading.gif',
            },
            timer:null,
        },

        methods: {
            get_all_system_info() {
                axios({
                    url: '${SITE_URL}get_guotai_system_info/',
                    method: 'post',
                    data: {type_id: '1'},
                }).then((res) => {
                    let status = res.data.results[0].status;
                    this.card_one.datetime = res.data.results[0].time;
                    if (status == '0') {
                        //未启动
                        this.card_one.log = '总系统未启动';
                        this.card_one.img_url = '${STATIC_URL}img/common/error.png';
                    } else if (status == '1') {
                        //启动中
                        this.card_one.log = '总系统正在启动';
                        this.card_one.img_url = '${STATIC_URL}img/common/loading.gif';
                    } else if (status == '2') {
                        //启动成功
                        this.card_one.log = '总系统启动成功';
                        this.card_one.img_url = '${STATIC_URL}img/common/success.png';
                    } else if (status == '3') {
                        //启动失败
                        this.card_one.log = '总系统启动异常';
                        this.card_one.img_url = '${STATIC_URL}img/common/warning.png';
                    }
                    console.log(res);
                }).catch((res) => {
                    console.log(res);
                })
            },
            get_offer_system_info() {
                axios({
                    url: '${SITE_URL}get_guotai_system_info/',
                    method: 'post',
                    data: {type_id: '2'},
                }).then((res) => {
                    let status = res.data.results[0].status;
                    this.card_two.datetime = res.data.results[0].time;
                    if (status == '0') {
                        //未启动
                        this.card_two.log = '报盘系统未启动';
                        this.card_two.img_url = '${STATIC_URL}img/common/error.png';
                    } else if (status == '1') {
                        //启动中
                        this.card_two.log = '报盘统正在启动';
                        this.card_two.img_url = '${STATIC_URL}img/common/loading.gif';
                    } else if (status == '2') {
                        //启动成功
                        this.card_two.log = '报盘系统启动成功';
                        this.card_two.img_url = '${STATIC_URL}img/common/success.png';
                    } else if (status == '3') {
                        //启动失败
                        this.card_two.log = '报盘系统启动异常';
                        this.card_two.img_url = '${STATIC_URL}img/common/warning.png';
                    }
                    console.log(res);
                }).catch((res) => {
                    console.log(res);
                })
            },
            setTimer: function () {
                this.timer = setInterval(() => {
                        vm.get_all_system_info();
                        vm.get_offer_system_info();
                }, 3000)

            }
        }
    });
    vm.setTimer();
</script>
</body>
</html>