<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>title</title>

    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <link type="text/css" href="${STATIC_URL}css/monitorScene/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jrange/css/jquery.range.css" rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="${STATIC_URL}js/jquery.range-min.js"></script>


    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript" src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css" />
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow2.0.js"></script>
     <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <style>
        .content{
            position: relative;
        }
        .monitor_edit{
            display: none;
            position: absolute;
            top: 65px;
            left:0;
            width: 100%;
        }
        .Drigging {
            position:absolute;
        }
        .monitor_type{
            line-height: 48px;
            background: #28359324;
            text-align: center;
        }
        .monitor_list{
            display: none;
        }
        .monitor_list div{
            text-align: center;
        }
        .monitor_content{
            position:relative;
        }
        .el-row{
            border: 1px solid #ffffff;
        }
        .el-col{
            border: 1px solid #ffffff;
        }
        p,i{
            text-align: center;
        }
        .score_input{
            font-size: 16px;
            position: absolute;
            background: rgba(255,255,255,0.1);
            top: -36px;
            left: 0;
            width: 50px;
            height: 36px;
            display: none;
        }
        .right_click{
            position: absolute;
            width: 100px;
            display: none;
        }
        .right_click span{
            width: 100px;
            display: inline-block;
            font-size: 16px;
            line-height: 36px;
        }
        .save{
                display: block;
                padding: 0;
                border: 0;
                margin-bottom: 0;
                text-align: center;
                cursor: pointer;
                left: 0;
                top: 0;
        }
    </style>

</head>
<body>

<div class="content">
    <el-breadcrumb class='route' separator-class='el-icon-arrow-right'>
        <el-breadcrumb-item>首页</el-breadcrumb-item>
        <el-breadcrumb-item>场景管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card class='card' shadow='always'style="margin-top: 10px" >
        <div v-if="isAdd == 1">
            <div id='pagetitle' style="margin-bottom: 10px">
                场景管理
            </div>
            <hr id='hr'>
            <el-row type='flex' justify='space-between' align='center' class='row'  style="margin-top: 10px">
                <el-col :span="12">
                        <el-col :span="9">
                            <el-input v-model="search" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" icon="el-icon-search" v-on:click="select_table">搜索</el-button>
                        </el-col>
                    </el-col>
                <el-col :span='3'>
                    <el-button type='primary'  @click='show'>新增场景</el-button>
                </el-col>
            </el-row>
            <el-table :data='tableData' :header-cell-style='rowclass' style="width: 100%;margin-top: 10px">

                <el-table-column type="index" label='序号' width='80'>
                </el-table-column>
                <el-table-column prop='id'  v-if="false" label='id' width='80'>
                </el-table-column>
                <el-table-column prop='scene_name' label='场景名称'  style="width: 30%;" sortable>
                </el-table-column>
                <el-table-column prop='scene_creator' label='创建人'  style="width: 30%;" sortable>
                </el-table-column>
                <el-table-column prop='scene_creator_time' label='创建时间'  style="width: 30%;" sortable>
                </el-table-column>
                <el-table-column prop='pos_name' label='岗位'  style="width: 30%;" sortable>
                </el-table-column>
                <el-table-column prop='scene_startTime' label='开始时间'  v-if="false"  style="width: 30%;" sortable>
                </el-table-column>
                <el-table-column prop='scene_endTime' label='结束时间'  v-if="false"  style="width: 30%;" sortable>
                </el-table-column>

                <el-table-column prop='operation' label='操作' style="width: 30%;">
                    <template slot-scope="scope">
                    <!--<el-button id="button1" type="text" size="small" v-on:click="edit(scope.row.id)" >编辑</el-button>-->
                    <el-button size="mini" type="text" v-on:click="edit(scope.row)">编辑</el-button>
                    <el-button size="mini" type="text" v-on:click="delect(scope.row)">删除</el-button>
                    </el-tooltip>
                </template>
                </el-table-column>
            </el-table>
            <div class='block' style='text-align:right'>
        <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right" @current-change="current_change"></el-pagination>
            </div>


        </div>

        <!-- 新增场景页面  -->
        <div v-if="isAdd == 2">
            <div id='pagetitle' style="margin-bottom: 10px">
                新增场景
            </div>
            <hr id="hr">
            <div style="margin-top: 20px">
                <el-form ref="scene" :model="scene" :rules="rules" label-width="80px">
                    <el-form-item label="场景名称" prop="scene_name">
                       <el-input placeholder="请输入场景名称"  v-model="scene.scene_name" style="width: 30%"></el-input>
                    </el-form-item>

                    <el-form-item label="轮播时间"   >
                        <el-col :span="5">
                            <el-form-item prop="scene_startTime">
                                <el-time-picker v-model="scene.scene_startTime" placeholder="开始时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                            </el-form-item>
                        </el-col>
                        <el-col class="line" :span="1">—</el-col>
                        <el-col :span="11">
                            <el-form-item prop="scene_endTime">
                                <el-time-picker v-model="scene.scene_endTime"  placeholder="结束时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                            </el-form-item>
                        </el-col>
                     </el-form-item>
                    <el-form-item label="场景适用岗位" prop="pos_name">
                        <el-select  placeholder="请选择" v-model="scene.pos_name" >
                            <el-option v-for="item in pos" :label="item.pos_name" :value="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="预览区">
                        <el-button type="info" @click="goto">场景编排</el-button>
                    </el-form-item>
                    <el-form-item>
                            <el-row type="flex" justify="space-around">
                                <el-col :span="9">
                                    <div class="grid-content bg-purple-light">
                                        <ve-histogram :data="chartData"></ve-histogram>
                                    </div>
                                </el-col>
                                <el-col :span="9" style="width: 80%">
                                    <div id="flow1" class="clearfix workflow-box" style="width: 100%">

                                        <div class="workflow-canvas" style="margin-left: 0px;padding-left: 0px">
                                            <!-- 画布模板 start -->
                                            <div class="jtk-content">
                                                <div class="jtk-demo-canvas canvas-wide jtk-surface jtk-surface-nopan"
                                                     id="canvas" style="height:370px;">
                                                    <!-- 流程 -->
                                                </div>
                                            </div>
                                            <!-- 画布模板 end -->

                                        </div>

                                        <!-- template 模板-->
                                        <div class="jtk-delete jtk-none ">删除节点</div>
                                        <div id="template" class="jtk-none">
                                            <div class="jtk-window jtk-node workfolw-node start-node" id="{charts}"
                                                 data-type="start">
                                                <div class="node-wrapper">
                                                    <div class="node-icon-start">
                                                        <i class="bk-icon icon-star-shape"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jtk-window jtk-node workfolw-node database-node" id="{charts}"
                                                 data-type="database">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">一级分析</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-data"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node cog-node" id="{charts}"
                                                 data-type="dataCog">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">实时加载</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-cog"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node filter-node" id="{charts}"
                                                 data-type="dataFilter">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">离线计算</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </divcard>
                    </el-form-item>
                    <el-row type="flex" class="row-bg" justify="center">
                        <el-col :span="2">
                            <el-button type="primary"  v-on:click="submitForm('scene')" id="button">保存</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button @click="hide" id="button">取消</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
        </div>


        <!-- 编辑页面 -->
        <div v-else-if="isAdd == 3">
            <div id='pagetitle' style="margin-bottom: 10px">
                编辑场景
            </div>
            <hr id="hr">
            <div style="margin-top: 20px">
                <el-form ref="scene_edit" :model="scene_edit" :rules="rules" label-width="80px">
                    <el-form-item label="场景名称" prop="scene_name">
                       <el-input placeholder="请输入场景名称" v-model="scene_edit.scene_name" style="width: 30%"></el-input>
                    </el-form-item>
                     <el-form-item label="轮播时间" >
                          <el-col :span="5">
                            <el-form-item prop="scene_startTime">
                                <el-time-picker v-model="scene_edit.scene_startTime" placeholder="开始时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                            </el-form-item>
                        </el-col>
                        <el-col class="line" :span="1">—</el-col>
                        <el-col :span="11">
                            <el-form-item prop="scene_endTime">
                                <el-time-picker v-model="scene_edit.scene_endTime"  placeholder="结束时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                            </el-form-item>
                        </el-col>
                     </el-form-item>
                     </el-form-item>
                    <el-form-item label="场景适用岗位"  prop="pos_name">
                        <el-select  placeholder="请选择" v-model="scene_edit.pos_name" >
                            <el-option v-for="item in pos" :label="item.pos_name" :value="item.pos_name"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="预览区">
                        <el-button type="info" @click="goto">场景编排</el-button>
                    </el-form-item>
                    <el-form-item>
                            <el-row type="flex" justify="space-around">
                                <el-col :span="9">
                                    <div class="grid-content bg-purple-light">
                                        <ve-histogram :data="chartData"></ve-histogram>
                                    </div>
                                </el-col>
                                <el-col :span="9"  style="width: 80%">
                                  <div id="flow1" class="clearfix workflow-box" style="width: 100%">

                                        <div class="workflow-canvas" style="margin-left: 0px;padding-left: 0px">
                                            <!-- 画布模板 start -->
                                            <div class="jtk-content">
                                                <div class="jtk-demo-canvas canvas-wide jtk-surface jtk-surface-nopan"
                                                     id="canvas" style="height:370px;">
                                                    <!-- 流程 -->
                                                </div>
                                            </div>
                                            <!-- 画布模板 end -->

                                        </div>

                                        <!-- template 模板-->
                                        <div class="jtk-delete jtk-none ">删除节点</div>
                                        <div id="template" class="jtk-none">
                                            <div class="jtk-window jtk-node workfolw-node start-node" id="{charts}"
                                                 data-type="start">
                                                <div class="node-wrapper">
                                                    <div class="node-icon-start">
                                                        <i class="bk-icon icon-star-shape"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jtk-window jtk-node workfolw-node database-node" id="{charts}"
                                                 data-type="database">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">一级分析</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-data"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node cog-node" id="{charts}"
                                                 data-type="dataCog">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">实时加载</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-cog"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node filter-node" id="{charts}"
                                                 data-type="dataFilter">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">离线计算</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </divcard>
                    </el-form-item>
                    <el-row type="flex" class="row-bg" justify="center">
                        <el-col :span="2">
                            <el-button type="primary" v-on:click="submitForm('scene_edit')" id="button">保存</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button @click="hide" id="button">取消</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
        </div>

        <!-- 场景编排 -->


    </el-card>
    <el-row class="monitor_edit">
                <el-col :span="22">
                    <h1 style="rgba(40, 147, 108, 0.45);line-height: 60px;text-align: center">场景编排</h1>
                </el-col>
                <el-col :span="2">
                    <el-col :span="24">
                        <button @click="monitor_edit_close" style="margin-top: 10px;background: beige;width: 100%;line-height: 50px;border: none;border-radius: 10px;">
                            <el-col :span="24">
                                <span class="save" >返回</span>
                            </el-col>
                        </button>
                    </el-col>
                </el-col>
                <el-col :span="6">
                    <div style="height:auto;min-height: 600px;background: rgb(244, 244, 245);position: relative">
                        <h2 class="monitor_title" style="line-height:48px;background:#283593;text-align: center;color: #ffffff">监控项</h2>
                        <el-col :span="24">
                                <h3 @click="monitor_type_switch(1)" class="monitor_type" >基本监控项</h3>
                        </el-col>
                        <div class="monitor_list">
                            <el-col :span="12" v-for="(i,index) in base_monitor" :key="index">
                                <div @click="add_base_monitor(i)">
                                    <p>{{ i.monitor_name }}</p>
                                    <i class="bk-icon icon-monitors"></i>
                                </div>

                            </el-col>
                            <el-col :span="24">
                                <el-pagination :page-count="base_page_count" background layout="prev, pager, next" style="float:right"
                                       @current-change="current_change1"></el-pagination>
                            </el-col>
                        </div>
                        <el-col :span="24">
                                <h3 @click="monitor_type_switch(2)" class="monitor_type">图表监控项</h3>
                        </el-col>
                        <div class="monitor_list">
                            <el-col :span="12" v-for="(i,index) in chart_monitor" :key="index">
                                <div @click="add_chart_monitor(i)">
                                    <p>{{ i.monitor_name }}</p>
                                    <i class="bk-icon icon-panel-permission"></i>
                                </div>
                            </el-col>
                            <el-col :span="24">
                                <el-pagination :page-count="chart_page_count" background layout="prev, pager, next" style="float:right"
                                   @current-change="current_change2"></el-pagination>
                            </el-col>

                        </div>
                        <el-col :span="24">
                                <h3 @click="monitor_type_switch(3)" class="monitor_type">作业监控项</h3>
                        </el-col>
                        <div class="monitor_list">
                            <el-col :span="12" v-for="(i,index) in job_monitor" :key="index">
                                <div @click="add_job_monitor(i)">
                                    <p>{{ i.monitor_name }}</p>
                                    <i class="bk-icon icon-monitors"></i>
                                </div>
                            </el-col>
                            <el-col :span="24">
                                <el-pagination :page-count="job_page_count" background layout="prev, pager, next" style="float:right"
                                   @current-change="current_change3"></el-pagination>
                            </el-col>

                        </div>
                        <el-col :span="24">
                                <h3 @click="monitor_type_switch(4)" class="monitor_type">流程监控项</h3>
                        </el-col>
                        <div class="monitor_list">
                            <el-col :span="12" v-for="(i,index) in flow_monitor" :key="index">
                                <div @click="add_flow_monitor(i)">
                                    <p>{{ i.monitor_name }}</p>
                                    <i class="bk-icon icon-monitors"></i>
                                </div>
                            </el-col>
                            <el-col :span="24">
                                <el-pagination :page-count="flow_page_count" background layout="prev, pager, next" style="float:right"
                                   @current-change="current_change4"></el-pagination>
                            </el-col>

                        </div>
                        <div style="position: absolute;bottom: 0;right: 0;font-size:30px;width: 100%">
                            <i class="el-icon-circle-plus-outline"></i>
                            <i class="el-icon-remove-outline"></i>
                        </div>
                    </div>

                </el-col>
                <el-col :span="18">
                    <div class="monitor_content" style="min-height: 600px;background: rgb(244, 244, 245)">
                    </div>
                </el-col>
            </el-row>
</div>
<script type="text/javascript">
//csrf验证
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var vm=new Vue({
        el: '.content',

        data: {
            page_count:100,//分页总页数
            page:1,                                   //分页页码数
            start_time: '8:00',
            end_time: '16:00',
            falg: false,
            selectvalue:'',
            search:'',//搜索框的值
            isAdd: 1,
            imgUrl: './static/1.png',
            chartData: {
                columns: ['日期', '下单用户'],
                rows: [
                    {'日期': '1/1', '下单用户': 1093},
                    {'日期': '1/2', '下单用户': 3230},
                    {'日期': '1/3', '下单用户': 2623},
                    {'日期': '1/4', '下单用户': 1423},
                    {'日期': '1/5', '下单用户': 3492},
                    {'日期': '1/6', '下单用户': 4293}
                ]
            },
            value9: [4, 5],
            textarea: '',
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            tableData: [],
            pos:[],//岗位

            scene: {                            //场景管理
                scene_name: '', //场景名称
                scene_startTime:'',
                pos_name:'',
                scene_endTime:'',
            },
            scene1: {                            //场景管理
                scene_name: '', //场景名称
                scene_startTime:'',
                pos_name:'',
                scene_endTime:'',
            },
            scene_edit:{                       //编辑页面中的
                id:'',
                scene_name: '', //场景名称
                pos_name:'',//岗位
                 scene_startTime:'',
                scene_endTime:'',
            },

            rules: {
                scene_name: [
                    {required: true, message: '请输入场景名称', trigger: 'blur'}
                ],
                pos_name:[
                    {required: true, message: '请选择岗位', trigger: 'change'}
                ],
                scene_startTime:[
                    {type: 'string', required: true, message: '请选择开始时间', trigger: 'change'}
                ],
                scene_endTime:[
                     {type: 'string', required: true, message: '请选择结束时间', trigger: 'change'}
                ]
            },
            result_list:[],
            base_page_count:0,
            chart_page_count:0,
            job_page_count:0,
            flow_page_count:0,
            monitor_type:0,
            page1:1,
            limit:4,
            base_monitor:[],
            chart_monitor:[],
            job_monitor:[],
            flow_monitor:[],
            drigging_id:1,
            show_num:0,

        },

        methods: {

            submitForm(formName) {
                this.$refs[formName].validate((valid) => {

                    if (valid) {
                        if (formName == 'scene') {
                            axios({
                                method: 'post',
                                url: '${SITE_URL}monitorScene/addSence/',
                                data: {
                                    data: vm.scene,
                                    monitor_data: vm.result_list
                                }
                            }).then(function (res) {
                                vm.isAdd = 1;
                                vm.select_table()
                            })
                        } else if (formName == 'scene_edit') {
                            axios({
                                method: 'post',
                                url: '${SITE_URL}monitorScene/editSence/',
                                data: {
                                    data: vm.scene_edit,
                                    monitor_data: vm.result_list
                                }
                            }).then(function (res) {
                                vm.isAdd = 1;
                                vm.select_table()
                            })
                        }
                    } else {
                        console.log('提交失败!!');
                        return false;
                    }
                });
            },
            current_change(value) {
                vm.page = value;
                vm.paging()
            },
            paging(){
               axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/paging/',
                    data:{
                        page:vm.page,
                        limit:10
                    },
                }).then(function(res) {
                    vm.tableData = res.data.message;
                    vm.page_count = res.data.message[0].page_count;
                })
            },
            rowclass({row, rowIndex}) {

                return 'background:#F7F7F7'
            },
            handleSizeChange(val) {
                console.log('每页' + val + '条')
            },
            handleCurrentChange(val) {

                console.log('当前页: ' + val + '')
            },
            show() {
                this.isAdd = 2;
                vm.sen_position()
                vm.scene = vm.scene1
                setTimeout(function () {
                     vm.Time()


                },100)
            },
            edit(row){
                vm.scene_edit.id = row.id
                vm.scene_edit.scene_name = row.scene_name
                vm.scene_edit.scene_startTime = row.scene_startTime
                vm.scene_edit.scene_endTime = row.scene_endTime
                vm.scene_edit.pos_name =  row.pos_name
                this.isAdd = 3
                vm.sen_position()
                vm.monitore_edit_start(row.id)
                setTimeout(function () {
                    vm.Time()

                }, 100)

            },
            monitore_edit_start(value){

                axios({
                    method:'post',
                    url:'${SITE_URL}monitorScene/scene_data/',
                    data:value,
                }).then(function (res) {
                    console.log(res);
                })
            },
            hide() {
                this.isAdd = 1
                vm.paging()
            },
            goto() {
                $('.monitor_edit').css('display','block');
                vm.show_num=vm.isAdd;
                vm.isAdd=0;
                console.log(vm.result_list);
            },
            monitor_edit_close(){
                $('.monitor_edit').css('display','none');
                vm.isAdd=vm.show_num;
                vm.show_num=0;
                $('.monitor_content').html('');
            },
            a(){
                scene_name: ''//场景名称
                scene_startTime:''
                pos_name:''
                scene_endTime:''
            },

            select_table(){
                if(vm.search == ""){
                    vm.paging()
                }else {
                    vm.scene.scene_endTime = $(".back-bar").children().eq(2).html()
                    vm.scene.scene_startTime = $(".back-bar").children().eq(4).html()
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitorScene/select_table/',
                        data: vm.search
                    }).then(function (res) {
                        vm.tableData = res.data.message;
                    })
                }

            },
            delect(row){
                this.$confirm('此操作将永久删除该监控项, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                center: true,
            }).then(() => {
                this.$message({
                        type: 'success',
                        message: '删除成功!',
                    },
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitorScene/delect/',
                        data:  row.id

                    }).then((res) => {
                        vm.paging();
                    }),);
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
            },

            Time(){

                setInterval(function () {

                    $(".back-bar").children().eq(1).mouseup(function () {
                           var low=-$(".back-bar").children().eq(2).html()
                           a=(Math.floor(low/60)+12)+":"+((1200+low)%60);
                          setTimeout(function () {
                            $(".back-bar").children().eq(2).html(a)
                             $(".back-bar").children().eq(2).show()
                         },100)
                    })
                    $(".back-bar").children().eq(3).mouseup(function () {
                          var high=$(".back-bar").children().eq(4).html()
                            b=(Math.floor(high/60)+12)+":"+((1200+high)%60);
                         setTimeout(function () {
                            $(".back-bar").children().eq(4).html(b)
                             $(".back-bar").children().eq(4).show()
                         },100)
                    })
                },500)

             $('.slider-input').jRange({
                    from: -1440,
                    to: 1440,
                    step: 1,
                    scale: ["-12:00", "00:00", "12:00", "24:00", "+12:00"],
                    format: '%s',
                    width: "300",
                    showLabels: true,
                    isRange: true
                })


            },
            sen_position(){
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/pos_name/',
                }).then(function(res) {
                       vm.pos = res.data.message
                })
            },

            show1(){
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/scene_show/',
                    data: {
                        limit:vm.limit,
                        type:vm.monitor_type,
                        page:vm.page1
                    },
                }).then((res)=> {
                    if (vm.monitor_type == 0){
                        vm.base_monitor=res.data.results.base_list;
                        vm.chart_monitor=res.data.results.chart_list;
                        vm.job_monitor=res.data.results.job_list;
                        vm.flow_monitor=res.data.results.flow_list;
                        vm.base_page_count=res.data.results.base_list[0].page_count;
                        vm.chart_page_count=res.data.results.chart_list[0].page_count;
                        vm.job_page_count=res.data.results.job_list[0].page_count;
                        vm.flow_page_count=res.data.results.flow_list[0].page_count;
                    }
                    else if (vm.monitor_type == 1) {
                        vm.base_monitor=res.data.results.base_list;
                        vm.base_page_count=res.data.results.base_list[0].page_count;
                    }
                    else if (vm.monitor_type == 2) {
                        vm.chart_monitor=res.data.results.chart_list;
                        vm.chart_page_count=res.data.results.chart_list[0].page_count;
                    }
                    else if (vm.monitor_type == 3) {
                        vm.job_monitor=res.data.results.job_list;
                        vm.job_page_count=res.data.results.job_list[0].page_count;
                    }
                    else if (vm.monitor_type == 4) {
                        vm.flow_monitor=res.data.results.flow_list;
                        vm.flow_page_count=res.data.results.flow_list[0].page_count;
                    }
                });
            },
            add_base_monitor(i){
                console.log(i);
                $('.monitor_content').append('<div class=\"Drigging\" name=\"'+i.id+'\" type=\"basic'+i.id+'\" id=\"'+vm.drigging_id+'\"></div>');
                base_monitor(i.id,i.font_size,i.height,i.width,i.contents);
                vm.drigging_id++
            },
            add_chart_monitor(i){
                console.log(i);
                $('.monitor_content').append('<div class=\"Drigging\" name=\"'+i.id+'\" id=\"'+vm.drigging_id+'\"><div id=\"chart'+i.id+'\" style=\"background:beige;height:'+i.height+'px;width:'+i.width+'px\"></div><input class="score_input" type="text"><div class="right_click"><span class="score">打分</span><span class="delete">删除监控项</span></div></div>')
                show_chart(i.id,i.gather_params,i.height,i.width,vm.drigging_id,i.contents);
                vm.drigging_id++
            },
            add_job_monitor(i){
                console.log(i);
                var job_params={
                    'job_id':i.id,
                    'width' :i.width,
                    'height':i.height,
                    'status':i.job_status,
                    'contents':i.contents
                }
                $('.monitor_content').append('<div class=\"Drigging\" name=\"'+i.id+'\" type=\"job'+i.id+'\" id=\"'+vm.drigging_id+'\"></div>')
                job_monitor(job_params)
                vm.drigging_id++
            },
            add_flow_monitor(i){
                console.log(i);
                let jion_id=[{
                    "id":i.jion_id
                }]
                $('.monitor_content').append('<div class=\"Drigging\" name=\"'+i.id+'\" id=\"'+vm.drigging_id+'\"><div type=\"flow_monitor'+vm.drigging_id+'\"></div></div>')
                flow_monitor(jion_id,vm.drigging_id)
                vm.drigging_id++
            },
            current_change1(value) {
                vm.page1 = value;
                vm.monitor_type=1;
                vm.show1();
            },
            current_change2(value) {
                vm.page1 = value;
                vm.monitor_type=2;
                vm.show1();
            },
            current_change3(value) {
                vm.page1 = value;
                vm.monitor_type=3;
                vm.show1();
            },
            current_change4(value) {
                vm.page1 = value;
                vm.monitor_type=4;
                vm.show1();
            },
            monitor_type_switch(value){
                vm.monitor_type = value;
                vm.show1()
            },


        }
    });

    vm.paging();
    $('.monitor_type').click(function () {
        $(this).parent().next('div').animate({
           height:'toggle'
        });
        $(this).parent().next('div').siblings('.monitor_list').animate({
            height:"hide"
        });
    });
    document.oncontextmenu = function(){
    　　return false;
    };
    $(function () {
        $('.save').click(function () {
            var len=$('.Drigging').length;
            var order,item_id,x,y,score;
            var scale=1.0,score=0.0;
            vm.result_list=[];
                for(var i=0;i<len;i++){
                     order = $('.Drigging').eq(i).attr('id');
                     item_id = $('.Drigging').eq(i).attr('name');
                     x=$('.Drigging').eq(i).position().left;
                     y=$('.Drigging').eq(i).position().top;
                     var style=$('.Drigging').eq(i).attr('style');
                    if(style.indexOf('scale')>-1){
                        scale= parseFloat(style.split('scale')[1].substring(style.split('scale')[1].indexOf('(')+1,style.split('scale')[1].indexOf(')')));
                    }
                    score=$('.Drigging').eq(i).find('.score_input').val();
                    var data = {
                        'order':order,
                        'item_id':item_id,
                        'x':x,
                        'y':y,
                        'scale':scale,
                        'score':score
                    };
                    vm.result_list.push(data);
                    console.log(order,item_id,x,y,scale,score);
                }
                console.log(vm.result_list)
        })
    });
    $(function () {
    var obox=$('.monitor_content');
    var selector = '';
    var flag=false;
    var x,y;
    var offsetLeft,offsetTop;
    var proportion=1;
    var Multiple = 0;
    $(document).on("mouseover", ".Drigging", function () {
        $(this).css('cursor', 'pointer');//当鼠标移动到拖拽目标上的时候，将鼠标的样式设置为移动(move)
    });
    $(document).on("mousedown", ".Drigging", function (e) {
        var e=window.event||e;
        selector = '#' + this.id;
        flag = true;//当鼠标在移动元素按下的时候将flag设定为true
        x = e.clientX;//获取鼠标在当前窗口的相对偏移位置的Left值并赋值给x
        y = e.clientY;//获取鼠在当前窗口的相对偏移位置的Top值并赋值给y
        offsetLeft = $(selector).position().left;
        offsetTop = $(selector).position().top;
        $(this).css('cursor', 'pointer');
        console.log(x,y,e.clientX,e.clientY,obox.width(),obox.height(),$(selector).width(),$(selector).height(),offsetLeft,offsetTop);
    });
    $(document).on("mouseup", ".Drigging", function () {
        flag = false;//当鼠标在移动元素起来的时候将flag设定为false
    });
    $(document).on("mousedown", ".Drigging", function (e) {//监控项右击显示打分输入框
        if(e.button == 2){
            e.preventDefault();
            var x = e.offsetX + 10;
            var y = e.offsetY + 10;
            $(this).find('.right_click').css({
                left: x,
                top: y,
                display: 'block'
            });
            $(this).find('.right_click').off();
            $(this).find('.score').on('click', function(e) {
                e.stopPropagation();
                $(selector+' .score_input').css('display', 'block');
                $('.right_click').css('display', 'none');
            })
            $(this).find('.delete').on('click', function(e) {
                e.stopPropagation();
                $(this).parent().parent().remove();

            })

        }
    });
    $(document).on("blur", ".score_input", function(){//打分输入框失去焦点隐藏
       $('.score_input').css('display','none');
    });
    $(document).mousemove(function (e) {
        if (!flag)//如果flag为false则返回
            return;//当flag为true的时候执行下面的代码
        e.preventDefault();
        var e=window.event||e;
        var _x = e.clientX - x + offsetLeft+Math.abs(Multiple)*$(selector).width()*(proportion-1)/2;
        //event.clientX得到鼠标相对于客户端正文区域的偏移
        //然后减去offsetX即得到当前推拽元素相对于当前窗口的X值
        //（减去鼠标刚开始拖动的时候在当前窗口的偏移X）
        var _y = e.clientY - y + offsetTop+Math.abs(Multiple)*$(selector).height()*(proportion-1)/2;
        //event.clientY得到鼠标相对于客户端正文区域的偏移
        //然后减去offsetX即得到当前推拽元素相对于当前窗口的Y值
        //（减去鼠标刚开始拖动的时候在当前窗口的偏移Y）
        console.log(_x,_y);
        if(_x<0){
            _x=0+$(selector).width()*(proportion-1)/2;
        }
        if(_y<0){
            _y=0+$(selector).height()*(proportion-1)/2;
        }
        if(_x>obox.width()-$(selector).width()){

            //_x=obox.width()-$(selector).width();
            _x=obox.width()-($(selector).width()*(proportion-1)/2+$(selector).width());
        }
        if(_y>obox.height()-$(selector).height()){
            //_y=obox.height()-$(selector).height();
            _y=obox.height()-($(selector).height()*(proportion-1)/2+$(selector).height());
        }
        $(selector).css("left", _x);
        $(selector).css("top", _y);
        $(selector).css('cursor', 'pointer');


    });
    $('.el-icon-circle-plus-outline').click(function () {
        if(Multiple<2) {
            proportion = proportion + 0.1;
            $('.monitor_content').find('.Drigging').css('transform', 'scale(' + proportion + ')');
            Multiple++;
            console.log(proportion, Multiple);
        }else {
            return
        }
    });
    $('.el-icon-remove-outline').click(function () {
        if(Multiple>-2){
           proportion=proportion-0.1;
        $('.monitor_content').find('.Drigging').css('transform','scale('+proportion+')');
        $('.monitor_content').find('canvas').css('transform','scale('+proportion+')');
        Multiple--;
        console.log(proportion,Multiple);
        }else {
            return
        }

    });
});
</script>

<script>
    setInterval(function () {


        //flow1_js_start
        $('#flow1').dataflow({
            el: '.tool', //流程拖动源
            canvas: '#canvas', //画布
            arrowWidth: 8,
            arrowHeight: 10,
            template: '#template',
            id: 'ch', // 定义节点id，当页面只有一个dataflow实例是可忽略，当有多个实例时，需自定义该字段，id具有唯一性
            onRemoveNodeAfter: function(id, line) { //删除节点回调
                //console.log(id);
                //console.log(line);
            },
            onCreateNodeAfter: function(id) { //初始化节点回调
                //console.log(id)
            },
            onCreateLineAfter: function() { //创建线条后回调
                //console.log("1111")
            },
            ondrawData: function() { //初始化流程后回调
                //console.log($('.node-icon').length)
            },
            data: {
                "line": [
                    {
                    "source": {
                        "id": "ch1",
                        "arrow": "Bottom"
                    },
                    "target": {
                        "id": "ch3",
                        "arrow": "Left"
                    }
                    },
                    {
                        "source": {
                            "id": "ch2",
                            "arrow": "Right"
                        },
                        "target": {
                            "id": "ch3",
                            "arrow": "Right"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch2",
                            "arrow": "Bottom"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch2",
                            "arrow": "Right"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch4",
                            "arrow": "Right"
                        }
                    },
                    ],
                "location": [
                    {
                        "id": "ch1",
                        "x": 130,
                        "y": 48,
                        "name":"1",
                        "type": "database"
                    },
                    {
                        "id": "ch2",
                        "x": 406,
                        "y": 33,
                        "name":"2",
                        "type": "dataCog"
                    },
                    {
                        "id": "ch3",
                        "x": 406,
                        "y": 243,
                        "name":"3",
                        "type": "dataCog"
                    },
                    {
                        "id": "ch4",
                        "x": 150,
                        "y": 60,
                        "name":"4",
                        "type": "database"
                    },
                ]
            }
        });
        $('#save2').click(function() {
            // 获取全部数据
            var data= $('#flow1').data('dataflow').getAllData();
            var name = data.location[0];
            $('#result2').val(JSON.stringify(data));
        });

        // 清空画布
        $('#resetCanvas').click(function() {
            $('#flow1').data('dataflow').resetCanvas();
        });
        //flow1_js_end
        // $('.node-wrapper').click(function () {
        //
        //     $(this).find(".node-title").attr('contenteditable','plaintext-only');
        // })
        //节点抽屉
        $('.tool-title').click(function () {
            $(this).next('.tool-list').animate({
                height:'toggle'
            });
            $(this).parent().siblings().children('.tool-list').animate({
                height:"hide"
            });
        });

    },1)
</script>
</body>
</html>