<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>title</title>

    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <link type="text/css" href="${STATIC_URL}css/monitorScene/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css" />
    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jrange/css/jquery.range.css" rel="stylesheet">
    <script type="text/javascript" src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>


    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow.js"></script>
    <script src="${STATIC_URL}js/jquery.range-min.js"></script>
     <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">


</head>
<body>

<div class="content">
    <el-breadcrumb class='route' separator-class='el-icon-arrow-right'>
        <el-breadcrumb-item>首页</el-breadcrumb-item>
        <el-breadcrumb-item>场景管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card class='card' shadow='always'>
        <div v-if="isAdd == 1">
            <div id='pagetitle'>
                场景管理
            </div>
            <hr id='hr'>
            <el-row type='flex' justify='space-between' align='center' class='row'>
                <el-col :span="12">
                        <el-col :span="9">
                            <el-input v-model="search" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" icon="el-icon-search" v-on:click="select_table">搜索</el-button>
                        </el-col>
                    </el-col>
                <el-col :span='3'>
                    <el-button type='primary'  @click='show'>新增场景</el-button>
                </el-col>
            </el-row>
            <el-table :data='tableData' :header-cell-style='rowclass' style="width: 100%;">
                <el-table-column prop='id' label='序号' width='80'>
                </el-table-column>
                <el-table-column prop='scene_name' label='场景名称'  style="width: 30%;">
                </el-table-column>
                <el-table-column prop='scene_creator' label='创建人'  style="width: 30%;">
                </el-table-column>
                <el-table-column prop='scene_creator_time' label='创建时间'  style="width: 30%;">
                </el-table-column>
                <el-table-column prop='pos_name' label='岗位'  style="width: 30%;">
                </el-table-column>
                <el-table-column prop='scene_startTime' label='开始时间'  v-if="false"  style="width: 30%;">
                </el-table-column>
                <el-table-column prop='scene_endTime' label='结束时间'  v-if="false"  style="width: 30%;">
                </el-table-column>

                <el-table-column prop='operation' label='操作' style="width: 30%;">
                    <template slot-scope="scope">
                    <!--<el-button id="button1" type="text" size="small" v-on:click="edit(scope.row.id)" >编辑</el-button>-->
                    <el-button size="mini" type="text" v-on:click="edit(scope.row)">编辑</el-button>
                    <el-button size="mini" type="text" v-on:click="delect(scope.row)">删除</el-button>
                    </el-tooltip>
                </template>
                </el-table-column>
            </el-table>
            <div class='block' style='text-align:right'>
                <el-pagination @size-change='handleSizeChange' @current-change='handleCurrentChange'
                               :current-page='currentPage4' :page-sizes='[10, 20, 30, 40]' :page-size='100'
                               layout='prev, pager, next,sizes, jumper' :total='90'>
                </el-pagination>
            </div>


        </div>

        <!-- 新增场景页面  -->
        <div v-if="isAdd == 2">
            <div id='pagetitle'>
                新增场景
            </div>
            <hr id="hr">
            <div>
                <el-form ref="form" label-width="80px">
                    <el-form-item label="场景名称">
                       <el-input placeholder="请输入场景名称" v-model="scene.scene_name" style="width: 30%"></el-input>
                    </el-form-item>

                    <el-form-item label="轮播时间"   >
                        <div class="ranger-demo mt20" id="jranger_demo">
                        <input type="hidden" class="slider-input" value="-720,720">

                    </div>

                     </el-form-item>

                    <el-form-item >
                        <el-col :span="5">
                                <el-time-picker v-model="scene.scene_startTime" placeholder="开始时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                        </el-col>
                        <el-col class="line" :span="1">—</el-col>
                        <el-col :span="11">
                            <el-form-item>
                                <el-time-picker v-model="scene.scene_endTime"  placeholder="结束时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                            </el-form-item>
                        </el-col>
                      </el-form-item>

                    <el-form-item label="场景适用岗位">
                        <el-select  placeholder="请选择" v-model="pos_name" >
                            <el-option v-for="item in pos" :label="item.pos_name" :value="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="预览区">
                        <el-button type="info" @click="goto">场景编排</el-button>
                    </el-form-item>
                    <el-form-item>
                            <el-row type="flex" justify="space-around">
                                <el-col :span="9">
                                    <div class="grid-content bg-purple-light">
                                        <ve-histogram :data="chartData"></ve-histogram>
                                    </div>
                                </el-col>
                                <el-col :span="9" style="width: 80%">
                                    <div id="flow1" class="clearfix workflow-box" style="width: 100%">

                                        <div class="workflow-canvas" style="margin-left: 0px;padding-left: 0px">
                                            <!-- 画布模板 start -->
                                            <div class="jtk-content">
                                                <div class="jtk-demo-canvas canvas-wide jtk-surface jtk-surface-nopan"
                                                     id="canvas" style="height:370px;">
                                                    <!-- 流程 -->
                                                </div>
                                            </div>
                                            <!-- 画布模板 end -->

                                        </div>

                                        <!-- template 模板-->
                                        <div class="jtk-delete jtk-none ">删除节点</div>
                                        <div id="template" class="jtk-none">
                                            <div class="jtk-window jtk-node workfolw-node start-node" id="{charts}"
                                                 data-type="start">
                                                <div class="node-wrapper">
                                                    <div class="node-icon-start">
                                                        <i class="bk-icon icon-star-shape"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jtk-window jtk-node workfolw-node database-node" id="{charts}"
                                                 data-type="database">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">一级分析</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-data"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node cog-node" id="{charts}"
                                                 data-type="dataCog">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">实时加载</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-cog"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node filter-node" id="{charts}"
                                                 data-type="dataFilter">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">离线计算</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </divcard>
                    </el-form-item>
                    <el-row type="flex" class="row-bg" justify="center">
                        <el-col :span="2">
                            <el-button type="primary" v-on:click="addSence" id="button">保存</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button @click="hide" id="button">取消</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
        </div>


        <!-- 编辑页面 -->
        <div v-else-if="isAdd == 3">
            <div id='pagetitle'>
                编辑场景
            </div>
            <hr id="hr">
            <div>
                <el-form ref="form" label-width="80px">
                    <el-form-item label="场景名称">
                       <el-input placeholder="请输入场景名称" v-model="scene_edit.scene_name" style="width: 30%"></el-input>
                    </el-form-item>
                     <el-form-item label="轮播时间" >
                        <div class="ranger-demo mt20" id="jranger_demo">
                        <input type="hidden" class="slider-input" value="-720,720">

                    </div>
                     </el-form-item>
                       <el-form-item >
                        <el-col :span="5">
                                <el-time-picker v-model="scene_edit.scene_startTime" placeholder="开始时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                        </el-col>
                        <el-col class="line" :span="1">—</el-col>
                        <el-col :span="11">
                            <el-form-item>
                                <el-time-picker v-model="scene_edit.scene_endTime"  placeholder="结束时间点" format="hh:mm"
                                                value-format="hh:mm">
                                </el-time-picker>
                            </el-form-item>
                        </el-col>
                      </el-form-item>
                     </el-form-item>
                    <el-form-item label="场景适用岗位">
                        <el-select  placeholder="请选择" v-model="pos_name" >
                            <el-option v-for="item in pos" :label="item.pos_name" :value="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="预览区">
                        <el-button type="info" @click="goto">场景编排</el-button>
                    </el-form-item>
                    <el-form-item>
                            <el-row type="flex" justify="space-around">
                                <el-col :span="9">
                                    <div class="grid-content bg-purple-light">
                                        <ve-histogram :data="chartData"></ve-histogram>
                                    </div>
                                </el-col>
                                <el-col :span="9"  style="width: 80%">
                                  <div id="flow1" class="clearfix workflow-box" style="width: 100%">

                                        <div class="workflow-canvas" style="margin-left: 0px;padding-left: 0px">
                                            <!-- 画布模板 start -->
                                            <div class="jtk-content">
                                                <div class="jtk-demo-canvas canvas-wide jtk-surface jtk-surface-nopan"
                                                     id="canvas" style="height:370px;">
                                                    <!-- 流程 -->
                                                </div>
                                            </div>
                                            <!-- 画布模板 end -->

                                        </div>

                                        <!-- template 模板-->
                                        <div class="jtk-delete jtk-none ">删除节点</div>
                                        <div id="template" class="jtk-none">
                                            <div class="jtk-window jtk-node workfolw-node start-node" id="{charts}"
                                                 data-type="start">
                                                <div class="node-wrapper">
                                                    <div class="node-icon-start">
                                                        <i class="bk-icon icon-star-shape"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jtk-window jtk-node workfolw-node database-node" id="{charts}"
                                                 data-type="database">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">一级分析</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-data"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node cog-node" id="{charts}"
                                                 data-type="dataCog">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">实时加载</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-cog"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="jtk-window jtk-node workfolw-node filter-node" id="{charts}"
                                                 data-type="dataFilter">
                                                <div class="node-wrapper">
                                                    <div class="node-content">
                                                        <input type="text" class="node-title" value="">
                                                        <p data="数据源" class="node-desc">离线计算</p>
                                                    </div>
                                                    <div class="node-icon">
                                                        <i class="bk-icon icon-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </divcard>
                    </el-form-item>
                    <el-row type="flex" class="row-bg" justify="center">
                        <el-col :span="2">
                            <el-button type="primary" v-on:click="editSence" id="button">保存</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button @click="hide" id="button">取消</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
        </div>
    </el-card>

</div>
<script type="text/javascript">

    var vm=new Vue({
        el: '.content',
        data: {
            start_time: '8:00',
            end_time: '16:00',
            falg: false,
            selectvalue:'',
            search:'',//搜索框的值
            isAdd: 1,
            imgUrl: './static/1.png',
            chartData: {
                columns: ['日期', '下单用户'],
                rows: [
                    {'日期': '1/1', '下单用户': 1093},
                    {'日期': '1/2', '下单用户': 3230},
                    {'日期': '1/3', '下单用户': 2623},
                    {'日期': '1/4', '下单用户': 1423},
                    {'日期': '1/5', '下单用户': 3492},
                    {'日期': '1/6', '下单用户': 4293}
                ]
            },
            value9: [4, 5],
            textarea: '',
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            tableData: [],
            pos:[],//岗位
            pos_name:'',
            scene: {                            //场景管理
                scene_name: '', //场景名称
                scene_startTime:'',
                scene_endTime:'',
            },
            scene_edit:{                       //编辑页面中的
                id:'',
                scene_name: '', //场景名称
                scene_positions:'',//岗位
                 scene_startTime:'',
                scene_endTime:'',
            },

        },

        methods: {
            rowclass({row, rowIndex}) {

                return 'background:#F7F7F7'
            },
            handleSizeChange(val) {
                console.log('每页' + val + '条')
            },
            handleCurrentChange(val) {
                console.log('当前页: ' + val + '')
            },

            show() {
                this.isAdd = 2;
                vm.sen_position()
                setTimeout(function () {
                     vm.Time()

                },100)
            },
            edit(row){
                vm.scene_edit.id = row.id
                vm.scene_edit.scene_name = row.scene_name
                vm.scene_edit.scene_startTime = row.scene_startTime
                vm.scene_edit.scene_endTime = row.scene_endTime
                vm.pos_name =  row.pos_name
                this.isAdd = 3
                vm.sen_position()
                setTimeout(function () {
                    vm.Time()

                }, 100)

            },
            hide() {
                this.isAdd = 1
                vm.a()
            }, goto() {
                window.location.href = '${SITE_URL}ming'
            },
            a(){
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/monitor_show/',
                }).then(function(res) {
                    vm.tableData = res.data.message;
                })
            },
            addSence(){
                   axios({
                    method: 'post',
                   url: '${SITE_URL}monitorScene/addSence/',
                    data: {
                        data:vm.scene,
                        pos:vm.pos_name
                    }
                }).then(function(res) {
                    window.location.href = '${SITE_URL}scene_set'
                })
            },
            select_table(){
                 vm.scene.scene_endTime = $(".back-bar").children().eq(2).html()
                 vm.scene.scene_startTime = $(".back-bar").children().eq(4).html()
               axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/select_table/',
                    data: vm.search
                }).then(function(res) {
                    vm.tableData = res.data.message;
                })
            },
            delect(row){
                this.$confirm('此操作将永久删除该监控项, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                center: true,
            }).then(() => {
                this.$message({
                        type: 'success',
                        message: '删除成功!',
                    },
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitorScene/delect/',
                        data:  row.id

                    }).then((res) => {
                        vm.a();
                    }),);
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
            },
            editSence(){
               axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/editSence/',
                    data: {
                        data:vm.scene_edit,
                        pos:vm.pos_name
                    }
                }).then(function(res) {
                    window.location.href = '${SITE_URL}scene_set'
                })
            },
            Time(){

                setInterval(function () {

                    $(".back-bar").children().eq(1).mouseup(function () {
                           var low=-$(".back-bar").children().eq(2).html()
                           a=(Math.floor(low/60)+12)+":"+((1200+low)%60);
                          setTimeout(function () {
                            $(".back-bar").children().eq(2).html(a)
                             $(".back-bar").children().eq(2).show()
                         },100)
                    })
                    $(".back-bar").children().eq(3).mouseup(function () {
                          var high=$(".back-bar").children().eq(4).html()
                            b=(Math.floor(high/60)+12)+":"+((1200+high)%60);
                         setTimeout(function () {
                            $(".back-bar").children().eq(4).html(b)
                             $(".back-bar").children().eq(4).show()
                         },100)
                    })
                },500)

             $('.slider-input').jRange({
                    from: -1440,
                    to: 1440,
                    step: 1,
                    scale: ["-12:00", "00:00", "12:00", "24:00", "+12:00"],
                    format: '%s',
                    width: "300",
                    showLabels: true,
                    isRange: true
                })


            },
            sen_position(){
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/pos_name/',
                }).then(function(res) {
                       vm.pos = res.data.message
                })
            }


        }
    });

    vm.a();
</script>

<script>
    setInterval(function () {


        //flow1_js_start
        $('#flow1').dataflow({
            el: '.tool', //流程拖动源
            canvas: '#canvas', //画布
            arrowWidth: 8,
            arrowHeight: 10,
            template: '#template',
            id: 'ch', // 定义节点id，当页面只有一个dataflow实例是可忽略，当有多个实例时，需自定义该字段，id具有唯一性
            onRemoveNodeAfter: function(id, line) { //删除节点回调
                //console.log(id);
                //console.log(line);
            },
            onCreateNodeAfter: function(id) { //初始化节点回调
                //console.log(id)
            },
            onCreateLineAfter: function() { //创建线条后回调
                //console.log("1111")
            },
            ondrawData: function() { //初始化流程后回调
                //console.log($('.node-icon').length)
            },
            data: {
                "line": [
                    {
                    "source": {
                        "id": "ch1",
                        "arrow": "Bottom"
                    },
                    "target": {
                        "id": "ch3",
                        "arrow": "Left"
                    }
                    },
                    {
                        "source": {
                            "id": "ch2",
                            "arrow": "Right"
                        },
                        "target": {
                            "id": "ch3",
                            "arrow": "Right"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch2",
                            "arrow": "Bottom"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch2",
                            "arrow": "Right"
                        }
                    },
                    {
                        "source": {
                            "id": "ch3",
                            "arrow": "Top"
                        },
                        "target": {
                            "id": "ch4",
                            "arrow": "Right"
                        }
                    },
                    ],
                "location": [
                    {
                        "id": "ch1",
                        "x": 130,
                        "y": 48,
                        "name":"1",
                        "type": "database"
                    },
                    {
                        "id": "ch2",
                        "x": 406,
                        "y": 33,
                        "name":"2",
                        "type": "dataCog"
                    },
                    {
                        "id": "ch3",
                        "x": 406,
                        "y": 243,
                        "name":"3",
                        "type": "dataCog"
                    },
                    {
                        "id": "ch4",
                        "x": 150,
                        "y": 60,
                        "name":"4",
                        "type": "database"
                    },
                ]
            }
        });
        $('#save2').click(function() {
            // 获取全部数据
            var data= $('#flow1').data('dataflow').getAllData();
            var name = data.location[0];
            $('#result2').val(JSON.stringify(data));
        });

        // 清空画布
        $('#resetCanvas').click(function() {
            $('#flow1').data('dataflow').resetCanvas();
        });
        //flow1_js_end
        // $('.node-wrapper').click(function () {
        //
        //     $(this).find(".node-title").attr('contenteditable','plaintext-only');
        // })
        //节点抽屉
        $('.tool-title').click(function () {
            $(this).next('.tool-list').animate({
                height:'toggle'
            });
            $(this).parent().siblings().children('.tool-list').animate({
                height:"hide"
            });
        });

    },1)
</script>
</body>
</html>