<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}assets/base64/base64.js"></script>
    <link type="text/css" href="${STATIC_URL}css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="${STATIC_URL}css/net/style.min.css">
    <script type="text/javascript" src="${STATIC_URL}js/db_connection/db_connection.js"></script>
</head>

<body>
<div class="content" id="main">
    <div class="header">
        <el-breadcrumb class="route" separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>首页</el-breadcrumb-item>
            <el-breadcrumb-item>SQL数据库连接管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="body">
        <el-card shadow="always">
            <!--表单展示-->
            <div v-if="isAdd == '1'">
                <div id="pagetitle">
                    SQL数据库连接管理
                </div>
                <hr id="hr">
                <el-row type="flex" justify="space-between" align="center" class="row">

                    <el-col :span="12">
                        <el-col :span="9">
                            <el-input v-model="search" placeholder="请输入内容" @keyup.enter.native="select_table"></el-input>
                        </el-col>
                        <el-col :span="3">
                            <el-button type="primary" icon="el-icon-search" v-on:click="select_table">搜索</el-button>
                        </el-col>
                    </el-col>
                <el-col :span='3'>
                    <el-button type='primary'  @click='show'>新增数据库连接</el-button>
                </el-col>
                </el-row>

                <el-table :data="tableData" :header-cell-style="rowClass" style="width: 100%">
                    <el-table-column prop="id" label="序号" width="80px">
                    </el-table-column>
                    <el-table-column prop="connname" label="连接名称" style="width: 25%">
                    </el-table-column>
                    <el-table-column prop="type" label="连接类型" style="width: 25%">
                    </el-table-column>
                    <el-table-column prop="ip" label="IP地址" style="width: 25%">
                    </el-table-column>
                    <el-table-column prop="port" label="端口" style="width: 25%">
                    </el-table-column>
                    <el-table-column prop="username" label="用户名" style="width: 25%">
                    </el-table-column>
                    <el-table-column prop="operation" label="操作">
                        <template slot-scope="scope">
                            <el-button type="text" @click="showe(scope.row)" size="small">编辑</el-button>
                            <el-button type="text" @click="deleteDataBase(scope.row.id,scope.$index,tableData)" size="small">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right" @current-change="current_change1"></el-pagination>
            </div>

            <!--新增-->
            <div v-else-if="isAdd == '2'">
                <div id="pagetitle">
                    新增数据库连接
                </div>
                <hr id="hr">
                <el-form label-width="140px" :model="addconn" ref="addconn" :rules="rules" class="demo-ruleForm">
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <el-form-item label="连接名称：" prop="connname">
                                <el-input v-model="addconn.connname"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="9">
                            <el-form-item label="数据库类型:" prop="type">
                                    <el-select v-model="addconn.type" placeholder="请选择数据库类型" style="width: 250px;">
                                        <el-option label="MySQL" value="MySQL"></el-option>
                                        <!--<el-option label="Oracle" value="Oracle"></el-option>
                                        <el-option label="SQL Server" value="SQL Server"></el-option>-->
                                    </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <el-form-item label="Ip地址：" prop="ip">
                                <el-input v-model="addconn.ip"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="9">
                            <el-form-item label="端口号：" prop="port">
                                <el-input v-model="addconn.port"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <div id="son">
                                <el-form-item label="数据库名称：" prop="databasename">
                                    <el-input v-model="addconn.databasename"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="9">
                            <div id="son">
                                <el-form-item label="用户名：" prop="username">
                                    <el-input v-model="addconn.username"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>

                    </el-row>
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <div id="son">
                                <el-form-item label="密码：" prop="password">
                                    <el-input v-model="addconn.password" type="password"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>

                    </el-row>
                </el-form>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :span="18">
                        <el-button type="info" @click="testConn('addconn')">测试连接</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="primary" id="button" @click="saveconn('addconn')">保存</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button @click="hide()" id="button">取消</el-button>
                    </el-col>
                </el-row>
            </div>

            <!--编辑-->
            <div v-else="isAdd == '3'">
                <div id="pagetitle">
                    编辑数据库连接
                </div>
                <hr id="hr">
                <el-form label-width="140px" :model="editDataBase" ref="editDataBase" :rules="rules" class="demo-ruleForm">
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <el-form-item label="连接名称：" prop="connname">
                                <el-input v-model="editDataBase.connname"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="9">
                            <el-form-item label="数据库类型:" prop="type">
                                    <el-select v-model="editDataBase.type" placeholder="请选择数据库类型" style="width: 250px;">
                                        <el-option label="MySQL" value="MySQL"></el-option>
                                        <!--<el-option label="Oracle" value="Oracle"></el-option>
                                        <el-option label="SQL Server" value="SQL Server"></el-option>-->
                                    </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <el-form-item label="Ip地址：" prop="ip">
                                <el-input v-model="editDataBase.ip"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="9">
                            <el-form-item label="端口号：" prop="port">
                                <el-input v-model="editDataBase.port"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <div id="son">
                                <el-form-item label="数据库名称：" prop="databasename">
                                    <el-input v-model="editDataBase.databasename"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="9">
                            <div id="son">
                                <el-form-item label="用户名：" prop="username">
                                    <el-input v-model="editDataBase.username"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>

                    </el-row>
                    <el-row type="flex" class="row-bg" justify="space-around">
                        <el-col :span="9">
                            <div id="son">
                                <el-form-item label="密码：" prop="password">
                                    <el-input v-model="editDataBase.password" type="password" ></el-input>
                                </el-form-item>
                            </div>
                        </el-col>

                    </el-row>
                </el-form>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :span="18">
                        <el-button type="info" @click="textconn2('editDataBase')">测试连接</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="primary" @click="editConn('editDataBase')">修改</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button @click="hide()">取消</el-button>
                    </el-col>
                </el-row>
            </div>
            <!--||||||||||||||||-->
        </el-card>
    </div>
</div>
<input id="siteUrl" type="hidden" value="${SITE_URL}">
</body>
</html>

