<!DOCTYPE html>
<html lang="en">
<style>
    .ops_quality {
        background-image: url(/static/img/ops_quality.png);
        background-size: 100% 100%;
    }
    .night_duty {
        background-image: url(/static/img/night_duty.png);
        background-size: 100% 100%;
    }
    .liquidation {
        background-image: url(/static/img/liquidation.png);
        background-size: 100% 100%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow2.0.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 ${STATIC_URL}assets/-->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>-->
    <!--页面初始化css(Tencent)-->
    <link href="${STATIC_URL}css/common/init.css" rel="stylesheet">
    <!--本页面css-->
    <link href="${STATIC_URL}css/common/main.css" rel="stylesheet">
    <!--阿里巴巴矢量图标库--项目完成后请下载css并下载css引用的字体文件-->
    <link href="http://at.alicdn.com/t/font_997278_ptr5bdmor4j.css" rel="stylesheet">

    <!--以下为后台参数-->
    <!--
    "${SITE_URL}";	        // app的url前缀,在ajax调用的时候，应该加上该前缀
    "${STATIC_URL}";       // 静态资源前缀
    **/--->

    <link type="text/css" href="${STATIC_URL}css/monitorScene/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jrange/css/jquery.range.css" rel="stylesheet">
    <script src="${STATIC_URL}js/jquery.range-min.js"></script>
    <script src="${STATIC_URL}js/csrftoken.js"></script>
    <script src="${STATIC_URL}js/scene/scene_carousel.js"></script>


    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript"
            src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css"/>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
</head>
<body>
<div id="main">
    <template>
        <div class="block">
        <div id="1" style="height: 1200px;" class="ops_quality" :height="imgHeight">

        </div>
        <div id="2" style="height: 1200px;display:none" class="night_duty" :height="imgHeight">

        </div>
        <div id="3" style="height: 1200px;display:none" class="liquidation" :height="imgHeight">

        </div>
        </div>
    </template>
</div>
</body>
<script>
 axios.interceptors.request.use((config) => {
    config.headers['X-Requested-With'] = 'XMLHttpRequest';
    let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
    config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
    return config
});
vm = new Vue({
    el: "#main",
    data: {
        imgList: [],
        imgHeight: '' + document.documentElement.clientHeight + 'px',
    },
    methods: {
        mounted() {
            //const that = this
            //这里很关键；大部分博客都是这样写的，其实也没有毛病，只不过有时候不起作用；
            window.onresize = () => {
                return (() => {
                    window.imgHeight = document.documentElement.clientHeight;
                    this.imgHeight = '' + window.imgHeight + 'px';
                })()
            }
        },
        watch: {
            imgHeight(val) {
                if (!this.timer) {
                    this.imgHeight = val;
                    this.timer = true;
                    let that = this;
                    setTimeout(function () {
                        // that.screenWidth = that.$store.state.canvasWidth
                        console.log(that.imgHeight);
                        that.timer = false;
                    }, 400)
                }
            },
        }
    }
});
$(function () {alert(vm.imgHeight);
    $(document).on("click", ".keepOn_no", function (e) {
        e.preventDefault();
        $(this).parent().hide();
    });
    $(document).on("click", ".block", function (e) {
        var elem = document.body;
        if (elem.webkitRequestFullScreen) {
            elem.webkitRequestFullScreen();
        } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        } else if (elem.requestFullScreen) {
            elem.requestFullscreen();
        } else {
            notice.notice_show("浏览器不支持全屏API或已被禁用", null, null, null, true, true);
        }
    });
});
</script>
</html>