<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow2.0.js"></script>
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 ${STATIC_URL}assets/-->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>-->
    <!--页面初始化css(Tencent)-->
    <link href="${STATIC_URL}css/common/init.css" rel="stylesheet">
    <!--本页面css-->
    <link href="${STATIC_URL}css/common/main.css" rel="stylesheet">
    <!--阿里巴巴矢量图标库--项目完成后请下载css并下载css引用的字体文件-->
    <link href="http://at.alicdn.com/t/font_997278_ptr5bdmor4j.css" rel="stylesheet">

    <!--以下为后台参数-->
    <!--
    "${SITE_URL}";	        // app的url前缀,在ajax调用的时候，应该加上该前缀
    "${STATIC_URL}";       // 静态资源前缀
    **/--->

    <link type="text/css" href="${STATIC_URL}css/monitorScene/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jrange/css/jquery.range.css" rel="stylesheet">
    <script src="${STATIC_URL}js/jquery.range-min.js"></script>


    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css">
    <script type="text/javascript"
            src="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/js/jsplumb.min.js"></script>
    <link rel="stylesheet"
          href="https://magicbox.bk.tencent.com/static_api/v3/assets/dataflow-2.0/css/jsPlumbToolkit-defaults.css"/>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
</head>
<body>
<div id="main">
    <template>
        <div class="block">
            <!--<span class="demonstration">Click 指示器触发</span>-->

            <el-carousel trigger="click" @change="scene_change" :height="imgHeight">
                <el-carousel-item v-for="(item,index) in imgList" :key="index">
                    <el-row>
                        <el-col :span="24">
                            <div ref="imgHeight" :src="item.idView" :id="item.scene_id" :class="'scene_content'+index"
                                 style="position: relative;">

                            </div>
                        </el-col>
                    </el-row>
                </el-carousel-item>
            </el-carousel>
        </div>
    </template>
</div>

<script>
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    let vm = new Vue({
        el: "#main",
        data: {
            imgList: [],
            imgHeight: '' + document.documentElement.clientHeight + 'px',
        },
        methods: {
            async get_scenes() {
                let res = await axios({
                    method: 'post',
                    url: '${SITE_URL}monitorScene/alternate_play/',
                }).catch(function (e) {
                    vm.$massage.error('获取数据失败！');
                });
                vm.imgList = res.data.message;   //获取场景
            },
            //轮播切换时触发，多个场景时才会切换时触发，单个场景只执行一次
            scene_change(value1, value2) {
                if (vm.imgList.length==1){    //只有一个场景
                    vm.scene_content_change(0);
                    setInterval(function () {
                        vm.scene_content_change(0);   //十秒钟更新一次dom
                    },10000)
                }
                if (vm.imgList.length>1) {  //多于一个场景
                    vm.scene_content_change(value1);
                }

            },
            //更新dom
            scene_content_change(value) {
                let selector = '.scene_content' + value;
                let base_list = vm.imgList[value].scene_content[0].base_list;  //获取当前场景的基本监控项数据
                let chart_list = vm.imgList[value].scene_content[0].chart_list;  //获取当前场景的图标监控项数据
                let job_list = vm.imgList[value].scene_content[0].job_list;  //获取当前场景的作业监控项数据
                let flow_list = vm.imgList[value].scene_content[0].flow_list;  //获取当前场景的流程监控项数据
                $(selector).html('');    //初始化场景
                for (let i = 0; i < base_list.length; i++) {
                    //添加一个div容器，形如<div type="basic1"></div>
                    $(selector).append('<div type=\"basic' + base_list[i].id + '\" style=\"position: absolute;top:' + base_list[i].y + 'px;left:' + base_list[i].x + 'px;transform: scale(' + base_list[i].scale + ')\"></div>');
                    //调用基本监控项的渲染方法,第一个参数对应容器div的type
                    base_monitor_active(base_list[i].id, base_list[i].font_size, base_list[i].height, base_list[i].width,base_list[i].contents);
                }
                for (let i = 0; i < chart_list.length; i++) {
                    //添加一个div容器,形如<div id="1_1"><div id="chart1_1"></div></div>
                    $(selector).append('<div id=\"' + value + '_' + chart_list[i].order + '\" style=\"position: absolute;background:beige;height:' + chart_list[i].height + 'px;width:' + chart_list[i].width + 'px;top:' + chart_list[i].y + 'px;left:' + chart_list[i].x + 'px;transform: scale(' + chart_list[i].scale + ')\"><div id=\"chart' + value + '_' + chart_list[i].order + '\" style=\"background:beige;height:' + chart_list[i].height + 'px;width:' + chart_list[i].width + 'px\"></div><input class="score_input" type="text" value="0"><div class="right_click"><span class="score">打分</span><span class="delete">删除监控项</span></div></div>');
                    //调用图标监控项的渲染方法，最后一个参数对应容器外层div的id
                    show_chart_active(chart_list[i].id, chart_list[i].gather_params, chart_list[i].height, chart_list[i].width, value + '_' + chart_list[i].order);

                }
                for (let i = 0; i < job_list.length; i++) {
                    let job_params = {
                        'id': job_list[i].id,     //监控项id
                        'width': job_list[i].width,
                        'height': job_list[i].height,
                        'status': job_list[i].job_status,   //采集测试的作业状态
                        'contents': job_list[i].contents    //监控项的显示内容参数
                    };
                    //添加一个div容器,形如<div id="job1"></div></div>
                    $(selector).append('<div type=\"job' + job_list[i].id + '\" id=\"' + value + '_' + job_list[i].order + '\" style=\"position: absolute;top:' + job_list[i].y + 'px;left:' + job_list[i].x + 'px;transform: scale(' + job_list[i].scale + ')\"></div>');
                    //调用作业监控项的渲染方法，参数的第一条值对应容器外层div的id
                    job_monitor_active(job_params);
                }
                for (let i = 0; i < flow_list.length; i++) {

                    let jion_id = [{
                        "id": flow_list[i].jion_id
                    }];
                    //添加一个div容器,形如<div><div id="flow1_1"></div></div>
                    $(selector).append('<div class=\"flow_monitor\" type=\"'+flow_list[i].id+'\" style=\"position: absolute;top:' + flow_list[i].y + 'px;left:' + flow_list[i].x + 'px;transform: scale(' + flow_list[i].scale + ')\"><div type=\"flow_monitor' + value + '_' + flow_list[i].order + '\"></div></div>');
                    //调用流程监控项的渲染方法，第一条参数必须为[{}]格式，用来调v3接口，第二条参数对应容器内部div的id
                    flow_monitor(jion_id, value + '_' + flow_list[i].order);
                    setTimeout(function () {
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitor_item/node_state_by_item_id/',
                        data: {
                            'item_id': flow_list[i].id
                        }
                    }).then(function (res) {

                            var len =res.data.message.length
                            for(var j=0;j<=len-1;j++){
                                data_key=res.data.message[j].data_value
                                if(data_key == '1'||data_key=='4'){
                                    $('p:contains('+res.data.message[j].data_key+')').parent().siblings('.node-icon').css('background','#67c23a');
                                }else if(data_key == '0' || data_key == '3'){
                                    $('p:contains('+res.data.message[j].data_key+')').parent().siblings('.node-icon').css('background','#f56c6c')
                                }else if (data_key == '2') {
                                    $('p:contains('+res.data.message[j].data_key+')').parent().siblings('.node-icon').css('background','#f56c6c')
                                    $('p:contains('+res.data.message[j].data_key+')').parent().siblings('.node-icon').children().css('position','relative')
                                    $('p:contains('+res.data.message[j].data_key+')').parents().siblings('.node-icon').children().html('<div class=\"keepOn\"><p>是否继续</p><span class="keepOn_yes">是</span><span class="keepOn_no">否</span></div>')
                                }
                            }
                        }).catch(function (e) {
                            vm.$massage.error('获取数据失败！');
                        });
                    },1000)



                }
            },
        },
        mounted() {
            //const that = this
            //这里很关键；大部分博客都是这样写的，其实也没有毛病，只不过有时候不起作用；
            window.onresize = () => {
                return (() => {
                    window.imgHeight = document.documentElement.clientHeight;
                    this.imgHeight = '' + window.imgHeight + 'px';
                })()
            }

        },
        watch: {
            imgHeight(val) {
                if (!this.timer) {
                    this.imgHeight = val;
                    this.timer = true;
                    let that = this;
                    setTimeout(function () {
                        // that.screenWidth = that.$store.state.canvasWidth
                        console.log(that.imgHeight);
                        that.timer = false;
                    }, 400)
                }
            },
        }
    });
    vm.get_scenes()
    var interval = setInterval(function () {
        vm.get_scenes();
    },10000);
    $(function () {
        $(document).on("click", ".keepOn_yes", function (e) {
            e.preventDefault();
            var id=$(this).parents('.flow_monitor').attr('type');
            axios({
                method: 'post',
                        url: '${SITE_URL}monitor_item/resume_flow/',
                        data: {
                            'item_id': id
                        }
            }).then(function (res) {
                console.log(res);
            });
            $(this).parent().hide();
        });
        $(document).on("click", ".keepOn_no", function (e) {
            e.preventDefault();
            $(this).parent().hide();
        });
        $(document).on("click", ".block", function (e) {
            var elem = document.body;
            if (elem.webkitRequestFullScreen) {
                elem.webkitRequestFullScreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.requestFullScreen) {
                elem.requestFullscreen();
            } else {
                notice.notice_show("浏览器不支持全屏API或已被禁用", null, null, null, true, true);
            }
        });
    });
</script>


<!--暂时的css样式-->
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
    .score_input {
        font-size: 16px;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        top: -36px;
        left: 0;
        width: 50px;
        height: 36px;
        display: none;
    }
    .right_click {
        position: absolute;
        width: 100px;
        display: none;
    }

    .right_click span {
        width: 100px;
        display: inline-block;
        font-size: 16px;
        line-height: 36px;
    }
    .keepOn{
        position: absolute;
        top: 32px;
        right: 0;
        width: 115px;
        height: 60px;
    }
    .keepOn p{
        margin-top: 5px;
        line-height: 20px;
        color: black;
    }
    .keepOn span{
        width: 20%;
        margin: 0 20px;
        color: black;
        background: #00baff;
    }
</style>
</body>
</html>