<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="${STATIC_URL}js/Component-based.js"></script>
    <script src="${STATIC_URL}js/net/echarts.min.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 ${STATIC_URL}assets/-->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="${STATIC_URL}assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--jQuery库使用时请使用标准jQuery语法-->
    <!--<script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>-->
    <!--页面初始化css(Tencent)-->
    <link href="${STATIC_URL}css/common/init.css" rel="stylesheet">
    <!--本页面css-->
    <link href="${STATIC_URL}css/common/main.css" rel="stylesheet">
    <!--阿里巴巴矢量图标库--项目完成后请下载css并下载css引用的字体文件-->
    <link href="${STATIC_URL}css/net/font_997278_ptr5bdmor4j.css" rel="stylesheet">
    <!--以下为后台参数-->
    <!--
    "${SITE_URL}";	        // app的url前缀,在ajax调用的时候，应该加上该前缀
    "${STATIC_URL}";       // 静态资源前缀
    **/--->
    <link type="text/css" href="${STATIC_URL}css/monitorScene/style.css" rel="stylesheet">
    <script src="${STATIC_URL}js/net/index.min.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/net/style.min.css">
    <link href="${STATIC_URL}css/net/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/net/jquery.range.css" rel="stylesheet">
    <script src="${STATIC_URL}js/net/jquery-1.10.2.min.js"></script>
    <script src="${STATIC_URL}js/jquery.range-min.js"></script>
    <script src="${STATIC_URL}js/csrftoken.js"></script>

    <link rel="stylesheet" href="${STATIC_URL}css/net/iconfont.css">
    <script type="text/javascript" src="${STATIC_URL}js/net/jsplumb.min.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/net/jsPlumbToolkit-defaults.css" />
    <script type="text/javascript" src="${STATIC_URL}js/dataflow/dataflow2.0.js"></script>
    <link rel="stylesheet" href="${STATIC_URL}css/monitorScene/dataflow-index.css">
    <style>
        .Drigging {
            color: gray;
            position: absolute;
            border-radius: 0;
            border: 1px solid #AAAAAA;
        }
    </style>
</head>
<body style="height: 100%">
<input id="site_url" type="hidden" value="${SITE_URL}">
<div id="main">
    <el-menu

            class="el-menu-demo"
            mode="horizontal"
            background-color="#fafafa"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-form :inline="true" class="demo-form-inline" style="margin: 50px 20px;">

            <el-form-item label="岗位名称:" size="mini"  prop="users">
                <el-select v-model="position" placeholder="请选择岗位" >
                    <el-option v-for="item in options" :label="item.label" :key="item.value"
                               :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="起始时间:" size="mini">
                <el-time-picker v-model="start" placeholder="开始时间点" format="HH:mm" value-format="HH:mm" >
                </el-time-picker>
                <el-time-picker v-model="end" placeholder="结束时间点" format="HH:mm" value-format="HH:mm" >
                </el-time-picker>
            </el-form-item>
            <el-button type="info" v-on:click="query_scene_info">测试</el-button>
        </el-form>
    </el-menu>
    <template>
        <div class="block">
            <!-- 选择员工信息 strat -->
            <div style="width: 100%;">

            </div>
            <!-- 选择员工信息 end -->
            <!--<span class="demonstration">Click 指示器触发</span>-->
            <!-- 每隔10秒切换一次走马灯 -->
            <div id="div_sence"></div>
        </div>
    </template>
</div>
<script>
    vm = new Vue({
        el: "#main",
        data: {
          imgList: [],
          imgHeight: '' + document.documentElement.clientHeight + 'px',
          start: '09:00',                                                                   //开始时间
          end: '18:00',                                                                   //结束时间
          region1: '1',                                                                 //岗位选择
          position: '1',                                                                  //岗位
          options: [],
          show_stop:null,//暂停
          show_index:0,
          interval: 10,   //默认10秒
        },
        methods: {
            //取配置的轮播时间
            get_time_interval(){
                axios({
                    method: 'post',
                    data:{
                    code:"wheel_cycle"
                    },
                    url:  '${SITE_URL}monitor_scene/open_scene_design/',
                }).then((res) => {
                    if(res.data.time_interval != ""){
                        vm.interval = res.data.time_interval;
                    }
                })
            },
            get_pos() {
                axios({
                  method: 'post',
                  url:  '${SITE_URL}monitor_scene/get_all_pos/',
                }).then((res) => {
                    let json = [];
                    if (res.data.message.length > 0) {
                        for (var i = 0; i < res.data.message.length; i++) {
                            let j = {};
                            j.value = res.data.message[i].id;
                            j.label = res.data.message[i].pos_name;
                            json.push(j);
                        }
                        this.options = json;
                        if(json.length>0){
                            vm.position = json[0].value;
                        }
                    }
                }).catch((res) => {
                    vm.$message.error('获取用户错误')
                })
            },
            query_scene_info:function(){
                //取得配置的轮播时间间隔
                vm.get_time_interval();
                $.ajax({
                    url:"${SITE_URL}monitor_scene/query_pos_scene"
                    ,async:false
                    ,data: {
                        'pos_id': vm.position,
                        'start': vm.start,
                        'end': vm.end
                    }
                    ,type:"post"
                    ,dataType:"json"
                    ,success:function(data){
                        if(vm.show_stop!=null){
                            clearInterval(vm.show_stop);//设置停止
                            vm.show_stop = null;
                        }
                        $("#div_sence").html("");
                        if(data.message!=""){
                            var djson = data.message ;//eval('('+data.message+')');
                            for(var i=0;i<djson.length;i++){
                                var t="display:none;"
                                if(i ==0){
                                    t="";
                                }
                                var html="<iframe id='i"+djson[i]+"'  src='${SITE_URL}monitor_scene/page_query_xml_show?id=";
                                html+=djson[i]+"' style='"+t+"width:1200px;height:850px;border:none;'></iframe>";
                                $("#div_sence").append(html);
                            }
                            vm.show_stop = setInterval(function(){
                                var iframe_dto = $("#div_sence iframe");
                                if(iframe_dto.length>0){
                                    if(vm.show_index==(iframe_dto.length-1)){
                                        vm.show_index = -1;
                                    }
                                    vm.show_index=vm.show_index+1
                                    iframe_dto.hide();
                                    $(iframe_dto[vm.show_index]).show();
                                }
                            },vm.interval*1000);
                        }
                    }
                })
            }
        }
    })
    vm.get_pos();
</script>
</body>
</html>
