<html>
<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <link type="text/css" href="${STATIC_URL}css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <style>
        input {
            width: 250px;
            height: 30px;
        }

        .el-table--border th {
            padding: 5px
        }

    </style>
</head>
<body>
<div id="app">
    <!-- div1 start-->
    <div class="div1" style="padding: 20px 40px 0px 40px;">
        <div>
            <el-input placeholder="请输入内容" clearable v-model="contents" style="width:30%"></el-input>
            <el-button type="primary" icon="el-icon-search" v-on:click="select1">搜索</el-button>
            <el-popover placement="top-start" width="200" trigger="hover" content="新增一个单元。" style="float:right;">
                <el-button slot="reference" v-on:click="edit3(0)">新增</el-button>
            </el-popover>
        </div>
        <div style="height: 20px"></div>
        <div>
            <el-table :data='sites' :header-cell-style='rowclass' style="width: 100%;" border header-align="center">
                <el-table-column prop="id" label="序号" sortable></el-table-column>
                <el-table-column prop="monitor_name" label="监控名称" sortable></el-table-column>
                <el-table-column prop="monitor_type" label="监控类型" sortable></el-table-column>
                <el-table-column prop="editor" label="编辑人" sortable></el-table-column>
                <el-table-column prop="edit_time" label="修改时间" sortable></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <!--<el-button id="button1" type="text" size="small" v-on:click="edit(scope.row.id)" >编辑</el-button>-->
                        <el-button size="mini" type="text" v-on:click="edit(scope.row)">编辑</el-button>
                        <el-button size="mini" type="text" v-on:click="edit2(scope.row)">删除</el-button>
                        <el-tooltip :content="value1" placement="top">
                            <el-switch v-model="scope.status" active-color="#13ce66" inactive-color="#ff4949"
                                       active-value="1" inactive-value="0"></el-switch>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination :page-count="page_count" background layout="prev, pager, next" style="float:right"
                           @current-change="current_change1"></el-pagination>
        </div>
    </div>
    <!-- div1 end-->

    <!-- 对话框 start-->
    <el-dialog title="基本信息" :visible.sync="centerDialogVisible" width="80%">
        <HR align=center width=100% color=#979797 SIZE=0.5>
        <div style="height: 30px"></div>
        <div>
            <span>监控单元名称</span>
            <el-input placeholder="请输入单元名称" v-model="monitor_name" style="width: 30%"></el-input>
        </div>
        <div style="height: 30px"></div>
        <span>
            <el-tabs type="card" v-model="monitor_type">

                <!--基本单元 start-->
                <el-tab-pane :disabled="disabled2" label="基本单元" name="first">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="basic" ref="basic" :rules="rules1" label-width="100px">
                                <el-form-item label="字号" prop="font_size">
                                    <el-select v-model="basic.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item prop="height">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.height"
                                                      placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="width">
                                              <el-input type="number" v-model.number="numberValidateForm.age"
                                                        auto-complete="off" v-model="basic.width"
                                                        placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容" prop="contents" style="width: 96%">
                                        <el-input v-model="basic.contents" placeholder="上证指数:3000  深证指数:3000"
                                                  type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="数据来源">
                                    <el-radio-group v-model="sql_file_interface" @change="change1"
                                                    style="padding: 14px">
                                        <el-radio :label="3">数据库</el-radio>
                                        <el-radio :label="6">文件</el-radio>
                                        <el-radio :label="9">接口</el-radio>
                                     </el-radio-group>
                                </el-form-item>
                                <div :style="{ display: sql1 }">
                                    <el-form-item label="数据库连接">
                                        <el-select v-model="server_url" placeholder="请选择数据库">
                                            <el-option v-for="i in sites" :label="i.label"
                                                       :value="i.value"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="数据采集规则" style="width: 96%">
                                        <el-input v-model="basic.gather_rule" placeholder="select * from tb_hq"
                                                  type="textarea"></el-input>
                                    </el-form-item>
                                </div>

                                <div :style="{display:file1}">
                                    <el-form-item label="服务器">
                                        <el-input placeholder="请输入服务器" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="文件路径">
                                        <el-input placeholder="请输入文件路径" v-model="file_param"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                </div>
                                <div :style="{display:interface1}">
                                    <el-form-item label="url">
                                        <el-input placeholder="请输入url" v-model="server_url"
                                                  style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="接口参数">
                                        <el-input type="textarea" v-model="file_param"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="basic.start_time"
                                                            placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="basic.end_time"
                                                            placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="basic.period" style="width: 96%"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                        </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <div style="height: 60px"></div>
                                <h3>上证指数:3000</h3>
                                <h3>深证指数:3000</h3>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->

                <!-- 图表单元 start-->
                <el-tab-pane :disabled="disabled3" label="图表单元" name="second">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="chart" :rules="rules2" ref="chart" label-width="100px">
                                <el-form-item label="字号" prop="font_size">
                                    <el-select v-model="chart.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item prop="height">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="chart.height"
                                                      placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="width">
                                              <el-input type="number" v-model.number="numberValidateForm.age"
                                                        auto-complete="off" v-model="chart.width"
                                                        placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="图表类型" prop="gather_params">
                                    <el-select v-model="chart.gather_params" placeholder="请选择图表类型">
                                        <el-option label="折线图" value="折线图"></el-option>
                                        <el-option label="柱状图" value="柱状图"></el-option>
                                        <el-option label="饼图" value="饼图"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="显示内容" style="width: 96%" prop="contents">
                                    <el-input type="textarea" v-model="chart.contents"
                                              placeholder="上证指数:3000  深证指数:3000"></el-input>
                                </el-form-item>
                                <el-form-item label="连接数据库">
                                    <el-select v-model="chart.params" placeholder="请选择数据库">
                                        <el-option v-for="i in sites" :label="i.label" :value="i.value"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="图表采集规则" style="width: 96%">
                                    <el-input v-model="chart.gather_rule" placeholder="select * from tb_hq"
                                              type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="chart.start_time"
                                                            placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="chart.end_time"
                                                            placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="chart.period" style="width: 96%"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;">
                                    <img src="${STATIC_URL}img/zhuzhuangtu.jpg"
                                         style="max-width: 100%;max-height: 100%;">
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 图表单元 end-->

                <!-- 作业单元 start-->
                <el-tab-pane :disabled="disabled4" label="作业单元" name="third">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="job" :rules="rules3" ref="job" label-width="100px">
                                <el-form-item label="字号" prop="font_size">
                                    <el-select v-model="job.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item prop="height">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="job.height"
                                                      placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="width">
                                              <el-input type="number" v-model.number="numberValidateForm.age"
                                                        auto-complete="off" v-model="job.width"
                                                        placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容" style="width: 96%" prop="contents">
                                    <el-input type="textarea" v-model="job.contents"
                                              placeholder="上证指数:3000  深证指数:3000"></el-input>
                                </el-form-item>
                                <el-form-item label="作业模板" prop="gather_params">
                                    <el-select v-model="job.gather_rule" placeholder="请选择作业模板">
                                        <el-option v-for="i in job2" :label="i.name" :value="i.name"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="NODE_KEY" style="width: 96%">
                                    <el-input v-model="job.gather_rule" placeholder="请输入NODE_KEY"></el-input>
                                </el-form-item>
                                <el-form-item label="执行服务器" style="width: 96%">
                                    <el-input v-model="job.params" placeholder="请输入服务器地址"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="job.start_time"
                                                            placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="job.end_time"
                                                            placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                 <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="job.period" style="width: 96%"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <div style="height: 60px"></div>
                                <el-progress type="circle" :percentage="100" status="success"></el-progress>
                            </div>
                            <div style="padding: 0px 10%">
                                <div style="height: 20px"></div>
                                <el-button type="primary" :disabled="disabled1" v-on:click="time1">采集测试</el-button>
                                <el-checkbox v-model="checked1" @change="change2">启动脚本</el-checkbox>
                                <div :style="{ display: zuoye }">
                                    <el-alert title="启动作业可能会对系统造成不可逆的变更，请谨慎勾选此项！" type="warning" show-icon show-icon
                                              true-label="1" false-label="0"></el-alert>
                                </div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 作业单元 end-->

                <!-- 流程单元 start-->
                <el-tab-pane :disabled="disabled5" label="流程单元" name="fourth">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="flow" :rules="rules4" ref="flow" label-width="100px">
                                <el-form-item label="字号" prop="font_size">
                                    <el-select v-model="flow.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item prop="height">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="flow.height"
                                                      placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item prop="width">
                                              <el-input type="number" v-model.number="numberValidateForm.age"
                                                        auto-complete="off" v-model="flow.width"
                                                        placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="流程模板" prop="gather_params">
                                    <el-select v-model="flow.gather_params" placeholder="请选择模板">
                                        <el-option v-for="i in sites" :label="i.editor" :value="i.editor"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="参数1" style="width: 96%">
                                    <el-input v-model="param1" placeholder="请输入参数"></el-input>
                                </el-form-item>
                                <el-form-item label="参数2" style="width: 96%">
                                    <el-input v-model="param2" placeholder="请输入参数"></el-input>
                                </el-form-item>
                                   <el-form-item label="节点">
                                        <el-select v-model="flow.gather_params" placeholder="请选择节点">
                                          <el-option v-for="i in sites" :key="sites.value" :label="i.editor" :value="i.editor"></el-option>
                                        </el-select>
                                      </el-form-item>
                                <div v-if="flow.gather_rule === 'admin'">
                                <el-form-item label="节点周期:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.start_time"
                                                            placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.end_time"
                                                            placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </div>
                                <div v-if="flow.gather_rule === '1'">
                                <el-form-item label="节点周期:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.start_time"
                                                            placeholder="开始时间点1" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.end_time"
                                                            placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </div>
                                 <el-form-item label="采集周期" prop="period">
                                            <el-input type="number" v-model.number="numberValidateForm.age"
                                                      auto-complete="off" v-model="flow.period" style="width: 96%"
                                                      placeholder="请输入采集周期(秒)"></el-input>
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <img src="${STATIC_URL}img/liucheng.png" style="max-width: 100%;max-height: 100%;">
                            </div>
                            <div style="padding: 0px 10%">
                                <div style="height: 20px"></div>
                                <el-button type="primary" v-on:click="time1" :disabled="disabled1">采集测试</el-button>
                                <el-checkbox v-model="checked2" @change="change3">启动流程</el-checkbox>
                                <div :style="{ display: liucheng }">
                                    <el-alert title="启动流程可能会对系统造成不可逆的变更，请谨慎勾选此项！" type="warning" show-icon
                                              true-label="1" false-label="0"></el-alert>
                                </div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->
            </el-tabs>
        </span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="pefFrom">保 存</el-button>
        </span>
    </el-dialog>
    <!-- 对话框 end-->
</div>
</body>


<script>
    //csrf验证
    axios.interceptors.request.use((config) => {
        config.headers['X-Requested-With'] = 'XMLHttpRequest';
        let regex = /.*csrftoken=([^;.]*).*$/; // 用于从cookie中匹配 csrftoken值
        config.headers['X-CSRFToken'] = document.cookie.match(regex) === null ? null : document.cookie.match(regex)[1];
        return config
    });
    var vm = new Vue({
        el: '#app',
        data: {
            value1: '',
            job2: [],                                      //作业模板
            page_count: 100,                             //总页码数
            page: 1,                                   //分页页码数
            sites: [{
            value: 'Shanghai',
            label: '上海'
          }, {
            value: 'Beijing',
            label: '北京'
          }],                                //table内容
            contents: '',                             //搜索输入框内容
            checked1: false,                           //作业启动选框
            checked2: false,                           //流程启动选框
            disabled1: false,
            disabled2: false,                            //基本单元
            disabled3: false,                            //图表单元
            disabled4: false,                            //作业单元
            disabled5: false,                            //流程单元
            caiji1: 'block',
            caiji2: 'none',
            monitor_name: '',                             //单元名称
            unit_id: 0,                               //单元id
            centerDialogVisible: false,              //弹窗状态
            sql1: 'block',
            file1: 'none',
            interface1: 'none',
            sql_file_interface: 3,
            server_url: '',
            file_param: '',
            param1: '',
            param2: '',
            zuoye: 'none',
            liucheng: 'none',
            data22: {},                              //传递新增数据
            monitor_type: 'first',                     //单元类型
            basic: {                                //基本单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                params: '',                         //监控参数
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //采集规则
                gather_params: '',                   //采集参数
            },
            rules1: {
                font_size: [
                    {required: true, message: '请选择字号', trigger: 'change'}
                ],
                height: [
                    {required: true, message: '请输入高度', trigger: 'blur'}
                ],
                width: [
                    {required: true, message: '请输入宽度', trigger: 'blur'}
                ],
                contents: [
                    {required: true, message: '请输入内容', trigger: 'blur'}
                ],
                period: [
                    {required: true, message: '请输入采集周期(以秒为单位)', trigger: 'blur'}
                ],

            },
            chart: {                                //图表单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //采集规则
                gather_params: '',                   //节点
                params: '',                          //监控参数
            },
            rules2: {
                font_size: [
                    {required: true, message: '请选择字号', trigger: 'change'}
                ],
                height: [
                    {required: true, message: '请输入高度', trigger: 'blur'}
                ],
                width: [
                    {required: true, message: '请输入宽度', trigger: 'blur'}
                ],
                contents: [
                    {required: true, message: '请输入内容', trigger: 'blur'}
                ],
                gather_params: [
                    {required: true, message: '请选择图片类型', trigger: 'change'}
                ],
                period: [
                    {required: true, message: '请输入采集周期(以秒为单位)', trigger: 'blur'}
                ],
            },
            job: {                                   //作业单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //NODE_KEY
                gather_params: '',                   //作业模板
                params: '',                         //执行服务器
            },
            rules3: {
                font_size: [
                    {required: true, message: '请选择字号', trigger: 'change'}
                ],
                height: [
                    {required: true, message: '请输入高度', trigger: 'blur'}
                ],
                width: [
                    {required: true, message: '请输入宽度', trigger: 'blur'}
                ],
                contents: [
                    {required: true, message: '请输入内容', trigger: 'blur'}
                ],
                gather_params: [
                    {required: true, message: '请选择作业模板', trigger: 'change'}
                ],
                period: [
                    {required: true, message: '请输入采集周期(以秒为单位)', trigger: 'blur'}
                ],
            },
            flow: {                                //流程单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                params: '',                         //监控参数
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //采集规则
                gather_params: '',                   //流程模板
            },
            rules4: {
                font_size: [
                    {required: true, message: '请选择字号', trigger: 'change'}
                ],
                height: [
                    {required: true, message: '请输入高度', trigger: 'blur'}
                ],
                width: [
                    {required: true, message: '请输入宽度', trigger: 'blur'}
                ],
                gather_params: [
                    {required: true, message: '请选择流程模板', trigger: 'change'}
                ],
                period: [
                    {required: true, message: '请输入采集周期(以秒为单位)', trigger: 'blur'}
                ]
            },
            basic1: {                                //基本单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                params: '',                         //监控参数
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //采集规则
                gather_params: '',                   //采集参数
            },
            chart1: {                                //图表单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //采集规则
                gather_params: '',                   //节点
                params: '',                          //监控参数
            },
            job1: {                                   //作业单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //NODE_KEY
                gather_params: '',                   //作业模板
                params: '',                         //执行服务器
            },
            flow1: {                                //流程单元
                monitor_name: '',                    //单元名称
                monitor_type: '',                    //单元类型
                font_size: '',                       //字号
                height: '',                          //高度
                width: '',                            //宽度
                start_time: '',                      //开始时间
                end_time: '',                        //结束时间
                period: '',                          //采集周期
                params: '',                         //监控参数
                status: '',                          //监控状态
                contents: '',                        //显示内容
                gather_rule: '',                     //采集规则
                gather_params: '',                   //流程模板
            },
        },
        methods: {
            pefFrom() {
                var basic = $('#pane-first').attr('style')
                var chart = $('#pane-second').attr('style')
                var job = $('#pane-third').attr('style')
                var flow = $('#pane-fourth').attr('style')
                if (basic == undefined || basic == "") {
                    vm.submitForm('basic')
                } else if (chart == undefined || chart == "") {
                    vm.submitForm('chart')
                } else if (job == undefined || job == "") {
                    vm.submitForm('job')
                } else if (flow == undefined || flow == "") {
                    vm.submitForm('flow')
                }
            },
            current_change1(value) {
                vm.page = value;
                vm.show()
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        vm.edit1()
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            edit2(row) {
                this.$confirm('此操作将永久删除该监控项, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    this.$message({
                            type: 'success',
                            message: '删除成功!',
                        },

                        axios({
                            method: 'post',
                            url: '${SITE_URL}monitor/delete/',
                            data: {
                                unit_id: row.id,
                                monitor_type: row.monitor_type,
                            }
                        }).then((res) => {
                            vm.show()
                        }),);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            show() {
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitor/show/',
                    data: {
                        page: vm.page,
                        limit: 10
                    },
                }).then(function (res) {
                    console.log(res.data)
                    vm.sites = res.data.results.res_list;
                    vm.page_count = res.data.results.res_list[0].page_count;
                    vm.job2 = res.data.results.job;
                })
            },
            select1() {
                vm.centerDialogVisible = false;
                vm.page = 1;
                if (vm.contents == "") {
                    vm.show()
                } else {
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitor/select/',
                        data: {
                            data: this.contents,
                            page: vm.page,
                            limit: 10
                        }
                    }).then((res) => {
                        vm.sites = res.data.message;
                        vm.page_count = res.data.message[0].page_count;
                    })
                }

            },
            edit(row) {
                vm.centerDialogVisible = true;
                vm.unit_id = row.id;
                vm.monitor_name = row.monitor_name;
                if (row.monitor_type == '基本单元类型') {
                    vm.disabled2 = false;
                    vm.disabled3 = true;
                    vm.disabled4 = true;
                    vm.disabled5 = true;
                    vm.monitor_type = 'first';
                    vm.basic.font_size = row.font_size;
                    vm.basic.height = row.height;
                    vm.basic.width = row.width;
                    vm.basic.start_time = row.start_time;
                    vm.basic.end_time = row.end_time;
                    vm.basic.period = row.period
                }
                if (row.monitor_type == '图表单元类型') {
                    vm.disabled2 = true;
                    vm.disabled3 = false;
                    vm.disabled4 = true;
                    vm.disabled5 = true;
                    vm.monitor_type = 'second';
                    vm.chart.font_size = row.font_size;
                    vm.chart.height = row.height;
                    vm.chart.width = row.width;
                    vm.chart.start_time = row.start_time;
                    vm.chart.end_time = row.end_time;
                    vm.chart.period = row.period;

                }
                if (row.monitor_type == '作业单元类型') {
                    vm.disabled2 = true;
                    vm.disabled3 = true;
                    vm.disabled4 = false;
                    vm.disabled5 = true;
                    vm.monitor_type = 'third';
                    vm.job.font_size = row.font_size;
                    vm.job.height = row.height;
                    vm.job.width = row.width;
                    vm.job.start_time = row.start_time;
                    vm.job.end_time = row.end_time;
                    vm.job.period = row.period
                }
                if (row.monitor_type == '流程单元类型') {
                    vm.disabled2 = true;
                    vm.disabled3 = true;
                    vm.disabled4 = true;
                    vm.disabled5 = false;
                    vm.monitor_type = 'fourth';
                    vm.flow.font_size = row.font_size;
                    vm.flow.height = row.height;
                    vm.flow.width = row.width;
                    vm.flow.start_time = row.start_time;
                    vm.flow.end_time = row.end_time;
                    vm.flow.period = row.period
                }
            },
            edit1() {
                vm.centerDialogVisible = false;
                if (vm.monitor_type == 'first') {
                    vm.data22 = vm.basic;
                    vm.basic.params = vm.server_url + ',' + vm.file_param;
                    vm.basic.monitor_name = vm.monitor_name;
                    vm.basic.monitor_type = vm.monitor_type
                } else if (vm.monitor_type == 'second') {
                    vm.data22 = vm.chart;
                    vm.chart.monitor_name = vm.monitor_name;
                    vm.chart.monitor_type = vm.monitor_type
                } else if (vm.monitor_type == 'third') {
                    vm.data22 = vm.job;
                    vm.job.monitor_name = vm.monitor_name;
                    vm.job.monitor_type = vm.monitor_type
                } else if (vm.monitor_type == 'fourth') {
                    vm.data22 = vm.flow;
                    vm.flow.monitor_name = vm.monitor_name;
                    vm.flow.monitor_type = vm.monitor_type;
                    vm.flow.params = vm.param1 + '+' + vm.param2
                }

                if (vm.unit_id > 0) {
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitor/edit/',
                        data: {
                            data: vm.data22,
                            monitor_type: vm.monitor_type,
                            monitor_name: vm.monitor_name,
                            unit_id: vm.unit_id,
                        }
                    }).then((res) => {
                        vm.show()
                    }).catch((error) => {
                        alert('修改失败！')
                    });
                } else {
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitor/add/',
                        data: {
                            data: vm.data22,
                            monitor_type: vm.monitor_type,
                            monitor_name: vm.monitor_name
                        },
                    }).then((res) => {
                        console.log(res['data']['code'])
                        if (res['data']['code'] == 1)
                            alert('保存失败！');
                        else alert('保存成功！');
                        vm.show()
                    }).catch((error) => {
                        alert('保存失败！')
                    });
                }
            },
            edit3(row) {
                setTimeout(
                    function () {
                        vm.disabled2 = false;
                        vm.disabled3 = false;
                        vm.disabled4 = false;
                        vm.disabled5 = false;
                        vm.monitor_type = 'first';
                        vm.unit_id = row;
                        vm.basic = vm.basic1;
                        vm.chart = vm.chart1;
                        vm.job = vm.job1;
                        vm.flow = vm.flow1;
                        vm.centerDialogVisible = true
                    }, 1);
                this.get_db_connections();

            },
            del() {
                vm.edit(0)
            },
            change1(value) {
                if (value == 3) {
                    vm.sql1 = 'block';
                    vm.file1 = 'none';
                    vm.interface1 = 'none';
                    vm.server_url = '';
                    vm.file_param = '';
                    vm.basic.gather_rule = '';
                    vm.basic.gather_params = 'sql'
                } else if (value == 6) {
                    vm.sql1 = 'none';
                    vm.file1 = 'block';
                    vm.interface1 = 'none';
                    vm.server_url = '';
                    vm.file_param = '';
                    vm.basic.gather_rule = '';
                    vm.basic.gather_params = 'file';
                } else if (value == 9) {
                    vm.sql1 = 'none';
                    vm.file1 = 'none';
                    vm.interface1 = 'block';
                    vm.server_url = '';
                    vm.file_param = '';
                    vm.basic.gather_rule = '';
                    vm.basic.gather_params = 'interface';
                }
            },
            change2(value) {
                if (value == 1) {
                    vm.zuoye = 'block';
                } else {
                    vm.zuoye = 'none';
                }
            },
            change3(value) {
                if (value == 1) {
                    vm.liucheng = 'block';
                } else {
                    vm.liucheng = 'none';
                }
            },
            time1() {
                vm.disabled1 = true;
                setTimeout(function () {
                    vm.disabled1 = false;
                }, 60000);
            },
            rowclass({row, rowIndex}) {
                return 'background:#F7F7F7'
            },
            get_db_connections() {
                axios({
                    url: '${SITE_URL}DataBaseManage/get_all_db_connection/',
                    method: 'post',
                }).then((res) => {
                    console.log(this.sites)
                    let json = [];

                    if (res.data.results.length > 0){
                        for (let i = 0;i < res.data.results.length; i++){
                            let j = {};
                            j.value = res.data.results[i].id;
                            j.label = res.data.results[i].connname;
                            json.push(j);
                        };
                        this.sites = json;
                    }
                    console.log(this.sites)
                }).catch((res) => {
                    console.log('获取数据库连接错误')
                })
            }
        },
        mounted() {
        },
    });
    vm.show();
</script>
<script>
    setInterval(function () {
        $('input[type=number]').keypress(function (e) {
            if (!String.fromCharCode(e.keyCode).match(/[0-9\.]/)) {
                return false;
            }
        });
    }, 1)
</script>
</html>