<html>
<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
<style>
    input{
        width: 250px;
        height: 30px;
    }
    .el-table--border th{
        padding:5px

    }

</style>
</head>
<body>
<div id="app">
    <!-- div1 start-->
    <div class="div1" style="padding: 20px 40px 0px 40px;">
        <div>
            <el-input placeholder="请输入内容" clearable v-model="contents" style="width:30%"></el-input>
            <el-button type="primary" icon="el-icon-search" v-on:click="select1">搜索</el-button>
            <el-popover placement="top-start"  width="200" trigger="hover" content="新增一个单元。" style="float:right;">
            <el-button slot="reference" v-on:click="edit3(0)">新增</el-button>
            </el-popover>
        </div>
    <div style="height: 20px"></div>
    <div>
        <el-table :data="sites" border style="width: 100%;" header-align="center">
            <el-table-column prop="id" label="序号" sortable ></el-table-column>
            <el-table-column prop="unit_name" label="单元名称" sortable ></el-table-column>
            <el-table-column prop="unit_type" label="单元类型" sortable ></el-table-column>
            <el-table-column prop="editor" label="编辑人" sortable ></el-table-column>
            <el-table-column prop="edit_time" label="修改时间" sortable ></el-table-column>
            <el-table-column label="操作" >
                <template slot-scope="scope">
                    <!--<el-button id="button1" type="text" size="small" v-on:click="edit(scope.row.id)" >编辑</el-button>-->
                    <el-button type="text" v-on:click="edit(scope.row)">编辑</el-button>
                    <el-button type="text" v-on:click="edit2(scope.row.id)">删除</el-button>
                    <el-tooltip :content="value1" placement="top">
                    <el-switch v-model="value1" active-color="#13ce66" inactive-color="#ff4949" active-value="开" inactive-value="关"></el-switch>
                    </el-tooltip>
                </template>
            </el-table-column>
            </el-table>
        <el-pagination background layout="prev, pager, next" :total="1000" style="float:right"></el-pagination>
    </div>
    </div>
    <!-- div1 end-->
    <!-- 对话框 start-->
    <el-dialog title="基本信息" :visible.sync="centerDialogVisible" width="80%">
        <HR align=center width=100% color=#979797 SIZE=0.5>
        <div style="height: 30px"></div>
        <div>
            <span>监控单元名称</span>
            <el-input placeholder="请输入单元名称" v-model="input1" style="width: 30%"></el-input>
        </div>
        <div style="height: 30px"></div>
        <span>
            <el-tabs type="card" v-model="activeName2">
                <!--基本单元 start-->
                <el-tab-pane label="基本单元" name="first">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="字号" prop="resource">
                                    <el-select v-model="ruleForm.region1" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%" prop="data1">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-input v-model="ruleForm.data1" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11" >
                                        <el-form-item>
                                              <el-input v-model="ruleForm.data2" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容"  prop="desc" style="width: 96%">
                                        <el-input v-model="ruleForm.input1" placeholder="上证指数:3000  深证指数:3000" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="数据来源" prop="resource">
                                    <el-radio-group v-model="radio2" @change="change1" style="padding: 14px">
                                        <el-radio :label="3">数据库</el-radio>
                                        <el-radio :label="6">文件</el-radio>
                                        <el-radio :label="9">接口</el-radio>
                                     </el-radio-group>
                                </el-form-item>
                                <div :style="{ display: sql1 }">
                                    <el-form-item label="数据库连接" prop="resource">
                                        <el-select v-model="ruleForm.region2" placeholder="请选择数据库">
                                            <el-option label="ip1" value="8"></el-option>
                                            <el-option label="ip2" value="10"></el-option>
                                            <el-option label="ip3" value="12"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="数据采集规则"  prop="desc" style="width: 96%">
                                        <el-input v-model="ruleForm.input5" placeholder="select * from tb_hq" type="textarea"></el-input>
                                    </el-form-item>
                                </div>

                                <div :style="{display:file1}">
                                    <el-form-item label="服务器" prop="desc" >
                                        <el-input placeholder="请输入服务器" v-model="ruleForm.input6" style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="文件路径" prop="desc" >
                                        <el-input placeholder="请输入文件路径" v-model="ruleForm.input2" style="width: 96%"></el-input>
                                    </el-form-item>
                                </div>
                                <div :style="{display:interface1}">
                                    <el-form-item label="url" prop="desc" >
                                        <el-input placeholder="请输入url" v-model="ruleForm.input7" style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="接口参数" prop="desc" >
                                        <el-input type="textarea" v-model="ruleForm.input3"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-time-select placeholder="起始时间" v-model="ruleForm.date1" :picker-options="{
                                                  start: '00:00',
                                                  step: '00:05',
                                                  end: '24:00'
                                                }" >
                                              </el-time-select>
                                          </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-select placeholder="结束时间" v-model="ruleForm.date2" :picker-options="{
                                              start: '00:00',
                                              step: '00:05',
                                              end: '24:00',
                                              minTime: startTime
                                            }">
                                            </el-time-select>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="desc" >
                                    <el-input  v-model="ruleForm.desc2" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <div style="height: 60px"></div>
                                <h3>上证指数:3000</h3>
                                <h3>深证指数:3000</h3>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->
                <!-- 图表单元 start-->
                <el-tab-pane label="图表单元" name="second">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="字号" prop="resource">
                                    <el-select v-model="ruleForm.region3" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%" prop="data1">
                                    <el-col :span="11">
                                        <el-form-item >
                                            <el-input v-model="ruleForm.data3" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item >
                                              <el-input v-model="ruleForm.data4" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="图标类型" prop="resource">
                                    <el-select v-model="ruleForm.region" placeholder="请选择图表类型">
                                        <el-option label="折线图" value=333></el-option>
                                        <el-option label="柱状图" value="444"></el-option>
                                        <el-option label="饼图" value="555"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="显示内容" prop="desc" style="width: 96%">
                                    <el-input type="textarea" v-model="ruleForm.input4" placeholder="上证指数:3000  深证指数:3000"></el-input>
                                </el-form-item>
                                <el-form-item label="连接数据库" prop="resource">
                                    <el-select v-model="ruleForm.region5" placeholder="请选择数据库">
                                        <el-option label="数据库1" value="888"></el-option>
                                        <el-option label="数据库2" value="777"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="图表采集规则"  prop="desc" style="width: 96%">
                                    <el-input v-model="ruleForm.input8" placeholder="select * from tb_hq" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-time-select placeholder="起始时间" v-model="ruleForm.date3" :picker-options="{
                                                  start: '00:00',
                                                  step: '00:05',
                                                  end: '24:00'
                                                }" >
                                              </el-time-select>
                                          </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-select placeholder="结束时间" v-model="ruleForm.date4" :picker-options="{
                                              start: '00:00',
                                              step: '00:05',
                                              end: '24:00',
                                              minTime: startTime
                                            }">
                                            </el-time-select>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="desc" >
                                    <el-input  v-model="ruleForm.desc3" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;">
                                    <img src="${STATIC_URL}img/zhuzhuangtu.jpg" style="max-width: 100%;max-height: 100%;">
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 图表单元 end-->
                <!-- 作业单元 start-->
                <el-tab-pane label="作业单元" name="third">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="字号" prop="resource">
                                    <el-select v-model="ruleForm.region14" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%" prop="data1">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-input v-model="ruleForm.data5" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-input v-model="ruleForm.data6" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容" prop="desc" style="width: 96%">
                                    <el-input type="textarea" v-model="ruleForm.desc4" placeholder="上证指数:3000  深证指数:3000"></el-input>
                                </el-form-item>
                                <el-form-item label="作业模板" prop="resource">
                                    <el-select v-model="ruleForm.region7" placeholder="请选择作业模板">
                                        <el-option label="模板1" value="7"></el-option>
                                        <el-option label="模板2" value="8"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="NODE_KEY" prop="region" style="width: 96%">
                                    <el-input v-model="ruleForm.region8" placeholder="请输入NODE_KEY"></el-input>
                                </el-form-item>
                                <el-form-item label="执行服务器" prop="region" style="width: 96%">
                                    <el-input v-model="ruleForm.desc5" placeholder="请输入服务器地址"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-time-select placeholder="起始时间" v-model="ruleForm.date5" :picker-options="{
                                                  start: '00:00',
                                                  step: '00:05',
                                                  end: '24:00'
                                                }" >
                                              </el-time-select>
                                          </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-select placeholder="结束时间" v-model="ruleForm.date6" :picker-options="{
                                              start: '00:00',
                                              step: '00:05',
                                              end: '24:00',
                                              minTime: startTime
                                            }">
                                            </el-time-select>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="desc" >
                                    <el-input  v-model="ruleForm.desc6" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <div style="height: 60px"></div>
                                <el-progress type="circle" :percentage="100" status="success"></el-progress>
                            </div>
                            <div style="padding: 0px 10%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                                <el-checkbox v-model="checked1" @change="change2">启动脚本</el-checkbox>
                                <div :style="{ display: zuoye }">
                                    <el-alert title="启动作业可能会对系统造成不可逆的变更，请谨慎勾选此项！" type="warning" show-icon show-icon true-label="1" false-label="0"></el-alert>
                                </div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 作业单元 end-->
                <!-- 流程单元 start-->
                <el-tab-pane label="流程单元" name="fourth">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="字号" prop="resource">
                                    <el-select v-model="ruleForm.region13" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%" prop="data1">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-input v-model="ruleForm.data7" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-input v-model="ruleForm.data8" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="流程模板" prop="resource">
                                    <el-select v-model="ruleForm.region9" placeholder="请选择模板">
                                        <el-option label="模板1" value="7"></el-option>
                                        <el-option label="模板2" value="8"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="参数1" style="width: 96%">
                                    <el-input v-model="ruleForm.desc7" placeholder="请输入参数"></el-input>
                                </el-form-item>
                                <el-form-item label="参数2" style="width: 96%">
                                    <el-input v-model="ruleForm.desc8" placeholder="请输入参数"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-time-select placeholder="起始时间" v-model="ruleForm.date7" :picker-options="{
                                                  start: '00:00',
                                                  step: '00:05',
                                                  end: '24:00'
                                                }" >
                                              </el-time-select>
                                          </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-select placeholder="结束时间" v-model="ruleForm.date8" :picker-options="{
                                              start: '00:00',
                                              step: '00:05',
                                              end: '24:00',
                                              minTime: startTime
                                            }">
                                            </el-time-select>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期" prop="desc" >
                                    <el-input  v-model="ruleForm.desc9" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <img src="${STATIC_URL}img/liucheng.png" style="max-width: 100%;max-height: 100%;">
                            </div>
                            <div style="padding: 0px 10%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                                <el-checkbox v-model="checked2" @change="change3">启动流程</el-checkbox>
                                <div :style="{ display: liucheng }">
                                    <el-alert title="启动流程可能会对系统造成不可逆的变更，请谨慎勾选此项！" type="warning" show-icon true-label="1" false-label="0"></el-alert>
                                </div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->
            </el-tabs>
        </span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="centerDialogVisible = false">保 存</el-button>
        </span>
    </el-dialog>
    <!-- 对话框 end-->
</div>
</body>



<script>
var vm = new Vue({
    el:'#app',
    data: {
        sites: [],                                //table内容
        contents: '',                             //搜索输入框内容
        height1: '',
        input2:'',
        width1: '',
        checked1:false,                           //作业启动选框
        checked2:false,                           //流程启动选框
        unit_name: '',
        font_size: '',
        unit_id: 0,                               //单元id
        value1:'开',                              //开关状态
        centerDialogVisible: false,              //弹窗状态
        input1:'',                                //单元名称
        radio2:'',
        sql1:'block',
        file1:'none',
        interface1:'none',
        zuoye:'none',
        liucheng:'none',
        activeName2: 'first',
        rules: {
            name: [
                { required: true, message: '请输入名称', trigger: 'blur' },
                { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
              ],
            region: [
                { type: 'string', required: true, message: '请选择', trigger: 'change' }
              ],
            data1: [
                { type: 'number', required: true, message: '必须为数字值',trigger: 'change' }
              ],
            date1: [
            { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
          ],
            date2: [
            { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
          ],
            type: [
            { type: 'array', required: true, message: '请选择', trigger: 'change' }
            ],
            resource: [
            { required: true, message: '请选择', trigger: 'change' }
            ],
            desc1: [
            { required: true, message: '请填写内容', trigger: 'blur' }
            ],
        },
        ruleForm: {
            input1:'',
            input2:'',
            input3:'',
            input4:'',
            input5:'',
            input6:'',
            input7:'',
            input8:'',
            name: '',
            region1: '',
            region2: '',
            region3: '',
            region4: '',
            region5: '',
            region6: '',
            region7: '',
            region8: '',
            region9: '',
            data1: '',
            data2: '',
            data3: '',
            data4: '',
            data5: '',
            data6: '',
            data7: '',
            data8: '',
            date1:'',
            date2:'',
            date3:'',
            date4:'',
            date5:'',
            date6:'',
            date7:'',
            date8:'',
            delivery: false,
            type: [],
            resource: '3',
            desc: '',
            desc1:'',
            desc2:'',
            desc3:'',
            desc4:'',
            desc5:'',
            desc6:'',
            desc7:'',
            desc8:'',
            desc9:'',

        },
    },
    methods: {
        submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        edit2(row) {
            this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                center: true
            }).then(() => {
                this.$message({
                        type: 'success',
                        message: '删除成功!',
                    },
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitor/test3/',
                        data: {
                            unit_id: row
                        }
                    }).then((res) => {
                        vm.a();
                    }),);
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
        },
        a() {
            axios({
                method: 'post',
                url: '${SITE_URL}monitor/test/',
            }).then((res) => {
                vm.sites = res.data.message;

            })
        },
        select1() {
            axios({
                method: 'post',
                url: '${SITE_URL}monitor/test1/',
                data: this.contents,
            }).then((res) => {
                vm.sites = res.data.message;
            })
        },
        edit(row) {
            vm.centerDialogVisible = true;
            vm.unit_id = row.id;
            vm.unit_name = row.unit_name;
            vm.height = row.hight;
            vm.font_size = row.font_size;
            vm.wide = row.wide;
        },
        edit1() {
            axios({
                method: 'post',
                url: '${SITE_URL}monitor/test2/',
                data: {
                    height: this.height1,
                    width: this.width1,
                    unit_name: this.unit_name,
                    unit_id: vm.unit_id,
                    font_size: this.font_size,
                }
            }).then((res) => {
                vm.a();
            })
        },
        edit3(row) {
            vm.centerDialogVisible = true;
            vm.unit_id = row;
        },
        del() {
            vm.edit(0)
        },
        change1(value){
            if(value==3){
                vm.sql1 = 'block';
                vm.file1 = 'none';
                vm.interface1 = 'none';
            }else if (value==6) {
                vm.sql1 = 'none';
                vm.file1 = 'block';
                vm.interface1 = 'none';
            }else if (value==9){
                vm.sql1 = 'none';
                vm.file1 = 'none';
                vm.interface1 = 'block';
            }
        },
        change2(value){
            if (value==1) {
                vm.zuoye = 'block';
            }else {
                vm.zuoye = 'none';
            }
        },
        change3(value){
            if (value==1) {
                vm.liucheng = 'block';
            }else {
                vm.liucheng = 'none';
            }
        },
    },
    mounted() {
    },

});
vm.a();
</script>

</html>