<html>
<head>
    <meta charset="UTF-8">
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 -->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- element UI引入样式 -->
    <link rel="stylesheet" href="${STATIC_URL}assets/element-2.4.11/index.css">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!--axios.min.js--vue.js的ajax支持-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <script src="${STATIC_URL}assets/jquery/jquery-3.1.1.min.js"></script>
    <link type="text/css" href="${STATIC_URL}css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
<style>
    input{
        width: 250px;
        height: 30px;
    }
    .el-table--border th{
        padding:5px
    }

</style>
</head>
<body>
<div id="app">
    <!-- div1 start-->
    <div class="div1" style="padding: 20px 40px 0px 40px;">
        <div>
            <el-input placeholder="请输入内容" clearable v-model="contents" style="width:30%"></el-input>
            <el-button type="primary" icon="el-icon-search" v-on:click="select1">搜索</el-button>
            <el-popover placement="top-start"  width="200" trigger="hover" content="新增一个单元。" style="float:right;">
            <el-button slot="reference" v-on:click="edit3(0)">新增</el-button>
            </el-popover>
        </div>
    <div style="height: 20px"></div>
    <div>
        <el-table :data='sites' :header-cell-style='rowclass' style="width: 100%;" border  header-align="center">
            <el-table-column prop="id" label="序号" sortable ></el-table-column>
            <el-table-column prop="unit_name" label="监控名称" sortable ></el-table-column>
            <el-table-column prop="unit_type" label="监控类型" sortable ></el-table-column>
            <el-table-column prop="editor" label="编辑人" sortable ></el-table-column>
            <el-table-column prop="edit_time" label="修改时间" sortable ></el-table-column>
            <el-table-column label="操作" >
                <template slot-scope="scope">
                    <!--<el-button id="button1" type="text" size="small" v-on:click="edit(scope.row.id)" >编辑</el-button>-->
                    <el-button size="mini" type="text" v-on:click="edit(scope.row)">编辑</el-button>
                    <el-button size="mini" type="text" v-on:click="edit2(scope.row.id)">删除</el-button>
                    <el-tooltip :content="value1" placement="top">
                    <el-switch v-model="value1" active-color="#13ce66" inactive-color="#ff4949" active-value="开" inactive-value="关"></el-switch>
                    </el-tooltip>
                </template>
            </el-table-column>
            </el-table>
        <el-pagination background layout="prev, pager, next" :total="1000" style="float:right"></el-pagination>
    </div>
    </div>
    <!-- div1 end-->
    <!-- 对话框 start-->
    <el-dialog title="基本信息" :visible.sync="centerDialogVisible" width="80%">
        <HR align=center width=100% color=#979797 SIZE=0.5>
        <div style="height: 30px"></div>
        <div>
            <span>监控单元名称</span>
            <el-input placeholder="请输入单元名称" v-model="input1" style="width: 30%"></el-input>
        </div>
        <div style="height: 30px"></div>
        <span>
            <el-tabs type="card" v-model="unit_name">

                <!--基本单元 start-->
                <el-tab-pane label="基本单元" name="first">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="basic"  ref="basic" label-width="100px">
                                <el-form-item label="字号">
                                    <el-select v-model="basic.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" style="width: 96%" >
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-input v-model="basic.height" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11" >
                                        <el-form-item>
                                              <el-input v-model="basic.wide" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容"   style="width: 96%">
                                        <el-input v-model="basic.contents" placeholder="上证指数:3000  深证指数:3000" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="数据来源">
                                    <el-radio-group v-model="basic.sql_file_interface" @change="change1" style="padding: 14px">
                                        <el-radio :label="3">数据库</el-radio>
                                        <el-radio :label="6">文件</el-radio>
                                        <el-radio :label="9">接口</el-radio>
                                     </el-radio-group>
                                </el-form-item>
                                <div :style="{ display: sql1 }">
                                    <el-form-item label="数据库连接">
                                        <el-select v-model="basic.sql" placeholder="请选择数据库">
                                            <el-option v-for="i in sites" :label="i.editor" :value="i.editor"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="数据采集规则" style="width: 96%">
                                        <el-input v-model="basic.rules" placeholder="select * from tb_hq" type="textarea"></el-input>
                                    </el-form-item>
                                </div>

                                <div :style="{display:file1}">
                                    <el-form-item label="服务器" >
                                        <el-input placeholder="请输入服务器" v-model="basic.server" style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="文件路径" >
                                        <el-input placeholder="请输入文件路径" v-model="basic.file" style="width: 96%"></el-input>
                                    </el-form-item>
                                </div>
                                <div :style="{display:interface1}">
                                    <el-form-item label="url" >
                                        <el-input placeholder="请输入url" v-model="basic.urls" style="width: 96%"></el-input>
                                    </el-form-item>
                                    <el-form-item label="接口参数" >
                                        <el-input type="textarea" v-model="basic.param"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="basic.start_time"  placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="basic.end_time"  placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </el-form-item>
                                <el-form-item label="采集周期">
                                    <el-input  v-model="basic.cycle" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <div style="height: 60px"></div>
                                <h3>上证指数:3000</h3>
                                <h3>深证指数:3000</h3>
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->

                <!-- 图表单元 start-->
                <el-tab-pane label="图表单元" name="second">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="chart" ref="chart" label-width="100px">
                                <el-form-item label="字号">
                                    <el-select v-model="chart.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item >
                                            <el-input v-model="chart.height" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item >
                                              <el-input v-model="chart.wide" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="图标类型">
                                    <el-select v-model="chart.chart_type" placeholder="请选择图表类型">
                                        <el-option label="折线图" value="折线图"></el-option>
                                        <el-option label="柱状图" value="柱状图"></el-option>
                                        <el-option label="饼图" value="饼图"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="显示内容" style="width: 96%">
                                    <el-input type="textarea" v-model="chart.contents" placeholder="上证指数:3000  深证指数:3000"></el-input>
                                </el-form-item>
                                <el-form-item label="连接数据库">
                                    <el-select v-model="chart.sql" placeholder="请选择数据库">
                                        <el-option v-for="i in sites" :label="i.editor" :value="i.editor"></el-option>

                                    </el-select>
                                </el-form-item>
                                <el-form-item label="图表采集规则" style="width: 96%">
                                    <el-input v-model="chart.rules" placeholder="select * from tb_hq" type="textarea"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="chart.start_time"  placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="chart.end_time"  placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期">
                                    <el-input  v-model="chart.cycle" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;">
                                    <img src="${STATIC_URL}img/zhuzhuangtu.jpg" style="max-width: 100%;max-height: 100%;">
                            </div>
                            <div style="padding: 0px 20%">
                                <div style="height: 20px"></div>
                                <el-button type="primary">采集测试</el-button>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 图表单元 end-->

                <!-- 作业单元 start-->
                <el-tab-pane label="作业单元" name="third">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="job" ref="job" label-width="100px">
                                <el-form-item label="字号">
                                    <el-select v-model="job.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-input v-model="job.height" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-input v-model="job.wide" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="显示内容" style="width: 96%">
                                    <el-input type="textarea" v-model="job.contents" placeholder="上证指数:3000  深证指数:3000"></el-input>
                                </el-form-item>
                                <el-form-item label="作业模板">
                                    <el-select v-model="job.job_mould" placeholder="请选择作业模板">
                                        <el-option v-for="i in sites" :label="i.editor" :value="i.editor"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="NODE_KEY" style="width: 96%">
                                    <el-input v-model="job.NODE_KEY" placeholder="请输入NODE_KEY"></el-input>
                                </el-form-item>
                                <el-form-item label="执行服务器" style="width: 96%">
                                    <el-input v-model="job.server" placeholder="请输入服务器地址"></el-input>
                                </el-form-item>
                                <el-form-item label="采集时间段:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="job.start_time"  placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="job.end_time"  placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="采集周期">
                                    <el-input  v-model="job.cycle" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <div style="height: 60px"></div>
                                <el-progress type="circle" :percentage="100" status="success"></el-progress>
                            </div>
                            <div style="padding: 0px 10%">
                                <div style="height: 20px"></div>
                                <el-button type="primary" :disabled="disabled1" v-on:click="time1">采集测试</el-button>
                                <el-checkbox v-model="checked1" @change="change2">启动脚本</el-checkbox>
                                <div :style="{ display: zuoye }">
                                    <el-alert title="启动作业可能会对系统造成不可逆的变更，请谨慎勾选此项！" type="warning" show-icon show-icon true-label="1" false-label="0"></el-alert>
                                </div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 作业单元 end-->

                <!-- 流程单元 start-->
                <el-tab-pane label="流程单元" name="fourth">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-form :model="flow" ref="flow" label-width="100px">
                                <el-form-item label="字号">
                                    <el-select v-model="flow.font_size" placeholder="请选择字号">
                                        <el-option label="8" value="8"></el-option>
                                        <el-option label="10" value="10"></el-option>
                                        <el-option label="12" value="12"></el-option>
                                        <el-option label="14" value="14"></el-option>
                                        <el-option label="16" value="16"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="高Ⅹ宽" required style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-input v-model="flow.height" placeholder="请输入高度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="line" :span="2">Ⅹ</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                              <el-input v-model="flow.wide" placeholder="请输入宽度"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                <el-form-item label="流程模板">
                                    <el-select v-model="flow.flow_mould" placeholder="请选择模板">
                                        <el-option v-for="i in sites" :label="i.editor" :value="i.editor"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="参数1" style="width: 96%">
                                    <el-input v-model="flow.param1" placeholder="请输入参数"></el-input>
                                </el-form-item>
                                <el-form-item label="参数2" style="width: 96%">
                                    <el-input v-model="flow.param2" placeholder="请输入参数"></el-input>
                                </el-form-item>
                                   <el-form-item label="节点">
                                        <el-select v-model="flow.node" placeholder="请选择节点">
                                          <el-option v-for="i in sites" :label="i.editor" :value="i.editor"></el-option>
                                        </el-select>
                                      </el-form-item>
                                <div v-if="flow.node === 'shanghai'">
                                <el-form-item label="节点周期:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.start_time"  placeholder="开始时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.end_time"  placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </div>
                                <div v-if="flow.node === 'beijing'">
                                <el-form-item label="节点周期:" style="width: 96%">
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.start_time"  placeholder="开始时间点1" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                        </el-col>
                                    <el-col class="line" :span="2">—</el-col>
                                    <el-col :span="11">
                                        <el-form-item>
                                            <el-time-picker style="width: 96%" v-model="flow.end_time"  placeholder="结束时间点" format="hh:mm" value-format="hh:mm">
                                            </el-time-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>
                                </div>
                                <el-form-item label="采集周期">
                                    <el-input  v-model="flow.cycle" style="width: 96%" placeholder="请输入采集周期"></el-input>秒
                                </el-form-item>
                            </el-form>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">
                            <div style="padding: 0px 45% 0px 45%">
                                <h2>预览</h2>
                            </div>
                            <div style="text-align:center;width: 100%;height: 40%;background-color: whitesmoke;">
                                <img src="${STATIC_URL}img/liucheng.png" style="max-width: 100%;max-height: 100%;">
                            </div>
                            <div style="padding: 0px 10%">
                                <div style="height: 20px"></div>
                                <el-button type="primary" v-on:click="time1" :disabled="disabled1">采集测试</el-button>
                                <el-checkbox v-model="checked2" @change="change3">启动流程</el-checkbox>
                                <div :style="{ display: liucheng }">
                                    <el-alert title="启动流程可能会对系统造成不可逆的变更，请谨慎勾选此项！" type="warning" show-icon true-label="1" false-label="0"></el-alert>
                                </div>
                            </div>
                        </div></el-col>
                    </el-row>
                </el-tab-pane>
                <!-- 基本单元 end-->
            </el-tabs>
        </span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="centerDialogVisible = false">取 消</el-button>
            <el-button type="primary" v-on:click="edit1">保 存</el-button>
        </span>
    </el-dialog>
    <!-- 对话框 end-->
</div>
</body>



<script>
var vm = new Vue({
    el:'#app',
    data: {
        sites: [],                                //table内容
        contents: '',                             //搜索输入框内容
        checked1:false,                           //作业启动选框
        checked2:false,                           //流程启动选框
        disabled1:false,
        caiji1:'block',
        caiji2:'none',
        unit_id: 0,                               //单元id
        value1:'开',                              //开关状态
        centerDialogVisible: false,              //弹窗状态
        input1:'',                                //单元名称
        sql1:'block',
        file1:'none',
        interface1:'none',
        zuoye:'none',
        liucheng:'none',
        unit_name: 'first',              //单元类型
        basic: {                            //基本单元
            font_size:'',                   //字号
            height:'',                      //高度
            wide:'',                        //宽度
            contents:'',                    //显示内容
            sql_file_interface:'sql',          //数据来源
            sql:'',                         //连接数据库
            rules:'',                       //数据采集规则
            server:'',                      //服务器
            file:'',                        //文件路径
            urls:'',                        //url
            param:'',                       //接口参数
            start_time:'',                  //开始时间
            end_time:'',                    //结束时间
            cycle:'',                       //采集周期
        },
        chart: {                            //图表单元
            font_size:'',                   //字号
            height:'',                      //高度
            wide:'',                        //宽度
            chart_type:'',                  //图表类型
            contents:'',                    //显示内容
            sql:'',                         //连接数据库
            rules:'',                       //采集规则
            start_time:'',                  //开始时间
            end_time:'',                    //结束时间
            cycle:'',                       //采集周期
        },
        job: {                              //作业单元
            font_size:'',                   //字号
            height:'',                      //高度
            wide:'',                        //宽度
            contents:'',                    //显示内容
            job_mould:'',                   //作业模板
            NODE_KEY:'',                    //NODE_KEY参数
            server:'',                      //服务器
            start_time:'',                  //开始时间
            end_time:'',                    //结束时间
            cycle:'',                       //采集周期
        },
        flow: {                             //流程单元
            font_size:'',                   //字号
            height:'',                      //高度
            wide:'',                        //宽度
            flow_mould:'',                  //流程模板
            param1:'',                      //流程参数1
            param2:'',                      //流程参数2
            node:'',                        //节点
            start_time:'',                  //开始时间
            end_time:'',                    //结束时间
            cycle:'',                       //采集周期
        },

    },
    methods: {
        submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        edit2(row) {
            this.$confirm('此操作将永久删除该监控项, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
                center: true
            }).then(() => {
                this.$message({
                        type: 'success',
                        message: '删除成功!',
                    },
                    axios({
                        method: 'post',
                        url: '${SITE_URL}monitor/test3/',
                        data: {
                            unit_id: row
                        }
                    }).then((res) => {
                        vm.a();
                    }),);
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
        },
        a() {
            axios({
                method: 'post',
                url: '${SITE_URL}monitor/test/',
            }).then(function(res) {
                console.log(res);
                vm.sites = res.data.message;

            })
        },
        select1() {
            vm.centerDialogVisible = false;
            axios({
                method: 'post',
                url: '${SITE_URL}monitor/test1/',
                data: this.contents,
            }).then((res) => {
                vm.sites = res.data.message;
            })
        },
        edit(row) {
            vm.centerDialogVisible = true;
            vm.unit_id = row.id;
            vm.unit_name = row.unit_name;
            vm.height = row.height;
            vm.font_size = row.font_size;
            vm.wide = row.wide;
        },
        edit1() {
            vm.centerDialogVisible = false;
            if(vm.unit_name == 'first') {
                data22 = vm.basic
            }else if (vm.unit_name == 'second'){
                data22 = vm.chart
            }else if(vm.unit_name == 'third') {
                data22 = vm.job
            }else if(vm.unit_name == 'fourth'){
                data22 = vm.flow
            }
            if(vm.unit_id > 0) {
                axios({
                    method: 'post',
                    url: '${SITE_URL}monitor/test2/',
                    data: data22,
                }).then((res) => {
                    vm.a();
                })
            }
            else {
                axios({
                    method:'post',
                    url:'${SITE_URL}monitor/test3/',
                    data:{},
                }).then((res) => {

                })
            }
        },
        edit3(row) {
            vm.centerDialogVisible = true;
            vm.unit_id = row;
        },
        del() {
            vm.edit(0)
        },
        change1(value){
            console.log(vm.basic.sql_file_interface);
            if(value==3){
                vm.sql1 = 'block';
                vm.file1 = 'none';
                vm.interface1 = 'none';
                vm.basic.sql_file_interface = 'sql'
            }else if (value==6) {
                vm.sql1 = 'none';
                vm.file1 = 'block';
                vm.interface1 = 'none';
                vm.basic.sql_file_interface = 'file';
            }else if (value==9){
                vm.sql1 = 'none';
                vm.file1 = 'none';
                vm.interface1 = 'block';
                vm.basic.sql_file_interface = 'interface';
            }
        },
        change2(value){
            if (value==1) {
                vm.zuoye = 'block';
            }else {
                vm.zuoye = 'none';
            }
        },
        change3(value){
            if (value==1) {
                vm.liucheng = 'block';
            }else {
                vm.liucheng = 'none';
            }
        },
        time1(){
            vm.disabled1 = true;
            setTimeout(function(){
                vm.disabled1 = false;
            },60000);

        },
        rowclass({row, rowIndex}) {
            console.log(rowIndex);
            return 'background:#F7F7F7'
        },
    },
    mounted() {
    },

});
vm.a();
</script>

</html>